body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    /* background-color: black; */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;

}

.contentNavigations {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;


}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #70B11C;
    width: 100%;
    flex-wrap: wrap;



}

.navBar {
    display: flex;
    flex-direction: row;
    gap: 50px;


}

.link {
    color: white;
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 1.5px;
    font-weight: 500;
}