{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/users/user_login.css' %}">
    <section class="user-login">
        <div>
            <h1>Sign In</h1>
            <p>Sign in with your username and password</p>
        </div>
        <form method="post" action="{% url 'profile login' %}">
            {{ form.as_div }}
            {% csrf_token %}
            <button>Sign In</button>
            <a href="{% url 'reset_password' %}">Forgotten password</a>
        </form>

    </section>
{% endblock %}