/* font-family: 'Baloo 2', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Tenor Sans', sans-serif;
font-family: 'Wix Madefor Display', sans-serif; */
.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-image: linear-gradient(25deg, #517F57, #517F57, #517F57, #F8F7EE, #12523bd0, #0D3E3E, #0D3E3E);


}


.body::before {
    content: "";
    display: block;
    position: fixed;
    top: 50px;
    left: -300px;
    width: 100%;
    height: 100%;
    background-image: url("../images/lungs1.png");
    background-size: 900px 95%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
   
}

.header {
    width: 100%;
    font-family: 'Poiret One', cursive;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.logo {
    margin: 10px 0px 10px 0px;
    font-size: 28px;
    color: aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid aliceblue;
    border-radius: 100%;
    margin-right: 338px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-right: 200px;
}

.nav-item {
    margin-right: 25px;
}

.nav-item a {
    font-size: 25px;
    text-decoration: none;
    color: aliceblue;
    letter-spacing: 2.5px;
}
.donation-split i{
margin-right: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;

}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;


}

.footer p {
    color: aliceblue;
    font-size: 22px;
    font-family: 'Poiret One', cursive;
    letter-spacing: 1px;
}

/* ---------------------------------------------------------------- */
.main-content-header {
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px 3px black;
    font-weight: 100;
    letter-spacing: 2.5px;
    font-style: italic;
    position: absolute;
    top: -100px;
    left: 550px;
    font-family: 'Tenor Sans', sans-serif;
    display: block;
  
  

 
}
.container-nav-medications-medical-equipment {
    display: flex;
    flex-direction: row;
    height: 650px;
 
    width: 80%;
    align-items: center;
    justify-content: space-evenly;

  

}

.container-nav{
    margin-top: 65px;
    padding: 30px 10px;
    border-radius: 10px;
    background-color: #0d3e3e2a;
    backdrop-filter: blur(5px); 
    text-shadow: 1px 1px 2px #0D3E3E;
    box-shadow: 0px 0px 5px 1px aliceblue ;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    align-items: center;

    
}
.container-nav li{
   margin-bottom: 25px;
   margin-left: 0px;
}
#medications-link, #medical-equipment-link{
    text-decoration: none;
    font-size: 22px;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 100;
    color: aliceblue;
    font-style: italic;
}