/* font-family: 'Baloo 2', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Tenor Sans', sans-serif;
font-family: 'Wix Madefor Display', sans-serif; */
.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-image: linear-gradient(15deg, #273c3e, #396c5e, #638380, #33739e, #25495a);

}


.body::before {
    content: "";
    display: block;
    position: fixed;
    top: 130px;
    left: -300px;
    width: 100%;
    height: 80%;
    background-image: url("../images/lungs3.png");
    opacity: 0.9;
    background-size: 900px 95%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
   
}

.header {
    width: 100%;
    font-family: 'Poiret One', cursive;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.logo {
    margin: 10px 0px 10px 0px;
    font-size: 28px;
    color: aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid aliceblue;
    border-radius: 100%;
    margin-right: 370px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-right: 200px;
}

.nav-item {
    margin-right: 25px;
}

.nav-item a {
    font-size: 25px;
    text-decoration: none;
    color: aliceblue;
    letter-spacing: 2.5px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;

}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;


}

.footer p {
    color: aliceblue;
    font-size: 22px;
    font-family: 'Poiret One', cursive;
    letter-spacing: 1px;
}

/* ---------------------------------------------------------------- */
.main-content-header {
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px 3px black;
    font-weight: 100;
    letter-spacing: 2.5px;
    font-style: italic;
    margin-bottom: 20px;
    margin-left: 150px;
    position: absolute;
    top: -70px;
    left: 400px;
    padding: 5px;
    font-family: 'Tenor Sans', sans-serif;
  
  

 
}
.container-nav-medications-medical-equipment {
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 100%;
    justify-content: space-around;
  

}

.container-nav{
    padding: 30px 10px;
    border-radius: 10px;
    background-color: #0d3e3e2a;
    backdrop-filter: blur(5px); 
    text-shadow: 1px 1px 2px #0D3E3E;
    box-shadow: 0px 0px 5px 1px aliceblue ;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    align-items: center;
    position: absolute;
    left: 250px;


    

}
.container-nav li{
   margin-bottom: 25px;
   margin-left: 0px;
}
#medications-link, #medical-equipment-link{
    text-decoration: none;
    font-size: 22px;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 100;
    color: aliceblue;
    font-style: italic;
}