/* font-family: 'Baloo 2', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Tenor Sans', sans-serif;
font-family: 'Wix Madefor Display', sans-serif; */
.main-details-content {
    background-color: rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(100px); 
    min-height: 825px;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.253);
    border-top: 2px solid rgba(255, 255, 255, 0.253);
}
.container-details {
    display: flex;
    flex-direction: column;
    height: 825px;
    width: 100%;
    justify-content: space-between;
}
.container-creation-date-creator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.container-title {
    display: flex;
    justify-content: center;
    font-family: 'Poiret One', cursive;
    font-size: 28px;
    margin-bottom: 30px;
    color: rgb(0, 39, 29);
    font-weight: 100;
    letter-spacing: 2px;
}
.container-img-description-target-amount {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.content-img-description-target-amount {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    
}

.content-img-description-target-amount img{
    width: 800px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px black;
}
.content-img-description-target-amount div p{
    width: 880px;
}
