/* font-family: 'Baloo 2', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Tenor Sans', sans-serif;
font-family: 'Wix Madefor Display', sans-serif; */
main {
    position: relative;

}
.container-nav-medications-medical-equipment{
    position: absolute;
    top: -250px;
    left: 200px;
    padding: 30px;
    width: 12%;
    height: 600px;
    border-radius: 10px;
    /* border: 1px solid #0D3E3E; */
    background-color: #0d3e3e50;
    backdrop-filter: blur(10px); 
    text-shadow: 1px 1px 2px #0D3E3E;
    box-shadow: 0px 0px 5px 1px aliceblue ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.container-nav{
    display: flex;
    flex-direction: column;
    padding: 0px;

    

}
.container-nav li{
   margin-bottom: 25px;
   margin-left: 0px;

    

}
#medications-link, #medical-equipment-link{
    text-decoration: none;
    font-size: 22px;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 100;
    color: aliceblue;
    font-style: italic;
}