/* font-family: 'Baloo 2', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Tenor Sans', sans-serif;
font-family: 'Wix Madefor Display', sans-serif; */
.container-new-pass {
    display: flex;
    flex-direction: column;
    border: 1px solid #0D3E3E;
    background-color: #0d3e3e50;
    backdrop-filter: blur(10px); 
    text-shadow: 1px 1px 2px #0D3E3E;
    box-shadow: 1px 1px 30px 5px #F8F7EE;
    color: aliceblue;
    padding: 10px;
    width: 800px;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    font-family: 'Tenor Sans', sans-serif;
   
}
.new-pass-form {
    display: flex;
    flex-direction: column;
}

.new-pass-form-button {
    background-color: #ffffff7d;
    border-radius: 10px;
    color: #0D3E3E;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 5px 10px;
    font-weight: bolder;
}