/* font-family: 'Baloo 2', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Tenor Sans', sans-serif;
font-family: 'Wix Madefor Display', sans-serif; */

.container-login-page-form-authentication {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    /*background-color: #77b7c2;*/
    /* text-shadow: 1px 1px 2px #26414F; */
    color: #26414F;
    padding: 20px;
    width: 400px;
    height: 450px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;


}

.login-page-form-authentication-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.login-page-form-authentication-header-login a,
.login-page-form-authentication-header-register a {
    color: #26414F;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.login-page-form-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page-form-authentication-form {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-evenly;
}

.login-page-form-authentication-form div {
    display: flex;
    flex-direction: column;
    font-family: 'Tenor Sans', sans-serif;
    /* font-family: 'Baloo 2', cursive; */
    font-weight: 100;
}