/* font-family: 'Baloo 2', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Tenor Sans', sans-serif;
font-family: 'Wix Madefor Display', sans-serif; */

.container-user-details {
    border: 1px solid #0D3E3E;
    box-shadow: 1px 1px 30px 5px #F8F7EE;
    padding: 30px;
    border-radius: 5px;
    backdrop-filter: blur(10px); 
}

.base-container-user-details {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 600px;
}

.user-details-header-and-edit {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    justify-content: space-between;

}

.user-details-header {
    font-family: 'Poiret One', cursive;
    font-size: 45px;
    color: #0D3E3E;
    text-shadow: 1px 1px 10px #F8F7EE;
    font-weight: bolder;
    letter-spacing: 2.5px;
}

.user-edit i {
    font-size: 30px;
    color: #0D3E3E;
    text-shadow: 1px 1px 5px #F8F7EE;
}

.all-details-for-user {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
    align-items: center;
}

.all-details-for-user img {
    border-radius: 100%;
    width: 300px;
    height: 300px;

}

.details-container {
    display: flex;
    flex-direction: column;
    /* height: 80%; */
    justify-content: space-evenly;
    border: 2px dotted #26414F;
    border-radius: 5px;
    padding: 20px;



}

.current-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Wix Madefor Display', sans-serif;
}

.current-details label {
    padding: 5px;
}

.information-user {
    border-bottom: 1px solid #26414F;
    /* height: 30px; */
    padding: 5px;
}

.user-delete {
    font-family: 'Poiret One', cursive;
    color: #0D3E3E;
    text-decoration: none;
    background-color: #f8f7eeae;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 2.5px;
    font-size: 18.5px;
    font-weight: 900;

}