.container-about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.container-about-section:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-image: url("/assets/brooke-lark-nTZOILVZuOg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.2;

}
.about-section {
    margin: 50px auto; 
    max-width: 900px; 
    padding: 30px;
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0px 0px 20px 1px rgba(119, 136, 153, 0.719);

}

.about-section h1 {
    font-size: 2.5em;
    color: #333;
}

.about-section p {
    font-size: 1.3em;
    line-height: 1.6;
    color: #666; 
}