[data-theme='light'] {
    --background-color: #eeeff3;
    --box-shadow-color: gray;

}

[data-theme='dark'] {
    --background-color: #000000;
    --box-shadow-color: black;

}

.signInContainer {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 480px;
    transition: transform 1.5s;
    /* Increase the duration */
    z-index: 0;
    background-color: var(--background-color);

}

.loginFormTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 400;
    color: #70B11C;

}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 65%;
}

.loginFormLabel {
    text-transform: uppercase;
    margin: 10px;
}

.loginFormInput {
    border: none;
    border-bottom: 3px solid #70B11C;
    padding: 7px;
    width: 250px;
    color: gray;
    letter-spacing: 1px;
    background-color: var(--background-color);


}

.loginFormInput::placeholder {
    color: rgba(128, 128, 128, 0.664);

}

.contentLoginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginFormButton {
    border: none;
    padding: 5px;
    width: 250px;
    border-radius: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #70B11C;
    font-weight: 600;
    color: white;
    box-shadow: 0px 3px 7px 1px var(--box-shadow-color);


}

.loginFormButton:hover {
    transition: 1s;
    background-color: orange;
    box-shadow: 0px 1px 1px 1px var(--box-shadow-color);
}

.loginFormInput:hover {
    cursor: pointer;
    transition: 1s;
    border-bottom: 3px solid orange;

}

.loginFormInput:focus {
    cursor: pointer;
    transition: 1s;
    border-bottom: 3px solid orange;

}

.loginFormInput:active {
    cursor: pointer;
    transition: 1s;
    border-bottom: 3px solid orange;

}

@media (min-width: 320px) and (max-width: 750px) {
    .signInContainer {
        position: initial;
        margin: auto;
        /* Оставяне на margin: auto за центриране в responsive режим */
    }
}