.cover {
    display: flex;
    flex-direction: column;
    height: 90vh;
    /* background-color: rgba(0, 0, 0, 0.137); */
    /* position: relative; */
}

.cover-title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.623);
    padding: 20px;
    /* max-width: 80%;  */
    border-radius: 10px;
    padding: 30px;
    width: 30%;
    height: 50%;
    font-size: 40px;
    backdrop-filter: blur(5px);



}

@media (min-width: 1401px) and (max-width: 1870px) {
    .cover-title {
        width: 30%;
        height: 50%;
        font-size: 30px;


    }
}

@media (min-width: 1001px) and (max-width: 1400px) {
    .cover-title {
        width: 35%;
        font-size: 22px;
        height: 45%;


    }
}

@media (min-width: 576px) and (max-width: 1000px) {
    .cover-title {
        width: 45%;
        font-size: 20px;
        height: 35%;

    }
}

@media (min-width: 250px) and (max-width: 576px) {
    .cover-title {
        width: 65%;
        font-size: 18px;
        font-weight: 500;
        height: 35%;

   
    }
}

.cover-title>p {
    color: black;
    /* font-size: 35px; */
    font-weight: 400;
    letter-spacing: 2px;
}

.container-about-recipe {
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

.content-about-recipe {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
}

.about-recipe-title {
    font-size: 40px;
}

.about-recipe-description {
    font-size: 20px;
}

.about-recipe-link {
    font-size: 22px;
    text-transform: uppercase;
    padding: 10px 35px;
    background-color: orange;
    color: white;
    letter-spacing: 1.5px;
}

.about-recipe-img {
    height: 400px;

}

.container-about {
    display: flex;
    flex-direction: row;
    height: 500px;
    padding: 50px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1E282B;
}

.content-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 325px;
    width: 250px;
    border: 5px solid #FFA500;
    padding: 20px;
    background-color: white;
    cursor: pointer;
}

.about-title {
    font-size: 16;
    text-transform: uppercase;
}

.about-description {
    font-size: 17px;
}


.cover:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-image: url("/assets/brooke-lark-nTZOILVZuOg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.2;

}