<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../staticfiles/styles/reset.css">
    <link rel="stylesheet" href="../../staticfiles/styles/styles.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <nav class="navigation">

            <ul class="nav-bar" role="list">
                <li class="nav-bar-el"><a class="link" href="">Home</a></li>
                <li class="nav-bar-el"><a class="link" href="">About us</a></li>
                <li class="nav-bar-el"><a class="link" href="">Application</a></li>
                <li class="nav-bar-el"><a class="link" href="">Profile</a></li>
            </ul>
        </nav>

    </header>
    <main class="main">
        <section class="information-section">
            <img class="information-img" src="../../staticfiles/images/john-schnobrich-2FPjlAyMQTA-unsplash.jpg" alt="">
            <div class="content-info">
                <h1 class="info-title">Hi!</h1>
                <p class="info-description">Our team is a collective of passionate and creative professionals united by
                    a common goal - to create
                    the most modern and functional websites using the best technologies. Our mission is to provide you
                    with web spaces that not only look impressive but also work seamlessly. With significant experience
                    in web design and development, we blend elegant design with the latest innovations in web
                    technologies to deliver websites that exceed our clients' expectations. With us, you'll find a
                    partnership that helps you rise above the competition and achieve success in the online world.</p>
            </div>

        </section>
        <section class="team-section">
            <div class="content-team">
                <h1 class="team-title">Meet Our Team</h1>
                <p class="team-description">Learn more about the talented individuals behind our projects.</p>
                <a class="team-link" href="">Meet the Team</a>
            </div>
            <img src="../../staticfiles/images/pngwing.com.png" alt="">
        </section>

        <section class="contacts-info">
            <h1></h1>
            <div class="content-contacts">
                <ul role="list" class="contacts-list">
                    <li class="contact"><a href="">
                            <img src="../../staticfiles/images/pngwing.com (1).png" alt="">
                            <p>***@gmail.com</p>
                        </a></li>
                    <li class="contact"><a href="">
                            <img src="../../staticfiles/images/pngwing.com (3).png" alt="">
                            <p>Team</p>
                        </a></li>
    
          
                </ul>
                <ul role="list" class="contacts-list">
               
                    <li class="contact"><a href="">
                            <img src="../../staticfiles/images/pngwing.com (4).png" alt="">
                            <p>Team</p>
                        </a></li>
                    <li class="contact"><a href="">
                            <img src="../../staticfiles/images/pngwing.com (2).png" alt="">
                            <p>0812345678</p>
                        </a></li>
          
                </ul>
            </div>

        </section>
    </main>
    <footer class="footer">
        <p class="footer-text">© Lora Mitova.</p>
        <p class="footer-text"> All rights reserved.</p>
    </footer>

</body>

</html>