input {
	font: 1em/1.5 Fredoka, sans-serif;
}

.themeToggle,
.themeToggle:before {
	display: block;
}

.themeToggle {
	position: fixed;
	right: 30px;
	bottom: 65px;
	z-index: 1;
	/* background-color: white; */
	border: 1px solid #70B11C;
	border-radius: 25% / 50%;
	box-shadow: 0 0 0 0.1em rgb(85, 85, 85);
	padding: 0.25em;
	width: 6em;
	height: 3em;
	-webkit-appearance: none;
	appearance: none;
	transition:
		background-color 0.3s ease-in-out,
		box-shadow 0.15s ease-in-out,
		transform 0.3s ease-in-out;
}

.themeToggle:hover {
	border: 1px solid orange;
}

.themeToggle:before {
	background-color: #70B11C;
	border-radius: 50%;
	content: "";
	width: 2.3em;
	height: 2.3em;
	transition:
		background-color 0.3s ease-in-out,
		transform 0.3s ease-in-out;
}

.themeToggle:focus {
	box-shadow: 0 0 0 0.1em gray;
	outline: transparent;
}

/* Checked */
.themeToggle:checked {
	/* background-color: black; */
}

.themeToggle:checked:before {
	transform: translateX(3em);
	background-color: #70B11C;
}