
:root {
	/* --hue: 223;
	--bg: hsl(var(--hue),10%,100%);
	--fg: hsl(var(--hue),10%,0%); */
	--primary: hsl(var(--hue),90%,55%);
	--primaryT: hsla(var(--hue),90%,55%,0);
	--transDur: 0.3s;
}


input {
	font: 1em/1.5 Fredoka, sans-serif;
}


/* Default */
.theme {
	display: flex;
	align-items: center;
	-webkit-tap-highlight-color: transparent;
}
.themeFill,
.themeIcon {
	transition: transform var(--transDur) ease-in-out;
}
.themeFill {
	/* background-color: var(--bg); */
	display: block;
	mix-blend-mode: difference;
	position: fixed;
	inset: 0;
	height: 100%;
	transform: translateX(-100%);
}
.themeIcon,
.themeToggle {
	z-index: 1;
}
.themeIcon,
.themeIconPart {
	position: absolute;
}
.themeIcon {
	display: block;
	top: 0.75em;
	left: 0.75em;
	width: 1.5em;
	height: 1.5em;
}
.themeIconPart {
	border-radius: 50%;
	box-shadow: 0.4em -0.4em 0 0.5em hsl(0,0%,100%) inset;
	top: calc(50% - 0.5em);
	left: calc(50% - 0.5em);
	width: 1em;
	height: 1em;
	transition:
		box-shadow var(--transDur) ease-in-out,
		opacity var(--transDur) ease-in-out,
		transform var(--transDur) ease-in-out;
	transform: scale(0.5);
}
.themeIconPart ~ .themeIconPart {
	background-color: hsl(0,0%,100%);
	border-radius: 0.05em;
	box-shadow: none;
	top: 50%;
	left: calc(50% - 0.05em);
	transform: rotate(0deg) translateY(0.5em);
	transform-origin: 50% 0;
	width: 0.1em;
	height: 0.2em;
}
.themeIconPart:nth-child(3) {
	transform: rotate(45deg) translateY(0.5em);
}
.themeIconPart:nth-child(4) {
	transform: rotate(90deg) translateY(0.5em);
}
.themeIconPart:nth-child(5) {
	transform: rotate(135deg) translateY(0.5em);
}
.themeIconPart:nth-child(6) {
	transform: rotate(180deg) translateY(0.5em);
}
.themeIconPart:nth-child(7) {
	transform: rotate(225deg) translateY(0.5em);
}
.themeIconPart:nth-child(8) {
	transform: rotate(270deg) translateY(0.5em);
}
.themeIconPart:nth-child(9) {
	transform: rotate(315deg) translateY(0.5em);
}
.themeLabel,
.themeToggle,
.themeToggleWrap {
	position: relative;
}
.themeToggle,
.themeToggle:before {
	display: block;
}
.themeToggle {
	background-color: hsl(48,90%,85%);
	border-radius: 25% / 50%;
	box-shadow: 0 0 0 0.125em var(--primaryT);
	padding: 0.25em;
	width: 6em;
	height: 3em;
	-webkit-appearance: none;
	appearance: none;
	transition:
		background-color var(--transDur) ease-in-out,
		box-shadow 0.15s ease-in-out,
		transform var(--transDur) ease-in-out;
}
.themeToggle:before {
	background-color: hsl(48,90%,55%);
	border-radius: 50%;
	content: "";
	width: 2.5em;
	height: 2.5em;
	transition:
		background-color var(--transDur) ease-in-out,
		transform var(--transDur) ease-in-out;
}
.themeToggle:focus {
	box-shadow: 0 0 0 0.125em var(--primary);
	outline: transparent;
}

/* Checked */
.themeToggle:checked {
	background-color: hsl(198,90%,15%);
}
.themeToggle:checked:before,
.themeToggle:checked ~ .themeIcon {
	transform: translateX(3em);
}
.themeToggle:checked:before {
	background-color: hsl(198,90%,55%);
}
.themeToggle:checked ~ .themeFill {
	transform: translateX(0);
}
.themeToggle:checked ~ .themeIcon .themeIconPart:nth-child(1) {
	box-shadow: 0.2em -0.2em 0 0.2em hsl(0,0%,100%) inset;
	transform: scale(1);
}
.themeToggle:checked ~ .themeIcon .themeIconPart ~ .themeIconPart {
	opacity: 0;
}
.themeToggle:checked ~ .themeIcon .themeIconPart:nth-child(2) {
	transform: rotate(45deg) translateY(0.8em);
}
.themeToggle:checked ~ .themeIcon .themeIconPart:nth-child(3) {
	transform: rotate(90deg) translateY(0.8em);
}
.themeToggle:checked ~ .themeIcon .themeIconPart:nth-child(4) {
	transform: rotate(135deg) translateY(0.8em);
}
.themeToggle:checked ~ .themeIcon .themeIconPart:nth-child(5) {
	transform: rotate(180deg) translateY(0.8em);
}
.themeToggle:checked ~ .themeIcon .themeIconPart:nth-child(6) {
	transform: rotate(225deg) translateY(0.8em);
}
.themeToggle:checked ~ .themeIcon .themeIconPart:nth-child(7) {
	transform: rotate(270deg) translateY(0.8em);
}
.themeToggle:checked ~ .themeIcon .themeIconPart:nth-child(8) {
	transform: rotate(315deg) translateY(0.8em);
}
.themeToggle:checked ~ .themeIcon .themeIconPart:nth-child(9) {
	transform: rotate(360deg) translateY(0.8em);
}
.themeToggleWrap {
	margin: 0 0.75em;
}

@supports selector(:focus-visible) {
	.themeToggle:focus {
		box-shadow: 0 0 0 0.125em var(--primaryT);
	}
	.themeToggle:focus-visible {
		box-shadow: 0 0 0 0.125em var(--primary);
	}
}