.logoutButton {
    background-color: white;
    border: none;
    color: #70B11C;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-weight: 500;
    cursor: pointer;

}

@media (min-width: 250px) and (max-width: 750px) {
    .logoutButton {
        letter-spacing: 1.5px;
        background-color: white;
        text-transform: capitalize;
        width: 100%;
        display: flex;
        justify-content: center;
        color: #70B11C;
        font-size: 16px;
        font-weight: 500;
        padding: 10px;
        border-bottom: 5px solid #70b11c3d;
        letter-spacing: 1.5;
        cursor: pointer;


    }

    .logoutButton:hover {
        color: orange;
        cursor: pointer;

    }


}