{% extends 'base/index.html' %}
{% block content %}
{% load static %}


<main class="main-users-content">
    <section class="container-authentication-form">
        <nav class="authentication-form-header" id="authentication-form-header-login">
            <article class="authentication-form-header-login">
                <a href={% url 'user login' %}>Login</a>
            </article>
            <article class="authentication-form-header-register">
                <a href="{% url 'user register' %}">Register</a>
            </article>
        </nav>
        <header class="authentication-form-subtitle">
            <h1>Welcome to CFamily!</h1>
            <p>Embark on a Charitable Quest</p>
        </header>
        <form method="post" action="{% url 'user login' %}" class="authentication-form">
            {{ form.as_div }}
            {% csrf_token %}
            <button>Sign in</button>
            
        </form>
        <div class="container-forgotten-password">
            <p class="forgotten-password-text">Forgot your password?</p>
            <a class="forgotten-password-link" href="{% url 'reset_password' %}">Click here!</a>
        </div>
    </section>
</main>



{% endblock %}