.moreContainer {
    padding: 30px;
    min-height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 100px;
    background-image: linear-gradient(15deg, #BDDBFF, #B8EDCF);
}
.moreInfoContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.moreInfoTitle {
    font-size: 45px;
    font-weight: 300;
}

.moreInfoDev {
    color: palevioletred;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px 10px 10px 0px;

}

.moreInfoDescription {
    letter-spacing: 1px;
    width: 500px;
    font-weight: 400;
    font-size: 18px;

}

.moreImg {
    border: 3px solid pink;
    border-radius: 100%;
    width: 500px;
    height: 500px;
    background-position: center;
    object-fit: cover;
    background-size: contain;
    margin: 30px;

}

.buttonsContent {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    color: white;
    border: 2px solid palevioletred;
    border-radius: 5px;
    font-weight: 600;
    padding: 5px 15px;
    background-color: palevioletred;

}

.faGithub,
.faInstagram,
.faLinkedin,
.faDiscord,
.faFacebook {
    margin: 15px 20px 0px 0px;
    font-size: 30px;
    color: #312D38;
}