{% extends 'base/index.html' %}
{% block content %}
    <main class="main-donations-cards-content">
        <section class="container-donations-cards">

            {% for donation in medications %}
                <div class="donation-item">


                    <img class="donation-image" src="{{ donation.image.url }}" alt="{{ donation.title }}">

                    {% if donation.title|length <= 50 %}
                        <h1 class="donation-title">{{ donation.title }}</h1>
                    {% else %}
                        <h1 class="donation-title">{{ donation.title|slice:"30" }}</h1>
                    {% endif %}

                    {% if donation.description|length <= 50 %}
                        <p class="donation-description"><i class="fa-solid fa-quote-left"></i>{{ donation.description }}
                        </p>
                    {% else %}
                        <p class="donation-description"><i
                                class="fa-solid fa-quote-left"></i>{{ donation.description|slice:"30" }}</p>
                    {% endif %}
                    <p class="donation-price"><span>lv</span>{{ donation.donation_price }}</p>


                    {% if request.user.is_authenticated and request.user.is_superuser or request.user.is_authenticated and request.user.is_staff %}
                        <div class="donation-info">
                            <p class="donation-creator">{{ donation.creator }}</p>
                            <p class="donation-creation-time">{{ donation.creation_time }}</p>
                            <p class="donation-date-modified"> {{ donation.date_modified }}</p>
                        </div>
                    {% endif %}



                    <div class="donation-actions">
                        <input class="quantity-input" type="number" name="quantity" value="1" min="1">
                        <button class="add-to-cart-button" type="submit">Add to Cart</button>
                        {# <form method="post" action="{% url 'add_to_cart' donation.pk %}">#}
                        {# {% csrf_token %}#}
                        {# <input class="quantity-input" type="number" name="quantity" value="1" min="1">#}
                        {# <button class="add-to-cart-button" type="submit">Add to Cart</button>#}
                        {# </form>#}

                    </div>
                    {% if request.user.is_authenticated and request.user.is_superuser or request.user.is_authenticated and request.user.is_staff %}

                        <div class="admin-actions">
                            <a class="details-link" href="{% url 'donation_details' donation.pk %}">Details</a>
                            <a class="edit-link" href="{% url 'donation_edit' donation.pk %}">Edit</a>
                            <a class="delete-link" href="{% url 'donation_delete' donation.pk %}">Delete</a>
                        </div>
                    {% endif %}

                </div>
            {% endfor %}

        </section>
        {% if medications.has_other_pages %}
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}"><i
                            class="fa-solid fa-caret-left"></i></a>
                {% else %}
                    <a><i class="fa-solid fa-caret-left"></i></a>
                {% endif %}

                {{ page_obj.number }} / {{ paginator.num_pages }}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&search={{ search }}"><i
                            class="fa-solid fa-caret-right"></i></a>
                {% else %}
                    <a><i class="fa-solid fa-caret-right"></i></a>
                {% endif %}
            </div>
        {% endif %}
    </main>
{% endblock %}

