{% extends 'base/index.html' %}
{% block content %}
    <main class="main-donations-cards-content">
        <section class="container-donations-cards">

            {% for donation in another_types %}
                <div class="donation-item">


                    <img class="donation-image" src="{{ donation.image.url }}" alt="{{ donation.title }}">
                    <h1 class="donation-title">{{ donation.title }}</h1>
                    {% if donation.description|length <= 50 %}
                        <p class="donation-description"><i class="fa-solid fa-quote-left"></i>{{ donation.description }}
                        </p>
                    {% else %}
                        <p class="donation-description"><i
                                class="fa-solid fa-quote-left"></i>{{ donation.description|slice:"30" }}</p>
                    {% endif %}
                    <div class="donation-price-details">
                        <p class="donation-price"><span>lv</span>{{ donation.donation_price }}</p>
                        <a class="details-link" href="{% url 'donation_details' donation.pk %}"><i class="fa-solid fa-angles-right"></i></a>
                    </div>

                    <div class="donation-actions">

                        <form method="post" action="{% url 'add_to_cart' donation.pk %}">
                            {% csrf_token %}
                            <input class="quantity-input" type="number" name="quantity" value="1" min="1">
                            <button class="add-to-cart-button" type="submit">Add to Cart</button>
                        </form>

                    </div>


                </div>
            {% endfor %}

        </section>
        {% if another_types|length > 0 %}
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}"><i
                            class="fa-solid fa-caret-left"></i></a>
                {% else %}
                    <a><i class="fa-solid fa-caret-left"></i></a>
                {% endif %}

                {{ page_obj.number }} / {{ paginator.num_pages }}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&search={{ search }}"><i
                            class="fa-solid fa-caret-right"></i></a>
                {% else %}
                    <a><i class="fa-solid fa-caret-right"></i></a>
                {% endif %}
            </div>
        {% endif %}
    </main>
{% endblock %}