@import "../../responsive.scss";
.filter {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 0px 20px;
  @include sm {
    gap: 0px;
  }

  .top {
    .itemTop {
      display: flex;
      flex-direction: column;
      width: 100%;

      @include sm {
        align-items: center;
      }

      label {
        margin-bottom: 5px;
        @include sm {
          width: 100%;
          margin-bottom: 0px;
          margin-top: 10px;
        }

        @include md {
          font-size: 16px;
        }
      }

      input {
        width: 100%;
        padding: 10px;

        @include sm {
          width: 100%;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: flex-end;
    gap: 10px;


    @include sm {
      flex-direction: column;
    }

    .itemBottom {
      display: flex;
      flex-direction: column;
      width: 100%;
      flex: 1;

      @include sm {
        justify-content: center;
        align-items: center;
      }

      label {
        margin-bottom: 5px;

        @include sm {
          width: 100%;
          margin-bottom: 0px;
          margin-top: 15px;
        }

        @include md {
          font-size: 16px;
        }
      }

      input,
      select {
        width: 100%;
        padding: 10px;
      }
    }

    button {
      display: flex;
      justify-content: center;
      object-fit: contain;
      width: 50px;
      height: 50px;
      flex: 0.5;
      padding: 10px;
      border: none;
      cursor: pointer;
      background-color: #fece51;
      border-radius: 5px;

      @include sm {
        margin: 10px auto;
        width: 100%;
      }

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
