.containerHomePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 50px 0px 50px 0px; */
    /* min-height: 70vh; */
}

.sectionCover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 550px;
    overflow: hidden;

}

.contentCoverImage {
    display: flex;
    justify-content: center;
    align-items: center;

}

.coverImageLeft {
    rotate: 90deg;
    margin-bottom: 100px;
    background-position: center;
    object-fit: cover;
    background-size: contain;
    animation: slideInFromLeft 1s ease-out;
}

.coverImageRight {
    rotate: 90deg;
    margin-top: 100px;
    background-position: center;
    object-fit: cover;
    background-size: contain;
    animation: slideInFromRight 1s ease-out;

}

.coverImageMobile {
    margin-top: 100px;
    background-position: center;
    object-fit: cover;
    background-size: contain;

}

.contentCoverImageMobileLeft {
    display: none;
}

.contentCoverImageMobileRight {
    display: none;
}

.additionalImageMobileLeft {
    display: none;
}

.additionalImageMobileRight {
    display: none;
}

.contentCoverInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 100%;

}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.coverTitle {
    font-size: calc(12px + 1.5vw);
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    width: 80%;

}

.coverDescription {
    font-size: calc(13px + 0.5vw);
    letter-spacing: 0.5px;
    width: 80%;
    text-align: center;
    font-weight: 400;
}

.coverButton {
    border-radius: 4px;
    background-color: #70B11C;
    border: none;
    color: #fff;
    text-align: center;
    font-size: calc(0.7rem + 0.2vw);
    padding: 8px;
    /* width: 200px; */
    /* width: calc(12vw + 100px); */
    min-width: 150px;
    width: 30%;
    transition: all 0.5s;
    cursor: pointer;
    /* margin: 36px; */
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.453);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid #70B11C;
}

.coverButton {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.coverButton:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0px;
    right: -20px;
    transition: 0.5s;
    font-size: 25px;
    color: orange;

}

.coverButton:hover {
    padding-right: 24px;
    padding-left: 8px;
    background-color: white;
    color: orange;
    border: 2px solid orange;

}

.coverButton:hover:after {
    opacity: 1;
    right: 10px;
}

@media (min-width: 250px) and (max-width: 1090px) {
    .contentCoverImageMobileLeft {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        animation: slideInFromLeft 1s ease-out;
    }

    .contentCoverImageMobileRight {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        animation: slideInFromRight 1s ease-out;
    }

    @keyframes slideInFromLeftMobile {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideInFromRightMobile {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .contentCoverImage {
        display: none;


    }

    .contentCoverInfo {
        justify-content: center;
        gap: 3rem;

    }
}

@media (min-width: 250px) and (max-width: 600px) {
    .additionalImageMobileLeft {
        display: block;
        animation: slideInFromLeft 1s ease-out;
    }

    .additionalImageMobileRight {
        display: block;
        animation: slideInFromRight 1s ease-out;
    }

    .contentCoverInfo {
        justify-content: center;
        gap: 1.5rem;

    }

    @keyframes slideInFromLeftMobile {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideInFromRightMobile {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
}