<footer class="footer">
    <div class="containerFooter">
        <div class="contentFooter">
            <div class="">
                <h2 class="">
                    <span class=""><i class="fa-solid fa-map"></i></span>
                    About
                </h2>
                <div class="">
                    <ul role="list">
                        <li><span><i class="fa-solid fa-location-dot"></i><span class=""></span>210 Elin Pelin, Sofia,
                                Bulgaria</span></li>
                        <li><a href="#"><span class=""><i class="fa-solid fa-phone"></i></span><span
                                    class="">+35912345678</span></a></li>
                        <li><a href="#"><span class=""><i class="fa-solid fa-paper-plane"></i></span><span
                                    class="">some@gmail.com</span></a></li>
                    </ul>
                </div>
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                        <input type="text" class="form-control rounded-left" placeholder="Enter email address"
                            fdprocessedid="fx81vw">
                        <button type="submit" class="form-control submit rounded-right" fdprocessedid="fy701h"><span
                                class="sr-only">Submit</span><i class="fa-solid fa-paper-plane"></i></button>
                    </div>
                </form>

            </div>
            <div class="">
                <h2 class=" align-items-center"><span class=""><i class="fa-solid fa-note-sticky"></i></span>Latest
                    Recipes</h2>
                <div class="">
                    <a class=""></a>
                    <div class="text">
                        <h3 class=""><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                        <div class="">
                            <div><a href="#"><span class="icon-calendar"></span> Oct. 16, 2019</a></div>
                            <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                            <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="">
                <h2 class=""><span class=""><i class="fa-solid fa-circle-info"></i></span>Information</h2>
                <ul class="">
                    <li><a href="#" class="">About</a></li>
                    <li><a href="#" class="">Contact</a></li>
                </ul>
            </div>
            <div class="">
                <h2 class=" align-items-center"><span class=""><i
                            class="fa-brands fa-square-instagram"></i></span>Instagram</h2>

                <div class="">
                    <div class="">
                        <a href="#" class=""></a>
                    </div>
                    <div class="">
                        <a href="#" class=""></a>
                    </div>
                    <div class="">
                        <a href="#" class=""></a>
                    </div>
                    <div class="">
                        <a href="#" class=""></a>
                    </div>
                    <div class="">
                        <a href="#" class=""></a>
                    </div>
                    <div class="">
                        <a href="#" class=""></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="contentCopyright">
            <div class="">
                <p class="copyright">
                    Copyright ©
                    <script>document.write(new Date().getFullYear());</script>2024 All rights reserved.
                </p>
            </div>
            <div class="">
                <p class="copyright">This template is made with <i class="ion-ios-heart" aria-hidden="true"></i> by <a
                        href="#" target="_blank">Lora Mitova</a>
                </p>
            </div>
        </div>
    </div>
</footer>