<footer class="footer">
    <div class="containerFooter">
        <div class="contentFooter">
            <div class="footerContacts">
                <h2 class="footerTitle">
                    <span class=""><i class="fa-solid fa-map"></i></span>
                    About
                </h2>

                <ul role="list" class="footerListAbout">
                    <li class="footerListElementAbout"><i class="fa-solid fa-location-dot"></i><span class="">210 Elin
                            Pelin, Sofia, Bulgaria</span>
                    </li>
                    <li class="footerListElementAbout"><i class="fa-solid fa-phone"></i><span
                            class="">+35912345678</span></li>
                    <li class="footerListElementAbout"><i class="fa-solid fa-paper-plane"></i><span
                            class="">healthy@gmail.com</span></li>
                </ul>

                <form action="#" class="footerFormAbout">

                    <input class="footerFormAboutInput" type="text" placeholder="Enter email address">
                    <button type="submit" class="footerFormAboutButton"><i class="fa-solid fa-paper-plane"></i></button>

                </form>

            </div>
            <div class="footerLatestRecipes">
                <h2 class="footerTitle"><span class=""><i class="fa-solid fa-note-sticky"></i></span>Latest
                    Recipes</h2>
                <div class="">
                    <div class="footerLatestRecipesCard">
                        <img class="footerLatestRecipesCardImg"
                            src="https://img.freepik.com/free-photo/young-woman-cooking-kitchen_1303-22173.jpg"
                            alt="" />

                        <div class="footerLatestRecipesCardInfo">
                            <h3 class="footerLatestRecipesCardInfoTitle">Recipe Title</h3>

                            <div class="footerLatestRecipesCardInfoDescription">Descriptiohjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjhhhhhhhhhhhhh</div>

                            <div class="footerLatestRecipesCardInfoData"><i class="fa-regular fa-calendar"></i> Oct. 16, 2019</div>


                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="footerLatestRecipesCard">
                        <img class="footerLatestRecipesCardImg"
                            src="https://img.freepik.com/free-photo/young-woman-cooking-kitchen_1303-22173.jpg"
                            alt="" />

                        <div class="footerLatestRecipesCardInfo">
                            <h3 class="footerLatestRecipesCardInfoTitle">Recipe Title</h3>

                            <div class="footerLatestRecipesCardInfoDescription">Descriptiohjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjhhhhhhhhhhhhh</div>

                            <div class="footerLatestRecipesCardInfoData"><i class="fa-regular fa-calendar"></i> Oct. 16, 2019</div>


                        </div>
                    </div>
                </div>

            </div>
            <div class="footerInformation">
                <h2 class="footerTitle"><span class=""><i class="fa-solid fa-circle-info"></i></span>Information</h2>
                <ul role="list" class="">
                    <li><a href="#" class="">About</a></li>
                    <li><a href="#" class="">Contact</a></li>
                </ul>
            </div>
            <div class="footerInstagram">
                <h2 class="footerTitle"><span class=""><i class="fa-brands fa-square-instagram"></i></span>Instagram
                </h2>

                <div class="instagramImages">
                    <img class="imgInsta"
                        src="https://img.freepik.com/free-photo/young-woman-cooking-kitchen_1303-22173.jpg" alt="" />
                    <img class="imgInsta"
                        src="https://img.freepik.com/free-photo/young-woman-cooking-kitchen_1303-22173.jpg" alt="" />
                    <img class="imgInsta"
                        src="https://img.freepik.com/free-photo/young-woman-cooking-kitchen_1303-22173.jpg" alt="" />
                    <img class="imgInsta"
                        src="https://img.freepik.com/free-photo/young-woman-cooking-kitchen_1303-22173.jpg" alt="" />
                    <img class="imgInsta"
                        src="https://img.freepik.com/free-photo/young-woman-cooking-kitchen_1303-22173.jpg" alt="" />
                    <img class="imgInsta"
                        src="https://img.freepik.com/free-photo/young-woman-cooking-kitchen_1303-22173.jpg" alt="" />
                    <img class="imgInsta"
                        src="https://img.freepik.com/free-photo/young-woman-cooking-kitchen_1303-22173.jpg" alt="" />
                    <img class="imgInsta"
                        src="https://img.freepik.com/free-photo/young-woman-cooking-kitchen_1303-22173.jpg" alt="" />
                    <img class="imgInsta"
                        src="https://img.freepik.com/free-photo/young-woman-cooking-kitchen_1303-22173.jpg" alt="" />

                </div>
            </div>
        </div>
        <div class="contentCopyright">
            <div class="">
                <p class="copyright">
                    Copyright ©2024 All rights reserved.
                </p>
            </div>
            <div class="">
                <p class="copyright">This template is made with <i class="ion-ios-heart"></i> by <a href="#">Lora
                        Mitova</a>
                </p>
            </div>
        </div>
    </div>
</footer>