a {
    color: white;
}

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    min-height: 600px;
    background-color: #3D4452;
}

.container-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.content-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;

}

.main-titles-footer {
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 25px;
    margin-bottom: 30px;

}

.fa-location-dot,
.fa-map,
.fa-phone,
.fa-paper-plane,
.fa-note-sticky,
.fa-circle-info,
.fa-square-instagram {
    color: orange;
    margin: 10px 10px 10px 0px;
    padding: 10px;
    border: 1px solid orange;
    border-radius: 100%;
}

.fa-calendar {
    color: orange;
}

.contacts-footer,
.latest-recipes-footer,
.information-footer,
.instagram-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 30px;
    min-height: 100px;
    width: 300px;
    animation: slide-in-from-left 1s ease-out; 
}

.list-about-footer {
    /* font-size: 14px; */
    margin: 0;
}

.list-element-about-footer {
    margin-bottom: 20px;
    font-style: italic;


}

.list-about-footer .list-element-about-footer:nth-child(1) .fa-location-dot {
    padding: 10px 12px;

}

.form-about-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid white;
    border-radius: 50px;


}

.input-form-about-footer {
    border-radius: 50px 0px 0px 50px;
    width: 200px;
    padding: 5px;
    border: none;
    height: 40px;
    background-color: #3D4452;


}

.button-form-about-footer {
    background-color: white;
    background-color: #3D4452;
    border: none;
    height: 40px;
    border-radius: 0px 50px 50px 0px;

}

.fa-regular-fa-paper-plane {
    margin: 0;
    color: white;
    border: 2px solid orange;
    background-color: orange;
    padding: 8px;

}

.button-form-about-footer:hover .fa-paper-plane {
    background-color: #3D4452;
    border-radius: none;
    color: orange;
}

/* ---------------------Latest-Recipes-------------------------- */
.card-latest-recipes-footer {
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
    width: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.img-card-latest-recipes-footer {
    background-position: center;
    object-fit: cover;
    background-size: contain;
    width: 125px;
    height: 125px;
    padding: 5px;
    border-radius: 10px;
}

.info-card-latest-recipes-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    padding: 5px;
    height: 125px;


}

.info-title-card-latest-recipes-footer {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 0;
    color: orange;
    /* overflow-wrap: anywhere; */
    overflow: hidden;
    height: 30px;
    width: 120px;
    font-family: "Alex Brush", cursive;



}

.info-description-card-latest-recipes-footer {
    font-size: 12px;
    overflow: hidden;
    overflow-wrap: anywhere;
    height: 55px;
    width: 120px;


}

.info-data-card-latest-recipes-footer {
    font-size: 12px;
    overflow: hidden;
    overflow-wrap: anywhere;

}

.information-list-footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    

}

.information-list-element-footer {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.5px;
    border-bottom: 1px solid orange;
}
.information-list-element-footer:hover {

border-bottom: 1px solid rgba(255, 0, 0, 0.637);;
}

.instagram-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.insta-img {
    background-position: center;
    object-fit: cover;
    background-size: contain;
    width: 80px;
    height: 115px;
    padding: 5px;
    border-radius: 10px;

}

.content-copy-right {
    display: flex;
    border-top: 2px solid rgba(255, 255, 255, 0.26);
    width: 75%;
    margin: 20px;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    animation: slide-in-from-left 1s ease-out; 
}

.copyright-info {
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 300;
    font-style: italic;

    
}

.copyright-info a {
    color: orange;
    font-family: "Alex Brush", cursive;
    font-size: 20px;
    font-weight: 500;

}
@keyframes slide-in-from-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}