<footer class="footer">
    <div class="container">
        <div class="">
            <div class="">
                <h2 class="">
                    <span class=""><i
                            class="ion-logo-ionic"></i></span>
                    About
                </h2>
                <div class="">
                    <ul>
                        <li><span class=""></span><span class="">203 Fake St. Mountain View, San
                                Francisco, California, USA</span></li>
                        <li><a href="#"><span class=""></span><span class="">+2 392 3929
                                    210</span></a></li>
                        <li><a href="#"><span class=""></span><span
                                    class="">somegmail.com</span></a></li>
                    </ul>
                </div>
                <form action="#" class="">
                    <div class="">
                        <input type="" class="" placeholder="Enter email address">
                        <button type="submit" class="" fdprocessedid="m4gek"><span
                                class="">Submit</span><i class="ion-ios-send"></i></button>
                    </div>
                </form>
            </div>
            <div class="">
                <h2 class=" align-items-center"><span
                        class=""><i
                            class="ion-ios-list-box"></i></span>Latest News</h2>
                <div class="">
                    <a class="" ></a>
                    <div class="text">
                        <h3 class=""><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                        <div class="">
                            <div><a href="#"><span class="icon-calendar"></span> Oct. 16, 2019</a></div>
                            <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                            <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <a class=""></a>
                    <div class="">
                        <h3 class=""><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                        <div class="">
                            <div><a href="#"><span class="icon-calendar"></span> Oct. 16, 2019</a></div>
                            <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                            <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <h2 class=""><span
                        class=""><i
                            class=""></i></span>Information</h2>
                <ul class="">
                    <li><a href="#" class="">About</a></li>
                    <li><a href="#" class="">Products</a></li>
                    <li><a href="#" class="">Blog</a></li>
                    <li><a href="#" class="">Contact</a></li>
                    <li><a href="#" class="">Help &amp; Support</a></li>
                </ul>
            </div>
            <div class="">
                <h2 class=" align-items-center"><span
                        class=""><i
                            class="ion-logo-instagram"></i></span>Instagram</h2>
                <div class="">
                    <div class="">
                        <div class="">
                            <a href="#" class=""></a>
                        </div>
                        <div class="">
                            <a href="#" class=""></a>
                        </div>
                        <div class="">
                            <a href="#" class=""></a>
                        </div>
                        <div class="">
                            <a href="#" class=""></a>
                        </div>
                        <div class="">
                            <a href="#" class=""></a>
                        </div>
                        <div class="">
                            <a href="#" class=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <p class="copyright">
                    Copyright ©
                    <script>document.write(new Date().getFullYear());</script>2024 All rights reserved.
                </p>
            </div>
            <div class="">
                <p class="copyright">This template is made with <i class="ion-ios-heart" aria-hidden="true"></i> by <a
                        href="https://colorlib.com" target="_blank">Colorlib.com</a>
                </p>
            </div>
        </div>
    </div>
</footer>