.containerEditForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.editForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    height: 250px;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 50px;

}

.editForm div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editForm label {
    color: rgba(255, 255, 255, 0.791);
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}

.editForm div input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    background-color: #1B2D3F;

    border: 2px solid rgba(173, 216, 230, 0.498);
    color: white;
    letter-spacing: 1.5px;
}

.buttonEditForm {
    display: block;
    width: 300px;
    height: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    border: 3px solid rgba(240, 248, 255, 0.531);
    background-color: rgba(240, 248, 255, 0.531);
    border-radius: 5px;




}

.editForm div input:hover {
    box-shadow: 0px 0px 10px 1px rgba(173, 216, 230, 0.474);

}

.editForm div input:active {
    box-shadow: 0px 0px 10px 1px lightblue;

}

.buttonEditForm:hover {
    border: 3px solid rgba(240, 248, 255, 0.531);
    background-color: #1B2D3F;
    color: rgba(240, 248, 255, 0.531);



}
.buttonEditForm:active {
    border: 3px solid lightgreen;
    background-color: #1B2D3F;
    color: lightgreen;


}