<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
</head>
<body>
<header>
    <nav>
        <a href="">CFamily</a>
        <div>
            <a href="">Store</a>
            <a href="">Name</a>
            <a href="">Log in</a>

        </div>
    </nav>
</header>
<main>
    {% block page_content %}
    {% endblock %}
</main>
<footer>
    <p>Copyright Association "CFamily" Bulgaria</p>
    <p>Powered by Django, designed and developed by LORINDI</p>
</footer>
</body>
</html>