.gmailForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    height: 323px;
}

.gmailFormInput {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1b2d3f;
    border: 2px solid rgba(173, 216, 230, 0.498);
    color: rgba(173, 216, 230, 0.807);
    letter-spacing: 1.5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
}

.gmailFormTextarea {
    width: 300px;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1b2d3f;
    border: 2px solid rgba(173, 216, 230, 0.498);
    color: rgba(173, 216, 230, 0.807);
    letter-spacing: 1.5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;

}

.gmailFormButton {
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 2px solid #1b2d3f;
    background-color: rgba(173, 216, 230, 0.744);
    color: black;



}
.gmailFormButton:hover {
    cursor: pointer;
    background-color: #1b2d3f;
    color: lightblue;
    border: 2px solid rgba(173, 216, 230, 0.495);
    font-weight: 600;
    transition: 0.5s;
  }