.gmailForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    height: 323px;
}

.gmailFormInput {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1b2d3f;

}

.gmailFormTextarea {
    width: 300px;
    height: 150px;
    border-radius: 5px;
    background-color: #1b2d3f;

}

.gmailFormButton {
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 2px solid #1b2d3f;
    background-color: rgba(173, 216, 230, 0.744);
    color: black;

}