@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* ----------------------------------about-us-------------------------------------- */
.faPenToSquare {
  color: lightblue;
}
.deleteItSpecialistButton{
  color: lightblue;
background-color: #1B2D3F;
border: none;
}
.wholeTeam {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  position: relative;

}

.wholeTeamLinks {
  position: fixed;
  left: 80px;
  top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
  z-index: 1;
}

.nameLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(173, 216, 230, 0.625);
  letter-spacing: 2px;
  font-size: 17px;
  border: 3px solid #142331;
  padding: 5px 50px;
  background-color: #1B2D3F;
  border-radius: 5px;
  width: 135px;
  text-transform: uppercase;
  font-weight: 600;
}

.nameLink:hover {
  color: lightblue;
  border: 3px solid rgba(173, 216, 230, 0.811);
}
.nameLink:active {
  color: #1B2D3F;
  background-color: lightgreen;
  border: 3px solid lightgreen;

}
.nameLinkCreate{
  position: fixed;
  bottom: 185px;
  left: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(173, 216, 230, 0.625);
  letter-spacing: 2px;
  font-size: 17px;
  border: 3px solid #142331;
  padding: 5px 50px;
  background-color: #1B2D3F;
  border-radius: 5px;
  width: 135px;
  text-transform: uppercase;
  font-weight: 500;
}

.nameLinkCreate:hover {
  color: lightblue;
  border: 3px solid lightblue;
}
.nameLinkCreate:active {
  color: lightgreen;
  border: 3px solid lightgreen;

}

.partTeam {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 125px;
  min-height: 100vh;

}

.partTeamImg {
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background-position: center;
  object-fit: cover;
  background-size: contain;
  border: 2px solid rgba(173, 216, 230, 0.509);
  padding: 10px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  opacity: 0.8;
  margin-left: 225px;

}

.partTeamImg:hover {
  transform: rotateY(15deg) rotateX(5deg);
  border: 2px solid rgba(173, 216, 230, 0.753);
  box-shadow: -20px 0px 50px 0px rgba(173, 216, 230, 0.753);
  opacity: 1;

}


.about {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.partTeamTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 400;

}

.partTeamDescription {
  max-width: 700px;
  font-size: 18.5px;
  font-weight: 500;
  letter-spacing: 1px;
  text-indent: 3em;
  text-align: justify;
  line-height: 40px;
  margin-right: 50px;
  width: 700px;


}

.about>span {
  width: 600px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;

}

.partTeamInfo {
  display: flex;
  flex-direction: row;
  width: 600px;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  padding: 10px 0px 10px 0px;
}

.fa-circle-info {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.718);
}

.fa-github {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.718);
}

.fa-certificate {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.718);
}

:root {
  --bg-color: #1B2D3F;
  --typewriterSpeed: 6s;
  --typewriterCharacters: 24;
}

.partTeamTitle {
  /* font-size: clamp(1rem, 3vw + 1rem, 4rem); */
  position: relative;
  /* font-family: "Source Code Pro", monospace; */
  position: relative;
  width: max-content;
  text-align: center;
  letter-spacing: 2px;
}

.partTeamTitle::before,
.partTeamTitle::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.partTeamTitle::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

.partTeamTitle::after {
  width: 0.125em;
  background: lightblue;
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  color: hsl(0 0% 0% / 0.7);
  font-size: 2rem;
  font-weight: 200;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#yt-link {
  position: absolute;
  bottom: 2em;
  width: 100%;
  color: hsl(0 0 0 / 0.7);

  &:hover,
  &:focus {
    color: teal;
  }
}


/* --------------------------------------------light------------------------------------------------- */
.dark.firstSection,
.dark.secondSection,
.dark.thirdSection {
  background-color: #1b2d3f;
}

.dark.partTeamTitle {
  color: rgba(255, 255, 255, 0.531);
  /* color: #ADB3B5; */

}

.partTeamDescription {
  color: #adb3b5e6;
}
/* ---------------------------------------------RESPONSIVE----------------------------------------------- */