{% extends 'base/base.html' %}
{% block content %}
    <main class="main main-dashboard">
        <section class="container-dashboard-medications-list">
            {% for medication in medications %}
                <div class="dashboard-medications">
                    <h1 class="dashboard-medications-title">{{ medication.name }}</h1>
                    <div>
                        <img src="{{ medication.image.url }}" alt="{{ medication.name }}">
                        <!-- <p class="medications-date-modified">{{ medication.date_modified }}</p> -->
                        <p class="dashboard-medications-description">{{ medication.description }}</p>
                    </div>
                    <p class="dashboard-medications-donation-price">{{ medication.donation_price }}<span>lv</span></p>

                    <button>ADD TO CARD</button>

                </div>




            {% empty %}
                <div class="dashboard-empty">
                    <p>No medications available.</p>
                </div>

            {% endfor %}


        </section>
        <section class="dashboard-container-dashboard-medical-equipment-list">
            {% for equipment in medical_equipment %}
                <div class="dashboard-medical-equipment">
                    <h1 class="dashboard-medical-equipment-title">{{ equipment.name }}</h1>
                    <div>
                        <img src="{{ medication.image.url }}" alt="{{ medication.name }}">
                        <!-- <p class="medical-equipment-date-modified">{{ equipment.date_modified }}</p> -->
                        <p class="dashboard-medical-equipment-description">{{ equipment.description }}</p>
                    </div>
                    <p class="dashboard-medical-equipment-donation-price">{{ equipment.donation_price }}<span>lv</span></p>

                    <button>ADD TO CARD</button>

                </div>



            {% empty %}
                <div class="dashboard-empty">
                    <p>No medical equipment available.</p>
                </div>

            {% endfor %}
        </section>
    </main>

{% endblock %}