{% extends 'base/index.html' %}
{% block content %}


    <main>
        <section class="medical-equipment-section">


            {% for equipment in medical_equipment %}
                <div class="medical-equipment">
                    <h1 class="medical-equipment-title">{{ equipment.name }}</h1>
                    <div>
                        <img src="{{ equipment.image.url }}" alt="{{ equipment.name }}">
                        <!-- <p class="medical-equipment-date-modified">{{ equipment.date_modified }}</p> -->
                        <p class="medical-equipment-description">{{ equipment.description }}</p>
                    </div>
                    <p class="medical-equipment-donation-price">{{ equipment.donation_price }}<span>lv</span></p>

                    <form method="post" action="{% url 'add_to_cart' equipment.pk %}">
                        {% csrf_token %}
                        <input type="number" name="quantity" value="1" min="1">
                        <button type="submit">Add to Cart</button>
                    </form>

                </div>



            {% empty %}
                <div class="empty">
                    <p>No medical equipment available.</p>
                </div>

            {% endfor %}
            {% if medical_equipment.has_other_pages %}
                <div class="pagination">
                <span class="step-links">
                    {% if medical_equipment.has_previous %}
                        <a href="?medical_equipment=1">&laquo; first</a>
                        <a href="?medical_equipment={{ medical_equipment.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current-page">
                        Page {{ medical_equipment.number }} of {{ medical_equipment.paginator.num_pages }}.
                    </span>

                    {% if medical_equipment.has_next %}
                        <a href="?medical_equipment={{ medical_equipment.next_page_number }}">next</a>
                        <a href="?medical_equipment={{ medical_equipment.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
                </div>
            {% endif %}

        </section>
    </main>



{% endblock %}