/* -------------------------------header-section------------------------------------------ */

.header-section {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.245); */
    background: linear-gradient(25deg, #a7cf6380, #3ecbd27d);
    position: relative;
   



}


.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    height: 75vh;
    justify-content: center;
    



}

.header-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/chermiti-mohamed-Mh3VpxeokRY-unsplash.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    /*filter: grayscale();*/
    z-index: -1;

}


.header-title {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 40px;
    text-shadow: 1px 1px 1px black;
}

.header-description {
    font-size: 22px;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 40px;
    font-weight: 400;
}

.support-button {
    font-size: 16px;
    font-weight: 500;
    padding: 7px 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* -------------------------------header-section------------------------------------------ */

/* -------------------------------cystic-fibrosis-section------------------------------------------ */

.cystic-fibrosis-section {

    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    width: 100%;

    position: relative;
}

.cystic-fibrosis-dropdown-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/pngwing.com.png');
    background-size: 45%;
    background-position: bottom;
    opacity: 0.3;
    background-repeat: no-repeat;
    /* filter: grayscale(); */
    z-index: -1;
    perspective: 800px;
    animation: rotate 5s linear forwards;
    transform-style: preserve-3d;
}
    @keyframes rotate {
        from {
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(360deg);
        }
    }

.cystic-fibrosis-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 300;
    min-height: 150px;
    width: 100%;
    border: none;
    font-style: italic;

}

.cystic-fibrosis-dropdown-content {
    display: none;

}

.cystic-fibrosis-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 120px; */
    min-height: 300px;
    width: 100%;
}

.cystic-fibrosis-what {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    margin-top: 10px;
}

.cystic-fibrosis-what div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cystic-fibrosis-description {
    font-size: 16.5px;
    font-weight: 400;


}

.cystic-fibrosis-affects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 600px;
    margin-top: 10px;
    padding-left: 60px;
}

.cystic-fibrosis-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 300;
}

.cystic-fibrosis-organs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cystic-fibrosis-organ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

.cystic-fibrosis-organ-title {
    font-size: 18px;
    font-weight: 500;
}

.cystic-fibrosis-organ-lungs-image {
    width: 120px;
    height: 110px;
    border-radius: 100%;
    background-position: center;
    object-fit: cover;
    background-size: contain;
    filter: grayscale(50%);

}

.cystic-fibrosis-organ-pancreas-image {
    width: 118px;
    filter: grayscale(50%);

}

.cystic-fibrosis-organ-liver-image {
    width: 120px;
    height: 110px;
    border-radius: 100%;
    background-position: center;
    object-fit: cover;
    background-size: contain;
    filter: grayscale(50%);



}

.cystic-fibrosis-organ-intestine-image {
    width: 120px;
    height: 110px;
    border-radius: 100%;
    background-position: center;
    object-fit: cover;
    background-size: contain;
    filter: grayscale(50%);
}

.cystic-fibrosis-symptoms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 250px;
}

.cystic-fibrosis-symptoms-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    margin-top: 10px;
}

.cystic-fibrosis-cause-info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

.cystic-fibrosis-cause {
    font-size: 18px;
}

.cystic-fibrosis-symptoms-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    justify-content: center;
    gap: 10px 20px;
    margin-top: 25px;


}

.cystic-fibrosis-symptom {
    display: flex;
    border: 1px solid gray;
    padding: 5px 10px;

}

.cystic-fibrosis-facts {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    min-height: 250px;
    align-items: center;
    justify-content: space-around;
    font-weight: 400;
    font-size: 16px;
}

.cystic-fibrosis-facts-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    width: 550px;
    margin-top: 10px;
}

.cystic-fibrosis-cftr-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
}

.cystic-fibrosis-cftr {
    width: 550px;
    font-size: 16.5px;
}

/* -------------------------------cystic-fibrosis-section------------------------------------------ */


/* -------------------------------about-us-section------------------------------------------ */

.about-us-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 450px;
    font-family: 'Montserrat', sans-serif;
    margin: 30px;
    box-shadow: 0px -5px 5px rgba(211, 211, 211, 0.493);



}

.container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    perspective: 1000px;
    gap: 80px;
    justify-content: center;

}



.card {
    height: 350px;
    width: 250px;
    /* margin-bottom: 20px; */
    box-shadow: 0px 0px 1px 1px gray;
    overflow: hidden;
    position: relative;
}

.card>img {
    height: 350px;
    width: 250px;
    transition: .5s;
    /* filter: grayscale(); */
    background-position: center;
    object-fit: cover;
    background-size: contain;
    opacity: 0.8;
    /* background: linear-gradient(25deg, #a7cf6380, #3ecbd27d); */

}

.intro {

    height: 50px;
    width: 250px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.705);
    /* background: linear-gradient(25deg, #a7cf6380, #3ecbd27d); */

    color: black;
    bottom: 0px;
    box-sizing: border-box;
    transition: .5s;
}

.intro-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.intro-description {
    display: flex;
    font-size: 16px;
    margin: 14px;
    visibility: hidden;
    opacity: 0;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    /* text-align: justify; */
    line-height: 32px;
    


}

.about-us-description {
    font-weight: 600;
    font-size: 13.5px;

}

.card:hover {
    cursor: pointer;
}

.card:hover .intro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.774);
    /* background: linear-gradient(25deg, #a7cf6380, #3ecbd27d); */

    backdrop-filter: blur(7px);
}

.card:hover .intro-description {
    opacity: 1;
    visibility: visible;
}

/* -------------------------------about-us-section------------------------------------------ */