.header-section {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: 100%;
    /* background: linear-gradient(25deg, #3abec57c, #9abe5c79); */
    margin: 0px 0px 20px 20px;
    position: relative;

}


.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: center;
    
    
}
/* .header-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/brian-erickson-CBHxASbfH4s-unsplash.jpg');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: -1;
} */

.header-title {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 15px;
}
.header-description {
    font-size: 18px;
    margin-bottom: 15px;
}
.support-button{
    padding: 7px 10px;
    background-color: #53A35C;
    color: white;
    border-radius: 5px;
}
.description-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: space-evenly;
    min-height: 350px;
    width: 100%;
}

.description-section img {
    height: 350px;
}

.description-section div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 350px;
}

.description-section div p {
    width: 700px;
    font-size: 16.5px;
    font-weight: 400;
}

.cystic-fibrosis-section {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.cystic-fibrosis-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-weight: 200;
    min-height: 200px;
    width: 100%;
    border: none;
    background-color: white;
    font-style: italic;

}
.cystic-fibrosis-title:hover {
    color: #53A35C;


}
.cystic-fibrosis-dropdown-content {
    display: none;

}
.cystic-fibrosis-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 300px;
    width: 100%;
}

.cystic-fibrosis-what {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    margin-top: 10px;
}

.cystic-fibrosis-what div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cystic-fibrosis-description {
    font-size: 16.5px;
    font-weight: 400;


}

.cystic-fibrosis-affects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 600px;
    margin-top: 10px;
}

.cystic-fibrosis-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 300;
}

.cystic-fibrosis-organs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cystic-fibrosis-organ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

.cystic-fibrosis-organ-title {
    font-size: 18px;
    font-weight: 500;
}

.cystic-fibrosis-organ-lungs-image {
    width: 120px;
    height: 110px;
    border-radius: 100%;
    background-position: center;
    object-fit: cover;
    background-size: contain;

}

.cystic-fibrosis-organ-pancreas-image {
    width: 118px;


}

.cystic-fibrosis-organ-liver-image {
    width: 120px;
    height: 110px;
    border-radius: 100%;
    background-position: center;
    object-fit: cover;
    background-size: contain;




}

.cystic-fibrosis-organ-intestine-image {
    width: 120px;
    height: 110px;
    border-radius: 100%;
    background-position: center;
    object-fit: cover;
    background-size: contain;

}

.cystic-fibrosis-symptoms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 250px;
}

.cystic-fibrosis-symptoms-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    margin-top: 10px;
}

.cystic-fibrosis-cause-info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

.cystic-fibrosis-cause {
    font-size: 18px;
}

.cystic-fibrosis-symptoms-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    justify-content: center;
    gap: 10px 20px;
    margin-top: 25px;


}

.cystic-fibrosis-symptom {
    display: flex;
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 3px;
    
}

.cystic-fibrosis-facts {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    min-height: 250px;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 400;
}

.cystic-fibrosis-facts-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    width: 550px;
    margin-top: 10px;
}

.cystic-fibrosis-cftr-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.cystic-fibrosis-cftr {
    width: 550px;
    font-size: 16.5px;
}