.cart-items-list {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}
.cart-item {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
    margin-top: 20px;
    width: 600px;
    justify-content: space-between;
    padding: 10px 20px;
}
.cart-item-image {
    width: 100px;
    border-radius: 5px;
}