.container-user-change-password {
    display: flex;
    flex-direction: column;
    border: 2px solid #53a35c7a;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 15px 3px #011b0054;
    color: aliceblue;
    padding: 10px;

    width: 700px;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #53A35C;
}
.user-change-password-title {
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 25px;
    margin-bottom: 10px;
}

.user-change-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.user-change-password-form>div {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 300px;
   
}
.user-change-password-form>div div ul li{
    margin-left: 20px;
   
}
.user-change-password-form div label{
    display: flex;
    margin-bottom: 3px;
    letter-spacing: 0.5px;
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: 500;
   
}
#id_old_password, #id_new_password1, #id_new_password2 {
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 5px;
    padding: 5px 10px;
    letter-spacing: 1px;
    font-size: 15.5px;
    color: #53a35c;
    font-style: italic;
    border: 2px solid #53a35c7a;
    font-weight: 500;
    width: 300px;
}
.user-change-password-button {
    width: 300px;
    background-color: #53a35cc0;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 3px;
    padding: 8px 5px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}