.container-charitable-trek-create-form {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 500px;
    padding: 50px;
    justify-content: center;
    font-family: 'Wix Madefor Display', sans-serif;
    flex-wrap: wrap;
}

.charitable-trek-create-form-title {
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 25px;
    font-family: 'Poiret One', cursive;
}

.charitable-trek-create-form {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
   
}
.charitable-trek-create-form div{
    display: flex;
    flex-direction: column;
    width: 300px;
    flex-wrap: wrap;
}
.charitable-trek-create-form-button {
    width: 280px;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 5px;
    font-weight: 100;
    margin-top: 10px;
}