.main-donations-create-edit-card {
    /* background: linear-gradient(25deg, #a7cf639d, #3ecbd2a9); */
    min-height: 100vh;
    width: 100%;
}

.container-donation-create-edit-card {
    /* margin-top: 25px;
    margin-bottom: 25px; */
    display: flex;
    flex-direction: column;
    /* backdrop-filter: blur(5px); */
    padding: 10px;
    /* min-width: 25%; */
    /* width: auto; */
    /* height: auto; */
    min-height: 100%;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;


}

.donation-create-edit-card-title {
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 25px;
    margin-bottom: 10px;
}

.donation-create-edit-card-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 900px;
    height: 600px;
    flex-wrap: wrap;


}

.donation-create-edit-card-form div {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 8px;


}

.donation-create-edit-card-form div label {
    margin-bottom: 3px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    width: 350px;


}

#id_description,
#id_purpose,
#id_topics,
#id_contact_information {
    min-height: 200px;
}

#id_title,
#id_image,
#id_type,
#id_description,
#id_donation_price,
#id_purpose,
#id_topics,
#id_contact_information,
#id_start_hour,
#id_end_hour,
#id_organizers,
#id_location,
#id_name_benefactor,
#id_contact_email,
#id_contact_phone {


    padding: 10px 15px;
    letter-spacing: 1.5px;
    font-size: 15.5px;
    font-style: italic;
    font-weight: 500;
    width: 350px;



}

#id_description {
    height: 150px;
}

.donation-create-edit-card-button {
    width: 300px;

    border: none;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 5px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;

}