
/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
.main-donations-content{
    backdrop-filter: blur(5px); 
    /* background-color: white; */
    height: 100%;
    min-height: 835px;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.253);
    border-top: 2px solid rgba(255, 255, 255, 0.253);
}
.container-donation-details {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 600px;
    border: 1px solid black;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    align-items: center;

}
.content-first-donation-details{
    display: flex;
    flex-direction: column;

    height: 500px;
}
.donation-details-title{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-weight: 500;
    color: #53A35C;
    font-size: 40px;

}
.donation-details-image{
    display: flex;
    width: 500px;
    border-radius: 5px;
    border: 1px solid #53a35c7a;
    box-shadow: 0px 0px 5px 1px #011b0054;


}
.donation-details-description{
    display: flex;
    width: 700px;
}
.content-second-donation-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 500px;

}