.container-donation-create-edit-card {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    border: 2px solid #53a35c7a;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    /* text-shadow: 1px 1px 2px #0D3E3E; */
    box-shadow: 0px 0px 10px 1px #011b0054;
    color: aliceblue;
    padding: 10px;
    min-width: 25%;
    /* max-width: 75%; */
    width: auto;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #53A35C;

}

.donation-create-edit-card-title {
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 25px;
    margin-bottom: 10px;
}

.donation-create-edit-card-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


}

.donation-create-edit-card-form div {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 8px;


}

.donation-create-edit-card-form div label {
    margin-bottom: 3px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    width: 300px;


}

#id_description,
#id_purpose,
#id_topics,
#id_contact_information {
    min-height: 100px;
}

#id_title,
#id_image,
#id_type,
#id_description,
#id_donation_price,
#id_purpose,
#id_topics,
#id_contact_information,
#id_start_hour,
#id_end_hour,
#id_organizers,
#id_location,
#id_name_benefactor,
#id_contact_email,
#id_contact_phone {
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 5px;
    padding: 5px 10px;
    letter-spacing: 1px;
    font-size: 15.5px;
    color: #53a35c;
    font-style: italic;
    border: 2px solid #53a35c7a;
    font-weight: 500;
    width: 300px;



}

#id_description {
    height: 150px;
}

.donation-create-edit-card-button {
    width: 300px;
    background-color: #53a35cc0;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 5px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;

}