/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    height: 100%;


}

/* ----------------------------------nav------------------------------------ */


.header {
    display: flex;
    width: 100%;

}



.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /* padding: 3px 0px 5px 3px; */
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.logo-link {
    font-size: 25px;
    font-weight: 400;
    padding: 10px;
    letter-spacing: 0;
    font-weight: 300;
}

.sub-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 33%;
}

.news-links,
.shop-links,
.events-links,
.books-links,
.tables-links,
.new-events-links,
.user-links {
    height: 45px;
    border: none;
    background-color: white;


}

.cart-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;



}

.cart-link:hover,
.news-links:hover,
.shop-links:hover,
.events-links:hover,
.books-links:hover,
.tables-links:hover,
.new-events-links:hover,
.user-links:hover {

    background-color: #F1F2F4;

}

.cart-link:active,
.news-links:active,
.shop-links:active,
.events-links:active,
.books-links:active,
.tables-links:active,
.new-events-links:active,
.user-links:active {

    /* border-bottom: 3px solid black; */

}

.fa-table,
.fa-square-plus,
.fa-shop,
.fa-cart-shopping,
.fa-arrow-right-from-bracket {
    padding: 5px 30px;
    font-size: 25px;

}

.fa-user {
    font-size: 25px;

    padding-left: 20px;
}

.fa-caret-down {
    font-size: 25px;
    padding-right: 20px;

}

.fa-earth-americas {
    padding: 5px 30px;

    font-size: 27.5px;
}

.fa-heart {
    padding: 5px 30px;

    font-size: 30px;
}

.fa-book {
    padding: 5px 30px;

    font-size: 27px;
}


/* ------------------------------------main------------------------------------- */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* ------------------------------------footer------------------------------------- */
.footer {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;

}

.footer-text,
.powered-by-text {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
}

@media(width <=320px) {
    * {
        overflow-x: hidden;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        padding-right: 5px;
    }

    .logo-link {
        font-size: 14px;
        padding: 0px;
    }

    .fa-table,
    .fa-square-plus,
    .fa-shop,
    .fa-cart-shopping,
    .fa-arrow-right-from-bracket {
        padding: 0px;
        font-size: 18px;
    }

    .fa-user {
        padding: 0px;

        font-size: 18px;
    }

    .fa-caret-down {
        padding: 0px;

        font-size: 18px;
    }

    .fa-earth-americas {
        padding: 0px;

        font-size: 18px;
    }

    .fa-heart {
        padding: 0px;

        font-size: 18px;
    }

    .fa-book {
        padding: 0px;

        font-size: 18px;
    }

    .sub-navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 38%;
        justify-content: space-around;
    }

}