.container-initiative-create-form {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 580px;
    align-items: center;
    justify-content: center;
    font-family: 'Wix Madefor Display', sans-serif;
}

.initiative-create-form-title {
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 25px;
    font-family: 'Poiret One', cursive;
}

.initiative-create-form {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-evenly;
    align-items: stretch;
}
.initiative-create-form div{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.initiative-create-form-button {
    width: 280px;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 5px;
    font-weight: 100;
    margin-top: 10px;
}