/* -----------------------------------------------------index.html-------------------------------------------------------------- */



.body {
    background-color: white;
}


/* ---------------navigation-icon-buttons------------------ */


.fa-table,
.fa-square-plus,
.fa-earth-americas,
.fa-book,
.fa-shop,
.fa-cart-shopping,
.fa-user,
.fa-arrow-right-from-bracket,
.fa-heart,
.fa-caret-down,
.fa-circle-info{

    color: gray;

}
/* ---------------navigation-icon-buttons------------------ */




/* -----------------------------------------------------home-page-------------------------------------------------------------- */
.header-title {
    color: white;
}

.header-description {
    color: white;
}

.support-button {
    background-color: lightgrey;
    color: black;
}



.header-content {
    box-shadow: inset 0px -30px 20px 0px white;

}





.about-us-list-element {
    background-color: gray;

}

.cystic-fibrosis-title {
    background-color: white;

}

.cystic-fibrosis-title:hover {
    color: grey;


}

.cystic-fibrosis-dropdown-content {
    background-color: white;
    z-index: -1;
}

/* -----------------------------------------------------home-page-------------------------------------------------------------- */
/* -----------------------------------------------------cards-back-------------------------------------------------------------- */
.back {

    background-color: lightgrey;


}

.back p {

    color: black;

    text-shadow: 1px 1px 3px white;
}

/* -----------------------------------------------------cards-back-------------------------------------------------------------- */
/* -----------------------------------------------------user-details-------------------------------------------------------------- */

/* --------------------------------nav------------------------------------ */

.user-details-navigation {

    border-bottom: 1px solid #E2E4E6;
    border-top: 1px solid #E2E4E6;
}



/* --------------------------------nav------------------------------------ */

/* --------------------------------INFO------------------------------------ */
.user-details-content-info {
    background-color: #F1F2F4;
}

.user-details-content-info::before {
    background-color: white;
}

.span {
    color: gray;
}

.information-user {
    border-bottom: 2px solid lightgrey;
}

/* --------------------------------INFO------------------------------------ */
/* --------------------------------Campaigns-Initiatives------------------------------------ */

.user-details-content-campaigns, .user-details-content-initiatives, .user-details-content-events {
    background-color: #F1F2F4;
}
/* --------------------------------Campaigns-Initiatives------------------------------------ */

/* -----------------------------------------------------user-details-------------------------------------------------------------- */
