/* -----------------------------------------------------home-page-------------------------------------------------------------- */
.header-title {
    color: white;
}

.header-description {
    color: white;
}

.support-button {
    background-color: lightgrey;
    color: black;
}



.header-content {
    box-shadow: inset 0px -30px 20px 0px white;

}





.about-us-list-element {
    background-color: gray;

}
.cystic-fibrosis-title {
    background-color: white;
    
}

.cystic-fibrosis-title:hover {
    color: grey;


}

.cystic-fibrosis-dropdown-content {
    background-color: white;
    z-index: -1;
}
/* -----------------------------------------------------home-page-------------------------------------------------------------- */
/* -----------------------------------------------------cards-back-------------------------------------------------------------- */
.back {

    background-color: lightgrey;


}
.back p {

    color: black;

    text-shadow: 1px 1px 3px white;
}
/* -----------------------------------------------------cards-back-------------------------------------------------------------- */
.body {
    background-color: white;
}



.add-to-cart-button,
.edit-link,
.delete-link {

    background-color: gray;

}

.fa-shop,
.fa-cart-shopping,
.fa-user,
.fa-arrow-right-from-bracket,
.fa-heart,
.fa-caret-down {

    color: gray;

}

.projects-link:hover,
.initiatives-link:hover,
.events-link:hover,
.charitable-treks-link:hover,
.charity-races-link:hover,
.benefactors-link:hover {

    background-color: #ececec9a;

    color: black;

}

.shop-icon-link:hover,
.cart-icon-link:hover,
.username:hover,
.fa-heart:hover,
.fa-cart-shopping:hover,
.fa-user:hover,
.fa-arrow-right-from-bracket:hover,
.fa-caret-left:hover,
.fa-caret-right:hover,
.fa-shop:hover {

    color: white;
}

.create-donation-link:hover,
.create-projects-link:hover,
.create-initiatives-link:hover,
.create-events-link:hover,
.create-charitable-treks-link:hover,
.create-charity-races-link:hover,
.create-benefactors-link:hover {
    background-color: rgba(255, 255, 255, 0.514);
}