.container-password-reset {
    display: flex;
    flex-direction: column;
    border: 2px solid #53a35c7a;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 15px 3px #011b0054;
    padding: 10px;
    height: 450px;
    width: 300px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #53A35C;
   
}
.password-reset-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   
}
.password-reset-form div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
 
   
}
.password-reset-title{
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 25px;
    margin-bottom: 10px;

}
.password-reset-instructions>p {
    letter-spacing: 1.5px;
    font-weight: 300;

}
.password-reset-form>div>label {
    margin-bottom: 3px;
    letter-spacing: 1.5px;
    font-weight: 500;
}
.password-reset-button {
    width: 250px;
    background-color: #53a35cc0;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 3px;
    padding: 8px 5px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
