.container-password-reset {
    display: flex;
    flex-direction: column;
    border: 1px solid #0D3E3E;
    background-color: #0d3e3e50;
    backdrop-filter: blur(10px); 
    text-shadow: 1px 1px 2px #0D3E3E;
    box-shadow: 1px 1px 30px 5px #F8F7EE;
    color: aliceblue;
    padding: 10px;
    width: 900px;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
   
}
.password-reset-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
.password-reset-title{
    font-size: 35px;
    font-family: 'Poiret One', cursive;
    font-weight: 700;
    letter-spacing: 3px;

}
.password-reset-instructions>p {
    font-family: 'Tenor Sans', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;

}
.password-reset-form>div>label {
    margin-right: 10px;
    font-family: 'Tenor Sans', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
}
.password-reset-button {
    background-color: #ffffff7d;
    border-radius: 10px;
    color: #083232;
    font-family: 'Poiret One', cursive;
    font-size: 23px;
    letter-spacing: 3px;
    padding: 5px;
    font-weight: bolder;
}
