.container-password-reset-send {
    display: flex;
    flex-direction: column;
    border: 2px solid #53a35c7a;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 15px 3px #011b0054;
    padding: 10px;
    height: 400px;
    width: 850px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #53A35C;
}
.password-reset-send-title{
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 3px;
}
.password-reset-send-content>p {
    letter-spacing: 1.5px;
    font-weight: 400;
    width: 780px;
    font-size: 18px;

}