
.main-cards-content {
    height: 100%;
    min-height: 825px;
    width: 100%;
 
}
.container-cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.cards-lists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 50px;
    flex-wrap: wrap;
    font-weight: 100;
    
    
}
.card-list-element{
    width: 270px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    overflow: hidden;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffa1;
    
   
}
.card-list-element a {
    display: flex;
    border: 1px solid #0D3E3E;
    border-radius: 7px;
    color: black;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 5px 10px;
    font-weight: bolder;
    margin-bottom: 10px;
    width: 260px;
    align-items: center;
    justify-content: center;
}
.card-list-element-img{
    width: 270px;
    overflow: hidden;
  
    
}
.card-list-element-title {
    color: #0D3E3E;
    font-size: 16px;
    font-weight: 400;
    width: 250px;
    padding-bottom: 20px;
    letter-spacing: 1px;
}