/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

.container-user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    backdrop-filter: blur(100px);
    background-color: rgba(255, 255, 255, 0.288);
    height: 100%;
    min-height: 825px;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.253);
    border-top: 2px solid rgba(255, 255, 255, 0.253);

}

/* ------------------------------------------------------------ */
.container-user-details-content {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    box-shadow: 0px 0px 10px 3px #0d3e3e42;
    font-family: 'Roboto', sans-serif;

}

.user-details-content-img-and-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    width: 350px;


}

.user-details-content-img-and-links img {
    width: 230px;
    height: 230px;
    border-radius: 100%;
    background-position: center;
    object-fit: cover;
    background-size: contain;
    margin-top: 50px;


}

.user-details-content-img-and-links div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    justify-content: space-evenly;
    font-size: 16px;

}

.user-details-content-img-and-links div .user-edit {
    padding: 10px 48.5935px;
    background-color: #7bc239c5;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    border-radius: 5px;
    z-index: 1;
    font-size: 16px;

}

.user-details-content-img-and-links div .user-change-password {
    padding: 10px 19.1px;
    background-color: #53a35ce8;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    border-radius: 5px;
    z-index: 1;
    font-size: 16px;
}

.user-details-content-img-and-links div .user-delete {
    padding: 10px 35.02px;
    background-color: #016366b4;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    border-radius: 5px;
    z-index: 1;
    font-size: 16px;
}

/* ------------------------------------------------------------ */

.user-details-content-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 450px;
    height: 700px;
    overflow: hidden;
    
}

.current-details {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-details:nth-child(1) {
    margin-top: 20px;

}

.current-details:nth-last-child(1) {
    margin-bottom: 20px;

}

.current-details label {
   
    color: aliceblue;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 3px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
}

.current-details p {
   
    color: white;
    width: 200px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.473);
    padding-bottom: 3px;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.user-details-content-cover:before {
    content: "";
    display: block;
    position: fixed;
    width: 450px;
    height: 700px;
    background-image: url("../images/rianne-zuur-PoxFTU7_QKo-unsplash.jpg");
    border-radius: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    border-radius: 15px;
}

.user-details-content-cover::after {
    content: "";
    position: fixed;
    backdrop-filter: blur(5px);
    width: 400px;
    height: 650px;
    z-index: 1;
    background-color: #0d3e3e36;
    border-radius: 5px;

}

/* --------------------------------------------------------------------- */
.user-details-content-events {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid white; */
    height: 700px;
    width: 300px;

}

.user-details-content-events:before {
    content: "";
    display: block;
    position: fixed;

    background-image: url("../images/nature-treks-events.png");
    border-radius: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    border-radius: 30px;

}