/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
.container-user-edit-form{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #0D3E3E;
    box-shadow: 1px 1px 30px 5px #F8F7EE;
    backdrop-filter: blur(10px); 
    font-family: 'Roboto', sans-serif;
    
}
.container-user-edit-form h1{
    color: #53A35C;
    text-decoration: none;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 40px;
    

}

.user-edit-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 900px;
    height: 400px;
    justify-content: space-around;

 
   

}
.user-edit-form div{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
  
}
.user-edit-form div:nth-child(13){
    position: relative;
  
}
.user-edit-form div:nth-child(13) br{
    display: none;
  
}
#profile_picture-clear_id {
    position: absolute;
    bottom: 56px;
    right: 210px;
}

.user-edit-form div>label{
    margin-bottom: 3px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #429656;
    width: 200px;
}
.edit-button {
    background-color: #53a35cc0;
    border: none;
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 5px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 300px;

}