/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
/* --------------------------------header------------------------------------ */
.container-user-details {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-height: 855px;
}


.user-details-content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.user-details-cover-photo {
    width: 100%;
    object-fit: cover;
    height: 225px;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    filter: grayscale(100%);
    opacity: 0.8;
}

.user-details-basic-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -100px;
}

.user-details-fullname {
    text-transform: uppercase;
    font-size: 18px;
}

.user-details-profile-picture {

    /* border: 1px solid black; */
    border-radius: 100%;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    background-position: center;
    object-fit: cover;
    background-size: contain;
    filter: grayscale();
}

/* --------------------------------header------------------------------------ */
/* --------------------------------nav------------------------------------ */

.user-details-content-navigation {
    display: flex;
    width: 100%;
    height: 170px;
    align-items: flex-end;

}

.user-details-navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 7px 0px 7px 0px;

}

.list-links {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

/* --------------------------------nav------------------------------------ */
/* --------------------------------INFO------------------------------------ */
.user-details-content-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 460px;
    position: relative;
    padding: 20px;
}

.user-details-content-info::before {
    content: '';
    position: absolute;
    width: 66%;
    min-height: 400px;
    height: 90%;
    z-index: 0;
}

.user-details-section-current-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 66%;
    z-index: 1;
}

.current-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    padding: 10px;

}

.span {
    padding-bottom: 5px;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.information-user {
    display: flex;
    justify-content: center;
    width: 180px;
    font-size: 15px;
    letter-spacing: 0.5px;
}

/* --------------------------------INFO------------------------------------ */
/* --------------------------------Campaigns-Initiatives------------------------------------ */
.user-details-content-campaigns, .user-details-content-initiatives, .user-details-content-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 460px;
    position: relative;
    padding: 20px;
}
.user-details-list-campaigns, .user-details-list-initiatives, .user-details-list-events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}
.user-details-campaign-element, .user-details-initiative-element, .user-details-event-element{
    display: flex;
    flex-direction: row;
    box-shadow: -1px -1px 5px 1px rgba(211, 211, 211, 0.486);
    background-color: white;
    overflow: hidden;
}
.user-details-campaign-element>article, .user-details-initiative-element>article, .user-details-event-element>article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 150px;
    padding: 10px;
}
.user-details-title{
    overflow-wrap: anywhere;
}
.user-details-button{
    font-size: 14px;
}
.user-details-img{
    width: 150px;
    height: 150px;
    background-position: center;
    object-fit: cover;
    background-size: contain;

    
}
/* --------------------------------Campaigns-Initiatives------------------------------------ */
