<div class="login-section">
    <form action="submit.php" method="post" class="login-form">
        <label for="username" class="login-form-label">Username</label>
        <input type="text" id="username" name="username" class="login-form-input" required>

        <label for="password" class="login-form-label">Password</label>
        <input type="password" id="password" name="password" class="login-form-input" required>

        <input type="submit" value="Log in" class="login-form-button">
    </form>
</div>