.listPage {
    display: flex;
    height: 100%;

  .listContainer {
    flex: 3;

    .wrapper {
        padding: 50px;
    }
  }
  .mapContainer {
    flex: 2;
    background-color: #fcf5f3;

  }
}
