{% extends 'base/index.html' %}

{% block content %}
    <main class="main-details-content">
        <section class="container-details">
            <div class="content-creation-date-creator">
                <p>{{ initiative.created_at }}</p>
                <p>{{ initiative.creator }}</p>
            </div>
            <div>
                <h1>{{ initiative.title }}</h1>
                <img src="{{ initiative.image.url }}" alt="{{ initiative.title }}">
                <p>{{ initiative.description }}</p>
            </div>


            {% if initiative.youtube_link %}
                <iframe width="560" height="315" src="{{ initiative.youtube_link }}" frameborder="0"
                        allowfullscreen></iframe>
            {% endif %}
            <div>
                {% if request.user.is_authenticated and request.user.is_superuser or request.user.is_authenticated and request.user.is_staff %}
                    <a href="{% url 'initiative_update' initiative.pk %}">Edit</a>
                    <a href="{% url 'initiative_delete' initiative.pk %}">Delete</a>
                    {#                    <a href="{% url 'event_update' initiative.pk %}">Edit</a>#}
                    {#                    <a href="{% url 'event_delete' initiative.pk %}">Delete</a>#}
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}
