{% extends 'base/index.html' %}

{% block content %}
    <main class="main-details-content">
        <section class="container-details">
            <div class="container-creation-date-creator">
                <p>{{ campaign.created_at }}</p>
                <p>{{ campaign.creator }}</p>

            </div>
            <div class="container-title"> <h1>{{ campaign.title }}</h1> </div>
            <div class="container-img-description-target-amount">
             
                <div class="content-img-description-target-amount">
                    <img src="{{ campaign.image.url }}" alt="{{ campaign.title }}">
                    <div>
                        <p>{{ campaign.description }}</p>
                        <p>Target Amount: {{ campaign.target_amount }}</p>
                    </div>
                </div>
                

            </div>
           
            <div>
                <a href="{% url 'campaign_success' campaign.pk %}" class="btn btn-primary">Support Campaign</a>


            {% if request.user.is_authenticated and request.user.is_superuser or request.user.is_authenticated and request.user.is_staff %}
                <a href="{% url 'campaign_update' campaign.pk %}">Edit</a>
                <a href="{% url 'campaign_delete' campaign.pk %}">Delete</a>
            {% endif %}
            </div>
        </section>
    </main>
{% endblock %}
