{% extends 'base/index.html' %}

{% block content %}
    <main class="main-admin-content">
        <section class="container-content-table">
            <h1>Saved campaigns</h1>
            <table>
                <thead>
                <tr>
                    <th>№</th>
                    <th>Campaign</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Registration Date</th>

                </tr>
                </thead>
                <tbody>
                {% for campaign in campaigns %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ campaign.title }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% for registration in registrations %}
                        {% if registration.campaign == campaign %}
                            <tr>
                                <td></td>
                                <td></td>
                                {#                                {% if registration.user.profile_picture %}#}
                                {#                                    <td><img src="{{ registration.user.profile_picture.url }}"#}
                                {#                                             alt="{{ registration.user.username }}"></td>#}
                                {#                                {% else %}#}
                                {#                                    <td>No Picture Available</td>#}
                                {#                                {% endif %}#}
                                <td>{{ registration.user.get_name }}</td>
                                <td>{{ registration.user.username }}</td>
                                <td>{{ registration.user.telephone }}</td>
                                <td>{{ registration.user.email }}</td>
                                <td>{{ registration.registration_date }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
            {% if campaigns|length > 0 %}
                <div class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}"><i
                                class="fa-solid fa-caret-left"></i></a>
                    {% else %}
                        <a><i class="fa-solid fa-caret-left"></i></a>
                    {% endif %}
                    {{ page_obj.number }} / {{ paginator.num_pages }}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}&search={{ search }}"><i
                                class="fa-solid fa-caret-right"></i></a>
                    {% else %}
                        <a><i class="fa-solid fa-caret-right"></i></a>
                    {% endif %}
                </div>
            {% endif %}
        </section>
    </main>
{% endblock %}
