{% extends 'base/index.html' %}
{% load static %}

{% block content %}
    <main class="main-details-content">
        <section class="container-details">
            <div class="container-creation-date-creator">
                <p>{{ campaign.created_at }}</p>
                <p>{{ campaign.creator }}</p>

            </div>
            <div class="container-title"><h1>{{ campaign.title }}</h1></div>
            <div class="container-img-description-target-amount">

                <div class="content-img-description-target-amount">
                    <img src="{{ campaign.image.url }}" alt="{{ campaign.title }}">
                    <div>
                        <p>{{ campaign.description }}</p>
                        <p>Target Amount: {{ campaign.target_amount }}</p>
                    </div>
                </div>


            </div>

            <div>

                {% if user_can_register %}
                    {% if user_already_registered %}
                        <a href="{% url 'campaign_unregister' campaign.pk %}" class="btn btn-danger">Unregister</a>
                    {% else %}
                        {#                        <a href="{% url 'campaign_register' campaign.pk %}" class="btn btn-primary">Register for#}
                        {#                            Campaign</a>#}
                        <button id="registerButton" class="btn btn-primary">Register for Campaign</button>

                        <div id="registerModal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <h2 class="campaign-register-form-title">Register for Campaign</h2>
                                <form method="post" action="{% url 'campaign_register' campaign.pk %}"
                                      enctype="multipart/form-data" class="campaign-register-form">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit" class="btn btn-primary">Register</button>
                                </form>
                                <div id="thankYouModal" class="modal">
                                    <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <h2 class="campaign-register-form-title">Thank You for Your Support!</h2>
                                        <p>Your support for "{{ campaign.title }}" has been registered.</p>
                                        <a href="{% url 'campaign_detail' campaign.pk %}" class="btn btn-primary">Back
                                            to Campaign</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                {% endif %}



                {% if request.user.is_authenticated and request.user.is_superuser or request.user.is_authenticated and request.user.is_staff %}
                    <a href="{% url 'campaign_update' campaign.pk %}">Edit</a>
                    <a href="{% url 'campaign_delete' campaign.pk %}">Delete</a>
                {% endif %}
            </div>
            <script src="{% static 'js/myscript.js' %}"></script>
            <script src="{% static 'js/thankYouForYourSupport.js' %}"></script>
        </section>
    </main>
{% endblock %}
