{% extends 'base/index.html' %}

{% block content %}
    <main class="main-cards-content">
        <section class="container-cards">

            <ul class="cards-lists" role="list">
                {% for campaign in campaigns %}
                    <li class="card-list-element">
                        <img class="card-list-element-img" src="{{ campaign.image.url }}" alt="{{ campaign.title }}">
                        <h1 class="card-list-element-title">{{ campaign.title }}</h1>

                        <a href="{% url 'campaign_detail' campaign.pk %}">SEE MORE</a>
                    </li>
                {% endfor %}


            </ul>
            {% if campaigns|length > 0 %}
                <div class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}"><i
                                class="fa-solid fa-caret-left"></i></a>
                    {% else %}
                        <a><i class="fa-solid fa-caret-left"></i></a>
                    {% endif %}

                    {{ page_obj.number }} / {{ paginator.num_pages }}

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}&search={{ search }}"><i
                                class="fa-solid fa-caret-right"></i></a>
                    {% else %}
                        <a><i class="fa-solid fa-caret-right"></i></a>
                    {% endif %}
                </div>
            {% endif %}
        </section>
    </main>
{% endblock %}