.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #45443E;

}

.sectionInformationAboutUs {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    padding: 20px;
}

.informationAboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    padding: 20px;
}

.workTimeList {
    margin: 0;

}

.informationAboutUsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #70B11C;
    margin: 20px;
    color: rgba(211, 211, 211, 0.753);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.5px;

}

.workTimeListElement {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dayOfTheWeek {
    margin: 0;
    color: rgba(211, 211, 211, 0.753);
    width: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.workTime {
    color: rgba(211, 211, 211, 0.753);
}

/* ------------------------------------Gallery----------------------------------------------- */
.magnificAnchor img {
    border-radius: 4px;
    width: 70px;
    height: 70px;
    padding: 3px;
}

.magnificImages {
    padding: 0;
    margin: 0;
}

.magnificImages li {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* --------------------------------------Footer-Navigation----------------------- */
.contentFooterNavigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;
    border-top: 2px solid gray;


}

.footerNavigationTitle {
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    text-transform: uppercase;
}

.contentFooterLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    /* width: 100%; */
}

.contentFooterLink {
    text-transform: uppercase;
    color: #70B11C;
    letter-spacing: 1.5px;
    font-weight: 600;


}

.contentFooterLink:hover {
    color: #FFDD00;
}

.contentFooterLink:not(:last-child):after {
    content: "";
    border-right: 3px solid white;
    margin: 15px;

}

.contentFooterIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footerIcon {
    color: white;
    margin-right: 15px;
    font-size: 25px;
}

.footerIcon:hover {
    color: #FFDD00;


}

.contentRightsReserved {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
    height: 50px;
    background-color: #70B11C;

}

.rightsReservedText {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;

}

.rightsReservedTextSpan {
    color: white;
    margin: 0px 30px 0px 30px;
    font-weight: 600;
}