.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.contentFooterNavigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.908);
    padding: 30px;
    min-height: 225px;
    width: 100%;

}

.footerNavigationTitle {
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    text-transform: uppercase;
}

.contentFooterLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
}

.contentFooterLink {
    text-transform: uppercase;
    color: #70B11C;
    letter-spacing: 1.5px;


}

.contentFooterLink:hover {
    color: #FFDD00;
}

.contentFooterLink:not(:last-child):after {
    content: "";
    border-right: 3px solid white;
    margin: 15px;

}

.contentFooterIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footerIcon {
    color: white;
    margin-right: 15px;
    font-size: 25px;
}

.footerIcon:hover {
    color: #FFDD00;


}

.contentRightsReserved {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
    height: 50px;
    background-color: #ffdd00e0;

}
.rightsReservedText {
    text-transform: uppercase;
    font-weight: 500;

}
.rightsReservedTextSpan {
    color: #4b8400;
    margin: 0px 20px 0px 20px;
    font-weight: 600;
}