.rightsReservedText {
    font-size: 14px;
    color: #666; /* Сив цвят за текста */
    margin-bottom: 5px; /* Отстъп отдолу */
  }
  
  .rightsReservedTextSpan {
    font-weight: bold; 

    
    



  }
  