/* -----------------------------------------WINDOWS-NAVIGATION------------------------------------------------- */
.sushiLogoWelcome {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.navigationWelcome {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #70B11C;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;
}

.navBarWelcome {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.linkWelcome {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: 500;
}


/* -----------------------------------------MOBILE-NAVIGATION------------------------------------------------- */

.navigationWelcomeMobile {
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #70B11C;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;
    display: none;
}

.contentDropDownButton {
    z-index: 10;
}

.dropdownButton {
    background-color: #70B11C;
    border: 2px solid white;
    border-radius: 100%;
    padding: 5px 10px;

}

.dropdownButtonIcon {
    color: white;
}


.dropdownButton:hover .dropdownButtonIcon,
.dropdownButton:hover .dropdownButtonIcon svg {
    color: yellow;
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid #70B11C;
    box-shadow: 1px 1px 10px 1px gray;
    z-index: 10;
    left: 0;
    top: 0;
    height: auto;
    width: 85%;
    height: 650px;
    animation: slideIn 0.9s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        /* Започнете извън екрана от ляво */
    }

    to {
        transform: translateX(0%);
        /* Завършете на текущата позиция на екрана */
    }
}

.contentOnCloseButton {
    display: flex;
    justify-content: flex-end;

}

.onCloseButton {
    color: #70B11C;
    background-color: white;
    border: none;
    font-size: 25px;
    padding: 10px 20px;

}

.onCloseButton:hover {
    color: orange;


}

.downLinkWelcome {
    display: flex;
    justify-content: center;
    color: #70B11C;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-weight: 500;
    padding: 10px;
    border-bottom: 5px solid #70b11c3d;
}

.iconHome {
    font-size: 20px;
}

.downLinkWelcome:hover {
    color: orange;

}



@media (min-width: 250px) and (max-width: 750px) {
    .navigationWelcomeMobile {
        display: flex;

    }

    .navigationWelcome {
        display: none;
    }
}