@import "../../app.scss";

.theme-toggle {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--card-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 2px 5px var(--shadow-color);
  z-index: 1000;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  @include mobile {
    bottom: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    font-size: 18px;
  }
}