@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.cardLatestSite {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(173, 216, 230, 0.498);
    border-radius: 5px;
    align-items: center;
    width: 190px;
    height: 204px;
    /* border-radius: 20px; */
    opacity: 0.8;
    overflow: hidden;
    background-color: #142331;
    transition: 1s;
}

.cardLatestSite:hover {
    transition: 1s;
    box-shadow: 0px 0px 100px 1px rgba(173, 216, 230, 0.482);
}
.cardLatestSite:active {
    box-shadow: 0px 0px 100px 1px rgba(144, 238, 144, 0.543);
}
.cardLatestSite:hover .latestSiteImg {
    opacity: 1;
}

.cardLatestSite:hover .latestSiteTitle {
    opacity: 1;
    font-weight: 500;
    color: lightblue;
}

.latestSiteImg {
    width: 150px;
    height: 150px;
    padding: 10px;
    background-position: center;
    object-fit: cover;
    background-size: contain;
    opacity: 0.9;
    border-radius: 100px;
}

.latestSiteTitle {
    font-size: 16px;
    padding: 15px 5px 15px 5px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(173, 216, 230, 0.752);

}