{% extends 'base/index.html' %}

{% block content %}
<main class="main-cards-content">
    <section class="container-cards">
        <ul class="cards-lists" role="list">
            {% for trek in treks %}
            <li class="card-list-element">
                <img class="card-list-element-img" src="{{ trek.cover_image.url }}" alt="{{ trek.title }}">
                <h1 class="card-list-element-title">{{ trek.title }}</h1>
                <a href="{% url 'charitable_trek_detail' trek.pk %}">SEE MORE</a>
            </li>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock %}