@import "../../responsive.scss";

.containerContacts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.701);
  width: 100%;
  position: relative;
  min-height: calc(100vh - 100px);

  
  .contentContacts {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    height: 100%;

    .linksBlank {
      display: flex;
      gap: 20px;

      .callOutlineContacts {
        width: 37px;
        height: 37px;
      }
    }
  }
  .contentImg {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #FCF5F3;
    border-radius: 0px 0px 10px 10px;

    @include sm {
      display: none;
    background-color: white;

    }
    @include md {
      display: none;
    background-color: white;

    }

    img {
      width:  100%;
    }
  }
}
