@import "../../responsive.scss";

.homePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100% - 100px);
  padding: 0% 1%;

  .homePageHeading {
    display: flex;
    width: 100%;
    margin-top: 115px;
    height: 100%;

    @include md {
      margin-top: 10px;
    }

    @include sm {
      margin-top: 15px;
    }

    .textContainer {
      flex: 3;
      width: 100%;

      .wrapper {
        padding-right: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 80px;
        height: 100%;
        padding: 0% 100px 10% 0px;

        @include md {
          padding: 0;
          padding: 0px 10px;
        }
        @include sm {
          justify-content: flex-start;
          padding: 0px 10px;
          gap: 30px;
        }

        .title {
          font-size: 64px;
          color: #2d9cdb;
          @include lg {
            font-size: 48px;
          }
        }
        .description {
          color: #555;
          letter-spacing: 0.5px;
        }

        .boxes {
          display: flex;
          justify-content: space-between;
          @include sm {
            display: none;
          }

          h1 {
            font-size: 36px;
            @include lg {
              font-size: 32px;
            }
          }
          h2 {
            font-size: 20px;
            font-weight: 300;
          }
        }
      }
    }
    .imgContainer {
      flex: 2;
      // background-color: #fcf5f3;
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 0 0 10px 10px;

      @include md {
        display: none;
      }
      img {
        width: 100%;
        position: absolute;
        right: 0;
        @include lg {
          width: 105%;
        }
      }
    }
  }

  .carouselSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 400px;

    @include lg {
      min-height: 500px;

    }
    @include sm {
      min-height: 250px;
    }

    .carouselHeading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0% 3%;

      h2 {
        font-size: 39px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;

        @include lg {
          font-size: 31px;
          font-weight: 600;
        }
        @include sm {
          font-size: 16px;
          font-weight: 600;
        }
      }

      a {
        display: flex;
        gap: 5px;
        width: fit-content;
        align-items: center;

        span {
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          @include lg {
            font-weight: 600;

            font-size: 14px;
          }
          @include sm {
            font-weight: 600;

            font-size: 14px;
          }
        }
        .seeMore {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  .summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 300px;
    padding: 0 10px;

    @include sm {
      margin-bottom: 30px;
    }

    @include md {
      height: 300px;
    }

    .summaryTitle {
      text-align: center;
      width: 100%;
      color: #081120;
      font-weight: 500;
      font-family: "Inter", sans-serif;
      font-size: 42px;

      @include md {
        font-size: 39px;
        margin-bottom: 20px;
      }

      @include sm {
        font-size: 25px;
        margin-bottom: 10px;
        text-align: initial;
      }
    }

    .summaryText {
      text-align: center;
      color: #13294b;
      font-weight: 400;
      font-family: "Inter", sans-serif;
      width: 100%;

      @include md {
        text-align: center;
        font-size: 1rem;
        width: 766px;
        padding: 0 10px;
      }

      @include sm {
        font-size: 16px;
        width: 100%;
        text-align: initial;
      }
    }
  }
}
