
.informationAboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 300px;
    flex-wrap: wrap;
    /* width: 280px;
    height: 315px; */
    padding: 10px;
    animation: slideInFromLeft 1s ease-out;

}

.workTimeList {
    margin: 0;

}

.informationAboutUsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #70B11C;
    margin: 20px;
    color: rgba(211, 211, 211, 0.753);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.5px;

}
/* -------------------------------Address-------------------------------- */

.contentAddressList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    margin: 0;
}
.addressListElement:nth-child(1){
    margin-bottom: 10px;
}
.addressListElement p {
    font-size: 13px;
    color: rgba(211, 211, 211, 0.753);
}
.faPhoneFlip{
    color: #70B11C;
    padding-right: 10px;
}
.spanPhoneNumber {
    color: #70B11C;
    font-weight: 500;
}

/* ----------------------------------Work-Time-------------------------------- */
.workTimeListElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1.9rem;
}

.dayOfTheWeek {
    margin: 0;
    color: rgba(211, 211, 211, 0.753);
    width: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}

.workTime {
    color: rgba(211, 211, 211, 0.753);
    letter-spacing: 3px;
    
}

/* ------------------------------------Gallery----------------------------------------------- */
.magnificAnchor img {
    border-radius: 50px;
    width: 70px;
    height: 70px;
    padding: 3px;
}

.magnificImages {
    padding: 0;
    margin: 0;
}

.magnificImages li {
    display: flex;
    flex-direction: row;
    align-items: center;
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

