@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* ------------------------------main------------------------------ */

.informationSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;

}

.informationImg {
    width: 570px;
    height: 570px;
    /* border-radius: 100%; */
    background-position: center;
    object-fit: cover;
    background-size: contain;
}

.contentInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;

}

.infoTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 47px;
    font-weight: 400;
    margin-bottom: 20px;
}

.infoDescription {

    width: 650px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-indent: 1em;
    text-align: justify;
    line-height: 32px;

}

.teamSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: #a3d368e5; */
    min-height: 70vh;
    font-family: 'Montserrat', sans-serif;

}

.contentTeam {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    gap: 90px;
    padding-left: 50px;
    margin-bottom: 50px;
}

.teamTitle {
    color: rgba(255, 255, 255, 0.746);

    font-size: 78px;
    font-weight: 200;
    /* border-bottom: 5px solid white; */
}

.teamDescription {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    width: 600px;
    color: rgba(255, 255, 255, 0.508);

}

.teamLink {
    padding: 10px 20px;
    /* color: black; */
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    /* background-color: white;
    border: 5px solid white; */
    letter-spacing: 1px;
    border-radius: 5px;


}

.teamSection>img {
    width: 700px;
    height: 700px;
    background-position: center;
    object-fit: cover;
    background-size: contain;
    padding: 30px;

}



.contactsInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    flex-wrap: wrap;
    height: 100vh;

}

.contentContacts {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 500px;



}

.contactsList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.contact>a {
    display: flex;
    flex-direction: row;
    width: 500px;
    align-items: center;
    gap: 20px;
}

.contact>a>img {
    width: 50px;
    filter: grayscale(100%);

}

.contact>a>p {
    font-size: 25px;
    /* color: black; */
}

.contactsImg {
    background-color: rgba(240, 248, 255, 0.079);
    width: 600px;
    opacity: 0.8;
    padding: 20px;
    border-radius: 100%;
}

/* -----------------------------------Home-page------------------------------------ */

.dark.informationSection {
    background-color: #1b2d3f;
    /* background-color: #f6b02d66; */
    /* background-color: #f2e9debd; */



}

.dark.infoTitle {
    color: rgba(255, 255, 255, 0.679);

}

.dark.infoDescription {
    color: rgba(255, 255, 255, 0.486);

}

.dark.teamSection {
    background-color: #1b2d3f;
    /* background-color: #a3d368e5;
    background-color: #f2e9debd; */

}

.dark.teamTitle {
    background-color: #1b2d3f;
    color: rgba(255, 255, 255, 0.737);

    /* border-bottom: 5px solid white; */

}

.dark.teamLink {
    color: black;
    border: 3px solid #1b2d3f;

    background-color: lightblue;

}

.dark.teamLink:hover {
    color: lightblue;
    border: 3px solid lightblue;
    background-color: #1b2d3f;

}

.dark.teamLink:active {
    border: 3px solid lightgreen;
    background-color: #1b2d3f;
    color: lightgreen;
    /* background-color: #a3d368; */
    /* background-color: #f2e9debd; */

}

.dark.contactsInfo {
    /* background-color: #63d3ffbb; */
    /* background-color: #f2e9debd; */
    background-color: #1b2d3f;



}

.dark.contentContacts {}

.dark.contact>a>p {
    /* color: black; */
    color: rgba(255, 255, 255, 0.531);


}

@media(width <=320px) {
    * {
        overflow-x: hidden;
    }

    .informationSection {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 50px;
        flex-wrap: nowrap;
       min-height: 70vh;


    }

    .informationImg {
        width: 200px;
        height: 200px;
        transform: rotate(45deg);
        margin-top: 20px;
    }

    .infoTitle {
        width: 200px;
        font-size: 16px;
        margin-bottom: 20px;
        text-align: center;
    }

    .contentInfo {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        align-items: center;
    }

    .infoDescription {
        height: 150px;
        width: 250px;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 0.3px;
        text-indent: 0px;
        line-height: 15px;
        text-indent: 2em;
    }

    .teamSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        height: 500px;
        font-family: 'Montserrat', sans-serif;

    }

    .contentTeam {
        align-items: center;
        min-height: 20vh;
        gap: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
    }

    .teamTitle {
        font-size: 18px;
        margin-bottom: 10px;

    }

    .teamDescription {
        font-size: 10px;
        width: 200px;
        margin-bottom: 10px;
    }

    .teamLink {
        padding: 5px 10px;
        font-size: 10px;
        font-weight: 600;
    }

    .teamSection>img {
        min-width: 250px;
        height: 550px;
        object-fit: inherit;
        padding: 10px 30px 10px 30px;


    }

    .contactsInfo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 250px;

    }

    .contactsImg {
        display: none;

    }

    .contentContacts {

        padding: 10px;
        width: 200px;

    }

    .contactsList {
        width: 300px;
        gap: 20px;
    }

    .contact>a {
        display: flex;
        flex-direction: row;
        width: 300px;
        align-items: center;
        gap: 20px;
    }

    .contact>a>img {
        width: 20px;
        filter: grayscale(100%);

    }

    .contact>a>p {
        font-size: 15px;
        /* color: black; */
    }
}