@import "../../../responsive.scss";

.containerContacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 100px);
  background-color: rgba(255, 255, 255, 0.701);
  width: 100%;
  position: relative;
  height: 100%;

  

  .contentContacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 10px;
    height: 100%;

    @include sm {
      flex-direction: column;
    }
    @include md {
      flex-direction: column;
    }

    .contentContactsInfo {
      display: flex;
      flex: 3;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      .contactInfoTitle {
        text-align: center;
      }

      .contactInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 20px;
        text-align: center;
        height: 200px;

        p {
          margin: 10px 0;
          text-align: center;
        }
      }
    }

    .emailContainer {
      background-color: #fcf5f3;
      height: 100%;
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: center;

      @include sm {
        background-color: white;
      }
      @include md {
        background-color: white;
      }
    }
  }
}
