[data-theme='light'] {
  --background-color: #eeeff3; /* Light theme background color */

}

[data-theme='dark'] {
  --background-color: #000000; /* Dark theme background color */

}
body {
  background-color: var(--background-color);

  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}
#root{
}