[data-theme='light'] {
  --background-color-body: white; /* Light theme background color */

}

[data-theme='dark'] {
  --background-color-body: #000000; /* Dark theme background color */

}
body {
  background-color: var(--background-color-body);

  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}
#root{
}