<div class="section-register">
    <form class="register-form" [formGroup]="form" (ngSubmit)="register()">
        <label for="username" class="label-register-form">Username</label>
        <input formControlName="username" type="text" id="username" name="username" class="input-register-form"
            required>
        <ng-container *ngIf="form.get('username')?.touched" class="login-form-input-error">
            <p class="error" *ngIf="form.get('username')?.errors?.['required']">Username is required!</p>
            <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">Username must be at least 3 characters!
            </p>

        </ng-container>

        <label for="email" class="label-register-form">Email</label>
        <input formControlName="email" type="email" id="email" name="email" class="input-register-form">

        <ng-container *ngIf="form.get('email')?.touched" class="login-form-input-error">
            <p class="error" *ngIf="form.get('email')?.errors?.['required']">Email is required!</p>
            <p class="error" *ngIf="form.get('email')?.errors?.['minlength']">Email must be at least 3 characters!
            </p>

        </ng-container>


        <label for="password" class="label-register-form">Password</label>
        <input formControlName="passGroup.password" type="password" id="password" name="password" class="input-register-form"
            required>

        <label for="confirm_password" class="label-register-form">Password</label>
        <input formControlName="passGroup.rePassword" type="password" id="confirm_password" name="confirm_password"
            class="input-register-form" required>



        <ng-container *ngIf="form.get('passGroup')?.get('rePassword')?.touched" class="register-form-input-error">
            <p class="error" *ngIf="form.get('passGroup')?.errors?.['matchPasswordsValidator'] || 
            form.get('passGroup')?.get('rePassword')?.errors?.['required']">Repeat Password does
                not
                match password!</p>

        </ng-container>

        <button [disabled]="form.invalid" [style]="{backgroundColor: form.invalid ? 'lightgray' : 'orange'}"
            class="button-register-form">Registration</button>
    </form>
</div>