<div class="section-register">
    <form action="submit.php" method="post" class="register-form">
        <label for="username" class="label-register-form">Username</label>
        <input type="text" id="username" name="username" class="input-register-form" required>

        <label for="email" class="label-register-form">Email</label>
        <input type="email" id="email" name="email" class="input-register-form" required>

        <label for="password" class="label-register-form">Password</label>
        <input type="password" id="password" name="password" class="input-register-form" required>

        <label for="confirm_password" class="label-register-form">Password</label>
        <input type="password" id="confirm_password" name="confirm_password" class="input-register-form" required>

        <input type="submit" value="Registration" class="button-register-form">
    </form>
</div>