<div class="container-dashboard">
    <div class="content-dashboard-list">
      <div class="dashboard-content">
        <img
          class="dashboard-img"
          src="/assets/brooke-lark-nTZOILVZuOg-unsplash.jpg"
          alt=""
        />
        <div class="dashboard-information">
          <h3 class="dashboard-information-title">Title</h3>
          <p class="dashboard-information-description">
            Descriptionaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          </p>
        </div>
        <button class="dashboard-button">Whole Recipe</button>
      </div>
      <div class="dashboard-content">
        <img
          class="dashboard-img"
          src="/assets/brooke-lark-nTZOILVZuOg-unsplash.jpg"
          alt=""
        />
        <div class="dashboard-information">
          <h3 class="dashboard-information-title">Title</h3>
          <p class="dashboard-information-description">
            Descriptionaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          </p>
        </div>
        <button class="dashboard-button">Whole Recipe</button>
      </div>
      <div class="dashboard-content">
        <img
          class="dashboard-img"
          src="/assets/brooke-lark-nTZOILVZuOg-unsplash.jpg"
          alt=""
        />
        <div class="dashboard-information">
          <h3 class="dashboard-information-title">Title</h3>
          <p class="dashboard-information-description">
            Descriptionaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          </p>
        </div>
        <button class="dashboard-button">Whole Recipe</button>
      </div>
      <div class="dashboard-content">
        <img
          class="dashboard-img"
          src="/assets/brooke-lark-nTZOILVZuOg-unsplash.jpg"
          alt=""
        />
        <div class="dashboard-information">
          <h3 class="dashboard-information-title">Title</h3>
          <p class="dashboard-information-description">
            Descriptionaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          </p>
        </div>
        <button class="dashboard-button">Whole Recipe</button>
      </div>

    </div>
  </div>