@import "../../app.scss";

.heroine {
  min-height: calc(100vh - 100px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 75px;
  padding-bottom: 80px;
  width: 100%;
  position: relative;

  @include mobile {
    flex-direction: column-reverse;
    justify-content: start;
    align-items: start;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 250px;
    // z-index: -1;

    @include mobile {
      align-items: center;
      text-align: center;
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 50px;

      @include mobile {
        min-height: 70%;
        width: 95%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 10px;
        font-size: 28px;
        color: var(--heroine-heading);

        @include mobile {
          font-size: 20px;
          letter-spacing: 5px;
        }
      }

      h1 {
        font-weight: 700;
        letter-spacing: 1.5px;
        font-size: 30px;
        color: var(--heroine-text);
        width: 440px;
        transition: color 0.3s ease;

        @include mobile {
          font-size: 20px;
          width: 100%;
          margin: 20px 0px;
        }
      }

      .buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;

        @include mobile {
          flex-direction: column;
          align-self: center;
        }

        button {
          padding: 12px;
          border-radius: 50px;
          color: #7b7b7b;
          margin-right: 20px;
          cursor: pointer;
          letter-spacing: 1px;
          font-weight: 600;
          font-size: 15px;
          border: 2px solid var(--btn-border-color);
          border-radius: var(--btn-border-radius);
          background-color: var(--btn-bg-color);

          &:hover {
            background-color: var(--heroine-button-hover);
            transform: translateY(-2px);
          }

          @include mobile {
            margin-right: 0;
            padding: 7px 10px;
          }
        }
      }
    }

    .scrollImg {
      width: 30px;
      height: 30px;
      margin-top: 30px;
      background-position: center;
      object-fit: cover;
      background-size: contain;
      opacity: var(--heroine-scroll-opacity);
      // transition: opacity 0.3s ease;

      @include mobile {
        display: none;
        // position: absolute;
        // bottom: 370px;
      }
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -180px;
    white-space: nowrap;
    color: var(--heroine-sliding-text);
    width: 50%;
    z-index: 0;
    font-weight: bold;
    transition: color 0.3s ease;
    z-index: -3;


    @include mobile {
      display: none;
    }
  }

  .imageContainer {
    z-index: -1;

    img {
      width: 400px;
      height: 400px;
      padding: 10px;
      background-position: center;
      object-fit: cover;
      background-size: contain;
      opacity: var(--heroine-image-opacity);
      border-radius: 100%;
      transition: opacity 0.3s ease;
      box-shadow: 0 0 20px var(--shadow-color);

      @include mobile {
        height: 300px;
        width: 300px;
        // margin-top: 30px;
      }
    }
  }
}
