@import "../../app.scss";
// @include mobile {
// }

.heroine {
  height: calc(100vh - 100px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 75px;
  padding-bottom: 80px;
  width: 100%;

  @include mobile {
    padding-bottom: 20px;

  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 250px;
    z-index: 1;

    @include mobile {
     
      align-items: center;
      text-align: center;
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 50px;

      @include mobile {
        min-height: 70%;
        width: 95%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 10px;
        font-size: 28px;
        color: #bf7fbf;

        @include mobile {
          font-size: 25px;
          letter-spacing: 5px;

        }
      }

      h1 {
        font-weight: 700;
        letter-spacing: 1.5px;
        font-size: 50px;
        color: #7b7b7b;
        width: 440px;

        @include mobile {
          font-size: 30px;
          width: 100%;
        }
      }

      .buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;

        button {
          padding: 12px;
          border: 2px solid #bf7fbf;
          border-radius: 50px;
          background-color: transparent;
          color: #7b7b7b;
          margin-right: 20px;
          cursor: pointer;
          letter-spacing: 1px;
          font-weight: 600;
          font-size: 15px;
        }
      }
    }

    .scrollImg {
      width: 30px;
      height: 30px;
      margin-top: 15px;
      background-position: center;
      object-fit: cover;
      background-size: contain;
      opacity: 0.5;

      @include mobile {
       position: absolute;
       bottom: 300px;
      }
      
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.515);
    width: 50%;
    z-index: 0;
    font-weight: bold;
  }

  .imageContainer {
    z-index: 1;

    img {
      width: 400px;
      height: 400px;
      padding: 10px;
      background-position: center;
      object-fit: cover;
      background-size: contain;
      opacity: 0.8;
      border-radius: 100%;

      @include mobile {
        height: 320px;
        width: 320px;
        margin-top: 30px;
      }
    }
  }
}
