.container-create-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 115vh;
}

.container-create-recipe:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 130vh;
    background-image: url("../../../assets/brooke-lark-nTZOILVZuOg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    /* rotate: 90deg; */
    z-index: -1;
    opacity: 0.3;


}


.create-recipe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    /* margin: 100px 0px; */
    background: #ffffffd7;
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 1px rgba(119, 136, 153, 0.719);
    height: auto;
}


.create-recipe-form>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 15px;

}

.create-recipe-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 5px 0px;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
}

.create-recipe-input,
.create-recipe-textarea {
    border: 1px solid #ccc;
    width: 35vw;
    padding: 10px;
    box-sizing: border-box;
    letter-spacing: 1.5px;
    border-radius: 5px;

}


.create-recipe-input {
    font-size: 16px;
}

.create-recipe-button {
    width: 35vw;
    padding: 12px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 400;
}

.create-recipe-button:hover {
    background-color: #FF5D5D;
}

.error-message {
    color: #FF5D5D;
    font-size: 14px;
    margin-top: 5px;
    letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
    .create-recipe-form {
        width: 90%;
    }

    .create-recipe-form>div {
        width: 100%;
    }

    .create-recipe-input,
    .create-recipe-textarea {

        width: 100%;

    }

    .create-recipe-button {
        width: 95%;

    }
}