<div class="container-create-recipe">
  <form class="create-recipe-form" #form="ngForm" (ngSubmit)="addRecipe(form)">
    <div>
      <label for="image" class="create-recipe-label">
        Image
      </label>
      <input ngModel #inputImage="ngModel" required minlength="30" type="url" class="create-recipe-input" name="image"
        placeholder="" [pattern]="'^https:\/\/.{27,}$'" />
      <ng-container *ngIf=" inputImage.touched || inputImage.errors && inputImage.errors['pattern'] " class="content-error-message">
        <p class="error-message" *ngIf="inputImage.errors?.['required']">Image is required!</p>
        <p class="error-message" *ngIf="inputImage.errors?.['pattern']">
          Image URL should start with 'https://'
        </p>
        <p class="error-message" *ngIf="inputImage.errors?.['minlength']">
          Image URL must be at least 30 characters long
        </p>
      </ng-container>


    </div>
    <div>
      <label for="title" class="create-recipe-label">
        Title
      </label>
      <input ngModel #inputTitle="ngModel" required minlength="3" type="text" name="title"
        placeholder="" class="create-recipe-input" [pattern]="'\\S{3,}'" />

      <ng-container *ngIf=" inputTitle.touched && inputTitle.errors ">
        <p class="error-message" *ngIf="inputTitle.errors?.['required']">Title is required!</p>
        <p class="error-message" *ngIf="inputTitle.errors?.['pattern']">
          Title should contain at least 3 non-space characters
        </p>
      </ng-container>
    </div>

    <div class="content-textarea">
      <label for="description" class="create-recipe-label">
        Instructions
      </label>
      <textarea ngModel #textareaDescription="ngModel" required minlength="15" name="description" rows="4" cols="50"
        placeholder="" class="create-recipe-textarea" [pattern]="'\\S{15,}'"></textarea>
      <ng-container *ngIf=" textareaDescription.touched && textareaDescription.errors ">
        <p class="error-message" *ngIf="textareaDescription.errors?.['required']">Instructions are required!</p>
        <p class="error-message" *ngIf="textareaDescription.errors?.['pattern']">
          Instructions should contain at least 15 non-space characters
        </p>
      </ng-container>
    </div>

    <div class="content-textarea">
      <label for="ingredients" class="create-recipe-label">
        Ingredients
      </label>
      <textarea ngModel #textareaIngredients="ngModel" required minlength="3" name="ingredients" rows="4" cols="50"
        placeholder="" class="create-recipe-textarea" [pattern]="'\\S{10,}'"></textarea>
      <ng-container *ngIf=" textareaIngredients.touched && textareaIngredients.errors ">
        <p class="error-message" *ngIf="textareaIngredients.errors?.['required']">Ingredients are required!</p>
        <p class="error-message" *ngIf="textareaIngredients.errors?.['pattern']">
          Ingredients should contain at least 10 non-space characters
        </p>
      </ng-container>
    </div>

    <div>
      <label for="category" class="create-recipe-label">
        Category
      </label>
      <select ngModel #inputCategory="ngModel" name="category" class="create-recipe-input" required>
        <option value="" disabled selected>Select a category</option>
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
        <option value="snack">Snack</option>
        <option value="vegetarian">Vegetarian</option>
        <option value="vegan">Vegan</option>
        <option value="gluten-free">Gluten-Free</option>
        <option value="dairy-free">Dairy-Free</option>
        <option value="low-carb">Low Carb</option>
        <option value="low-calorie">Low Calorie</option>
        <option value="high-protein">High Protein</option>
        <option value="pescatarian">Pescatarian</option>
        <option value="keto">Keto</option>
        <option value="paleo">Paleo</option>
        <option value="mediterranean">Mediterranean</option>
        <option value="whole30">Whole30</option>
      </select>

      <ng-container *ngIf="inputCategory.touched && inputCategory.errors">
        <p class="error-message" *ngIf="inputCategory.errors['required']">Please select a category</p>
      </ng-container>
    </div>

    <div>
      <label for="prep_time" class="create-recipe-label">
        Prep Time
      </label>
      <input ngModel #inputPrepTime="ngModel" required minlength="1" type="text" name="prep_time"
        placeholder="" class="create-recipe-input" [pattern]="'\\S{1,}'" />
      <ng-container *ngIf=" inputPrepTime.touched && inputPrepTime.errors ">
        <p class="error-message" *ngIf="inputPrepTime.errors?.['required']">Prep Time is required!</p>
        <p class="error-message" *ngIf="inputPrepTime.errors?.['pattern']">
          Prep Time should contain at least 1 non-space character
        </p>
      </ng-container>
    </div>

    <div>
      <label for="cook_time" class="create-recipe-label">
        Cook Time
      </label>
      <input ngModel #inputCookTime="ngModel" required minlength="1" type="text" name="cook_time"
        placeholder="" class="create-recipe-input" [pattern]="'\\S{1,}'" />

      <ng-container *ngIf=" inputCookTime.touched && inputCookTime.errors ">
        <p class="error-message" *ngIf="inputCookTime.errors?.['required']">Cook Time is required!</p>
        <p class="error-message" *ngIf="inputCookTime.errors?.['pattern']">Cook Time
          Cook Time should contain at least 1 non-space character
        </p>
      </ng-container>
    </div>

    <div>
      <label for="servings" class="create-recipe-label">
        Servings
      </label>
      <input ngModel #inputServings="ngModel" required minlength="1" type="text" name="servings"
        placeholder="" class="create-recipe-input" />
      <ng-container *ngIf=" inputServings.touched && inputServings.errors ">
        <p class="error-message" *ngIf="inputServings.errors?.['required']">Servings are required!</p>
        <p class="error-message" *ngIf="inputServings.errors?.['pattern']">Servings
          Cook Time should contain at least 1 non-space character
        </p>
      </ng-container>
    </div>

    <button (click)="addRecipe(form)" type="submit" class="create-recipe-button">Create</button>
  </form>
</div>