.containerCard {
    perspective: 1000px;

}

.contentCard {
    display: flex;
    flex-direction: column;
    /* width: 200px;
    height: 350px; */
    border: 2px solid rgba(173, 216, 230, 0.623);
    border-radius: 5px;
    justify-content: space-between;
    /* overflow: hidden; */
    transform-style: preserve-3d;
    transition: transform 0.5s;

}
.cardImg {
    width: 225px;
    height: 200px;
    padding: 10px;
    background-position: center;
    object-fit: cover;
    background-size: contain;
    opacity: 0.7;
    border-radius: 8%;
}
.cardInfo {
    background-color: #1B2D3F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 225px;
    height: 150px;
    padding: 15px;

}



.cardTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(173, 216, 230, 0.796);
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;

}



.cardDescription {
    overflow-wrap: anywhere;
    font-size: 14px;
    height: 40px;
    overflow: hidden;
    padding: 0px 10px;
    color: rgba(173, 216, 230, 0.91);
    letter-spacing: 0.5px;
}

.cardPrice {
    color: rgba(240, 248, 255, 0.485);
    margin-top: 5px;
}

.cardPrice>span {
    color: lightblue;
}
.contentCard:hover {
    border: 2px solid rgba(173, 216, 230, 0.482);
    box-shadow: -20px 0px 50px 0px rgba(173, 216, 230, 0.48);
    transform: rotateY(20deg) rotateX(5deg);
}

.contentCard:hover .cardPrice>span {
    color: lightblue;
}

.contentCard:hover .cardPrice {
    color: lightblue;
}

.contentCard:hover .cardDescription {
    color: rgb(173, 216, 230);
}

.contentCard:hover .cardImg {
    opacity: 0.8;
}

.contentCard:active.contentCard:hover  {
    border: 2px solid rgba(144, 238, 144, 0.516);
    box-shadow: -20px 0px 50px 0px rgba(144, 238, 144, 0.492);
}

.contentCard:active.contentCard:hover .cardTitle {
    color: rgba(144, 238, 144, 0.737);

}
.contentCard:active.contentCard:hover .cardPrice>span  {
    color: lightgreen;

}
@media(width <=320px) {
    * {
        overflow-x: hidden;
    }
    .contentCard {
        width: 225px;
        height: 300px;
  
    
    }
    
}