@import "../../app.scss";
// @include mobile {
// }
.portfolio {
  position: relative;
  min-height: 400vh;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: gray;
    font-size: 36px;

    @include mobile {
      padding-top: calc(100vh - 100px);
      position: fixed;
      font-size: 23px;
      width: 100%;
      text-align: center;
    }

    h1 {
      @include mobile {
        text-align: center;
      }
    }
    .progressBar {
      height: 10px;
      background-color: white;
      border-radius: 100px;
    }
  }
}
.portfolioContainer {
  height: 100vh;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
      }

      .imageContainer {
        flex: 1;
        height: 50%;
        z-index: -1;

        @include mobile {
          width: 100%;
          max-height: 300px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

          @include mobile {
            object-fit: contain;
          }
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30;

        @include mobile {
          transform: none !important;
          padding: 15px;
          align-items: center;
          text-align: center;
        }

        h2 {
          font-size: 72px;

          @include mobile {
            font-size: 30px;
            margin-bottom: 30px;
          }
        }
        p {
          color: gray;
          font-size: 20px;

          @include mobile {
            font-size: 16px;
            text-align: justify;
            margin-bottom: 30px;
          }
        }
        button {
          border: none;
          border-radius: 50px;
          padding: 10px;
          width: 200px;
          cursor: pointer;
        }
      }
    }
  }
}
