.portfolio {
  position: relative;
  min-height: 400vh;
 
  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: gray;
    font-size: 36px;

    .progressBar {
      height: 10px;
      background-color: white;
      border-radius: 100px;
    }
  }
}
.portfolioContainer {
 height: 100vh;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
  
    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
  
      .imageContainer {
        flex: 1;
        height: 50%;
        z-index: -1;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30;
  
        h2 {
          font-size: 72px;
        }
        p {
          color: gray;
          font-size: 20px;
        }
        button {
          border: none;
          border-radius: 50px;
          padding: 10px;
          width: 200px;
          cursor: pointer;
        }
      }
    }
  }
}
