.navigationWelcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

}

.navigationGuest {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

}

.contentLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.link {
    color: orange;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.link:hover {
    color: rgba(255, 0, 0, 0.637);

}

.linkSignIn {
    color: rgba(255, 0, 0, 0.637);
    font-weight: 500;
    letter-spacing: 1.5px;
    border: 2px solid rgba(255, 0, 0, 0.637);
    padding: 5px 10px;
    border-radius: 50px;
}

.linkSignIn:hover {
    background-color: orange;
    border: 2px solid orange;
    color: white;


}
/* --------------------------------------Navigation-Mobile------------------------------------------ */
.navigationMobile{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 10px;
}

.dropdownButtonMobile {
    background-color: white;
    border: 2px solid orange;
    border-radius: 100%;
    padding: 5px 10px;
    color: orange;
    font-weight: 400;
}
.contentDropdownMobile {
    position: absolute;
    display: none;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    background-color: white;
    left: 0;
    top: 0;
    border: 2px solid orange;
    padding: 10px;
    width: 90%;
    gap: 20px;
    height: 800px;

}
.contentButtonDownButtonMobile:hover .contentDropdownMobile {
    display: flex;
}
.linkMobile {
    color: orange;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 16px;
}

.contentOnCloseButtonMobile {
    display: flex;
    justify-content: flex-end;

}

.onCloseButtonMobile {
    color: orange;
    background-color: white;
    border: none;
    font-size: 18px;
    padding: 10px 20px;

}
/* ---------------------Media-Queries-------------------------- */

@media (min-width: 250px) and (max-width: 768px) {
    .navigationMobile {
        display: flex;

    }

    .navigationWelcome {
        display: none;
    }
}

@media (min-width: 800px) {
    .link, .linkSignIn  {
        font-size: 16px;
    }
  }
  
  @media (min-width: 1024px) {
    .link, .linkSignIn  {
        font-size: 18px;
    }
  }
  
  @media (min-width: 1280px) {
    .link, .linkSignIn  {
        font-size: 20px;
    }
  }