<header class="header">
    <nav class="navigationWelcome">
        <div class="contentLogo">
            <a class="logo link" href="">Healthy Delicious</a>
        </div>
        <div class="contentLinks">
            <a class="link" href="">Create Recipe</a>
            <a class="link" href="">Recipes</a>
            <a class="link" href="">About Us</a>
        </div>
        <div class="contentLinksIcon">
            <a class="link" href=""><i class="fa-solid fa-user"></i></a>

        </div>
    </nav>

    <nav class="navigationGuest">
        <div class="contentLogo">
            <a class="logo link" href="">Healthy Delicious</a>
        </div>

        <div class="contentLinks">
            <a class="link" href="">About Us</a>
            <a class="linkSignIn" href="">Sign In</a>
        </div>
    </nav>

    <nav class="navigationMobile">
        <div class="contentLogoMobile">
            <button class="dropdownButtonMobile" href=""><i class="fa-solid fa-bars"></i></button>
            <div class="contentDropdownMobile">
                <a class="linkMobile" href="">Create Recipe</a>
                <a class="linkMobile" href="">Recipes</a>
                <a class="linkMobile" href="">About Us</a>
                <a class="linkMobile" href="">Profile</a>
                <a class="linkMobile" href="">Log out</a>
    
            </div>
        </div>
        <div class="contentLogoMobile">
            <a class="logoMobile linkMobile" href="">H&D</a>
        </div>
        
    </nav>
</header>