<header class="header">
    <nav *ngIf="isLogged" class="navigationWelcome">
        <div class="contentLogo">
            <a class="logo link" routerLink="/">Healthy Delicious</a>
        </div>
        <div class="contentLinks">
            <a class="link" routerLink="/create-recipe">Create Recipe</a>
            <a class="link" routerLink="/recipes">Recipes</a>
            <a class="link" routerLink="/about-us">About Us</a>
            <a class="link" routerLink="/contacts">Contacts</a>

        </div>
        <div class="contentLinksIcon">
            <a class="link" routerLink="/profile"><i class="fa-solid fa-user"></i></a>
            <button class="linkMobile" (click)="logout()">Log out</button>

        </div>
    </nav>

    <nav *ngIf="!isLogged" class="navigationGuest">
        <div class="contentLogo">
            <a class="logo link" routerLink="/">Healthy Delicious</a>
        </div>

        <div class="contentLinks">
            <a class="link" routerLink="/about-us">About Us</a>
            <a class="link" routerLink="/contacts">Contacts</a>
            <a class="linkSignIn" routerLink="/login">Log In</a>
            <a class="linkSignIn" routerLink="/register">Register</a>
        </div>
    </nav>

    <nav *ngIf="isLogged" class="navigationMobile">
        <div class="contentLogoMobile">
            <a class="logoMobile linkMobile link" routerLink="/">H&D</a>
        </div>
        <div class="contentButtonDownButtonMobile">
            <button (click)="toggleIsShow()" class="dropdownButtonMobile"><i class="fa-solid fa-bars"></i></button>
            <div *ngIf="isShow" class="contentDropdownMobile">
                <div class="contentOnCloseButtonMobile">
                    <button (click)="toggleIsShow()" class="onCloseButtonMobile"><i class="fa-solid fa-x"></i></button>

                </div>
                <a class="linkMobile" href=""><i class="fa-solid fa-house"></i></a>
                <a class="linkMobile" routerLink="/create-recipe">Create Recipe</a>
                <a class="linkMobile" routerLink="/recipes">Recipes</a>
                <a class="linkMobile" routerLink="/about-us">About Us</a>
                <a class="linkMobile" routerLink="/profile">Profile</a>
                <a class="link" routerLink="/contacts">Contacts</a>

                <a class="linkMobile" (click)="logout()">Log out</a>

            </div>
        </div>
    </nav>
</header>