{% extends 'base/index.html' %}
{% block content %}
    <main class="main-cf-content">
        {% if cf_diagnosed %}
            <section class="container-details-list">
                {% for cf in cf_diagnosed %}
                    <div class="content-cf">
                        <div class="content-cover">
                            <img class="cover-cf-image" src="{{ cf.cover_image.url }}" alt="{{ cf.title }}">
                            <h1 class="cf-title">{{ cf.title }}</h1>
                        </div>
                        <div class="cf-description">
                            <p class="description">{{ cf.description }}</p>
                        </div>
                    </div>
                    <a href="{% url 'cf_delete' pk=cf.pk %}">Delete</a>
                {% endfor %}
            </section>
        {% else %}
            <section>
            </section>
        {% endif %}
    </main>
{% endblock %}