{% extends 'base/index.html' %}
{% block content %}
    <main class="main-cf-content">
        {% if cf_diagnosed %}
            <section class="container-cf-details">
                {% for cf in cf_treatment %}

                    <div class="content-cf-details">

                        {% if cf.cover_image and cf.title %}
                            <div class="content-cover-image-and-title">
                                <img class="cover-cf-image" src="{{ cf.cover_image.url }}" alt="{{ cf.title }}">
                                <h1 class="cover-cf-title">{{ cf.title }}</h1>
                            </div>
                        {% endif %}

                        <div class="cf-info-description">

                            {% if cf.image and cf.description %}
                                <div class="main-info-section">
                                    <img class="cf-basic-img" src="{{ cf.image.url }}" alt="">
                                    <p class="cf-basic-description">{{ cf.description }}</p>

                                </div>
                            {% endif %}

                            <div class="cards-vertical-styles-section">
                                {% if cf.picture_of_the_first_description and cf.first_title_of_description and cf.first_description %}

                                    <div class="card-more-for-cf">
                                        <div class="top-part-of-card">
                                            <img class="cf-card-img" src="{{ cf.picture_of_the_first_description.url }}"
                                                 alt="">
                                        </div>
                                        <div class="bottom-part-of-card">
                                            <h4 class="cf-card-title">{{ cf.first_title_of_description }}</h4>
                                            <p class="cf-card-description">{{ cf.first_description }}</p>
                                        </div>

                                    </div>
                                {% endif %}

                                {% if cf.picture_of_the_second_description and cf.second_title_of_description and cf.second_description %}
                                    <div class="card-more-for-cf">
                                        <div class="top-part-of-card">
                                            <img class="cf-card-img"
                                                 src="{{ cf.picture_of_the_second_description.url }}"
                                                 alt="{{ cf.title }}">
                                        </div>
                                        <div class="bottom-part-of-card">
                                            <h4 class="cf-card-title">{{ cf.second_title_of_description }}</h4>
                                            <p class="cf-card-description">{{ cf.second_description }}</p>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if cf.picture_of_the_third_description and cf.third_title_of_description and cf.third_description %}
                                    <div class="card-more-for-cf">
                                        <div class="top-part-of-card">
                                            <img class="cf-card-img" src="{{ cf.picture_of_the_third_description.url }}"
                                                 alt="">
                                        </div>
                                        <div class="bottom-part-of-card">
                                            <h4 class="cf-card-title">{{ cf.third_title_of_description }}</h4>
                                            <p class="cf-card-description">{{ cf.third_description }}</p>
                                        </div>
                                    </div>
                                {% endif %}

                            </div>


                            <div class="section-styles">

                                {% if cf.picture_of_the_fourth_description and cf.fourth_title_of_description and cf.fourth_description %}
                                    <div class="content-more-for-cf">
                                        <div class="info-for-cf-img">
                                            <img class="cf-img" src="{{ cf.picture_of_the_fourth_description.url }}"
                                                 alt="">
                                        </div>
                                        <div class="info-for-cf-description">
                                            <h4 class="cf-title">{{ cf.fourth_title_of_description }}</h4>
                                            <p class="cf-description">{{ cf.fourth_description }}</p>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if cf.picture_of_the_fifth_description and cf.fifth_title_of_description and cf.fifth_description %}
                                    <div class="content-more-for-cf">
                                        <div class="info-for-cf-description">
                                            <h4 class="cf-title">{{ cf.fifth_title_of_description }}</h4>
                                            <p class="cf-description">{{ cf.fifth_description }}</p>
                                        </div>
                                        <div class="info-for-cf-img">
                                            <img class="cf-img" src="{{ cf.picture_of_the_fifth_description.url }}"
                                                 alt="">
                                        </div>
                                    </div>
                                {% endif %}

                            </div>

                            <div class="cards-horizontal-styles-section">

                                {% if cf.picture_of_the_sixth_description and cf.sixth_title_of_description and cf.sixth_description %}
                                    <div class="content-card-cf-info">
                                        <div class="information-cf-img">
                                            <img class="cf-img-info" src="{{ cf.picture_of_the_sixth_description.url }}"
                                                 alt="">
                                        </div>
                                        <div class="information-cf-description">
                                            <h4 class="cf-title-info">{{ cf.sixth_title_of_description }}</h4>
                                            <p class="cf-description-info">{{ cf.sixth_description }}</p>
                                        </div>
                                    </div>
                                {% endif %}

                            </div>

                        </div>
                    </div>
                    {% if request.user.is_authenticated and request.user.is_superuser or request.user.is_authenticated and request.user.is_staff %}
                        <div class="admin-cf-buttons">
                            <a class="cf-button" href="{% url 'cf_delete' pk=cf.pk %}">Delete</a>
                            <a class="cf-button" href="{% url 'cf_update' pk=cf.pk %}">Edit</a>
                        </div>

                    {% endif %}
                {% endfor %}
            </section>
        {% else %}
            <section class="section-update">
                <div class="content-update">
                    <p class="update-content-description">Unfortunately, at the moment, information about this content
                        is not available. We are actively
                        working on updating it and expect to provide it as soon as possible. Thank you for your patience
                        and
                        understanding.</p>
                </div>
            </section>
        {% endif %}
    </main>
{% endblock %}