{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cfamily</title>
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>

<body class="body body-login-register">
<header class="header">


    {% if request.user.is_authenticated %}

        <nav class="nav">
            <div class="logo">
                <a class="logo-link" href="{% url 'homepage' %}">LOGO</a>
            </div>

            <div class="sub-navigation">
                <div class="news dropdown">
                    <button class="news-links dropbtn"><i class="fa-solid fa-earth-americas"></i></button>
                    <div class="dropdown-content">
                        <h3>News</h3>
                        <ul role="list">
                        <li><a href="#">p</a></li>
                    </ul>

                    </div>
                </div>
                <div class="books dropdown">
                    <button class="cystic-fibrosis-links dropbtn"><i class="fa-solid fa-circle-info"></i></button>
                    <div class="dropdown-content">
                        <h3>Cystic fibrosis?</h3>
                        <ul role="list">
                            <li><a href="#">How is CF diagnosed?</a></li>
                            <li><a href="#">How is CF treated?</a></li>
                            <li><a href="#">How does CF affect the body?</a></li>
                            <li><a href="#">What are the causes of CF?</a></li>
                            <li><a href="#">Frequently Asked Questions?</a></li>
                            <li><a href="#">CF in fiction?</a></li>
                            <li><a href="#">CF for teachers?</a></li>
                            <li><a href="#">Life with CF?</a></li>
                            <li><a href="#">Hobbies with CF?</a></li>
                            <li><a href="#">Everyday life with CF?</a></li>
                            <li><a href="#">Physical activity with CF?</a></li>
                            <li><a href="#">Optimal nutrition in CF?</a></li>
                            <li><a href="#">Career with CF?</a></li>
                            <li><a href="#">Young people with CF?</a></li>
                            <li><a href="#">Variety in treatment?</a></li>
                            <li><a href="#">Parents and children with CF?</a></li>
                            <li><a href="#">Psychological health with CF?</a></li>


                        </ul>
                    </div>
                </div>
                <div class="shop dropdown">
                    <button class="shop-links dropbtn"><i class="fa-solid fa-shop"></i></button>
                    <div class="dropdown-content">
                        <h3>Charity shop</h3>
                        <ul role="list">
                            <li><a class="donations-link" href="{% url 'donation_list' %}">
                                All donations</a></li>
                            <li><a class="donation-medications-link" href="{% url 'donation_support_for_research' %}">
                                Support for research</a></li>

                            <li><a class="donation-medications-link" href="{% url 'donation_psychological_support' %}">
                                Psychological support</a></li>

                            <li><a class="donation-medications-link" href="{% url 'donation_medications' %}">
                                Donation medications</a></li>
                            <li><a class="donations-medical-equipment-link"
                                   href="{% url 'donation_medical_equipment' %}">
                                Donation medical equipment</a></li>

                            <li><a class="donation-medications-link" href="{% url 'donation_another_type' %}">
                                Another type</a></li>
                        </ul>


                    </div>
                </div>
                <div class="events dropdown">
                    <button class="events-links dropbtn"><i class="fas fa-heart"></i></button>
                    <div class="dropdown-content">
                        <h3>Events</h3>
                        <ul role="list">
                            <li>
                                <a class="projects-link" href="{% url 'campaign_list' %}">Campaigns</a>

                            </li>
                            <li><a class="initiatives-link" href="{% url 'initiative_list' %}">Initiatives</a></li>
                            <li><a class="events-link" href="{% url 'event_list' %}">Conferences</a></li>
                            <li><a class="charitable-treks-link" href="{% url 'charitable_trek_list' %}">Charitable
                                treks</a></li>
                            <li><a class="benefactors-link" href="{% url 'benefactor_list' %}">Benefactors</a></li>
                        </ul>
                    </div>
                </div>
                <div class="books dropdown">
                    <button class="books-links dropbtn"><i class="fa-solid fa-book"></i></button>
                    <div class="dropdown-content">
                        <h3>Patient Stories</h3>
                        <ul role="list">
                            <li><a href="#">p</a></li>
                            <li><a href="#">p</a></li>

                        </ul>
                    </div>
                </div>



            </div>
            <div class="sub-navigation">


                {% if request.user.is_superuser or request.user.is_staff %}
                    <div class="tables dropdown">
                        <button class="tables-links dropbtn"><i class="fa-solid fa-table"></i></button>
                        <div class="dropdown-content">
                            <h3>Tables</h3>
                            <ul role="list">

                                <li><a href="{% url 'admin_campaign_list' %}">Campaigns</a></li>
                                <li><a href="{% url 'admin_initiative_list' %}">Initiatives</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="new-events dropdown">
                        <button class="new-events-links dropbtn"><i class="fa-solid fa-square-plus"></i></button>
                        <div class="dropdown-content">
                            <h3>Create a new</h3>
                            <ul role="list">
                                <li><a class="create-donation-link" href="{% url 'donation_create' %}">Donation</a></li>
                                <li><a class="create-projects-link" href="{% url 'campaign_create' %}">Campaign</a></li>
                                <li><a class="create-initiatives-link"
                                       href="{% url 'initiative_create' %}">Initiative</a></li>
                                <li><a class="create-events-link" href="{% url 'event_create' %}">Conference</a></li>
                                <li><a class="create-charitable-treks-link" href="{% url 'charitable_trek_create' %}">Charity
                                    hike</a></li>
                                <li><a class="create-benefactors-link"
                                       href="{% url 'benefactor_create' %}">Benefactor</a></li>

                            </ul>

                        </div>
                    </div>


                {% endif %}
                <div class="cart-link">
                    <a class="cart-icon-link" href="{% url 'cart_list' %}">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>
                <div class="user-dropdown dropdown">
                    <button class="user-links dropbtn"><i class="fa-solid fa-user"></i></button>
                    <div class="dropdown-content">
                        <h3>Profile</h3>
                        <ul role="list">

                            <li><a class="profile-details-link" href="{% url 'user_details' pk=request.user.pk %}">Details</a>
                            </li>
                            <li><a class="logout-link" href="{% url 'user_logout' %}">Log out</a></li>
                        </ul>
                    </div>

                </div>
            </div>


        </nav>
    {% endif %}


</header>


{% block content %}
{% endblock %}

<footer class="footer">
    <p class="footer-text">Copyright Association 'CFamily' Bulgaria</p>
    <p class="powered-by-text">Powered by Django, designed and developed by LORINDI</p>
</footer>

</body>

</html>