{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cfamily</title>
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>

<body class="body body-login-register">
<header class="header">


    {% if request.user.is_authenticated %}
        <nav class="nav">
            <div class="logo">
                <a class="logo-link" href="{% url 'homepage' %}">CFamily</a>
            </div>
            <div class="main-links">
                <a class="projects-link" href="{% url 'campaign_list' %}">Campaigns</a>
                <a class="initiatives-link" href="{% url 'initiative_list' %}">Initiatives</a>
                <a class="events-link" href="{% url 'event_list' %}">Events</a>
                <a class="charitable-treks-link" href="{% url 'charitable_trek_list' %}">Charitable treks</a>
                <a class="benefactors-link" href="{% url 'benefactor_list' %}">Benefactors</a>
            </div>


            <div class="user-nav">
                <div class="shop-link dropdown">
                    <button class="shop-icon-link dropbtn"><i class="fa-solid fa-shop"></i></button>
                    <div class="dropdown-content">

                        <a class="donations-link" href="{% url 'donation_list' %}">
                            <i class="fa-solid fa-heart"></i>All donations</a>
                        <a class="donation-medications-link" href="{% url 'donation_support_for_research' %}">
                            <i class="fa-solid fa-heart"></i>Support for research</a>

                        <a class="donation-medications-link" href="{% url 'donation_psychological_support' %}">
                            <i class="fa-solid fa-heart"></i>Psychological support</a>

                        <a class="donation-medications-link" href="{% url 'donation_medications' %}">
                            <i class="fa-solid fa-heart"></i>Donation medications</a>
                        <a class="donations-medical-equipment-link" href="{% url 'donation_medical_equipment' %}">
                            <i class="fa-solid fa-heart"></i>Donation medical equipment</a>

                        <a class="donation-medications-link" href="{% url 'donation_another_type' %}">
                            <i class="fa-solid fa-heart"></i>Another type</a>


                    </div>
                </div>
                <div class="cart-link">
                    <a class="cart-icon-link" href="{% url 'cart_list' %}">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>


                <div class="user-dropdown dropdown">
                    <button class="username dropbtn"><i class="fa-solid fa-user"></i><i
                            class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <a class="profile-details-link" href="{% url 'user_details' pk=request.user.pk %}"><i
                                class="fa-solid fa-user"></i>Details</a>
                        <a class="logout-link" href="{% url 'user_logout' %}"><i
                                class="fa-solid fa-arrow-right-from-bracket"></i>Log
                            out</a>
                    </div>

                </div>
            </div>
            {#        {% else %}#}
            {#            <div class="signin-link">#}
            {#                <a class="signin-button" href="{% url 'user_login' %}">Sign in</a>#}
            {#            </div>#}
        </nav>
    {% endif %}


    {% if request.user.is_authenticated and request.user.is_superuser or request.user.is_authenticated and request.user.is_staff %}
        <nav class="admin-nav">
            <a class="create-donation-link" href="{% url 'donation_create' %}">New donation</a>
            <a class="create-projects-link" href="{% url 'campaign_create' %}">New campaign</a>
            <a class="create-initiatives-link" href="{% url 'initiative_create' %}">New initiatives</a>
            <a class="create-events-link" href="{% url 'event_create' %}">New event</a>
            <a class="create-charitable-treks-link" href="{% url 'charitable_trek_create' %}">New charitable treks</a>
            <a class="create-benefactors-link" href="{% url 'benefactor_create' %}">New our benefactors</a>


        </nav>
    {% endif %}
    <h1></h1>


</header>
{#<header class="header">#}
{##}
{#    <nav class="nav">#}
{##}
{#        <div class="logo">#}
{#            <a class="logo-link" href="{% url 'homepage' %}">CFamily</a>#}
{#        </div>#}
{#        {% if request.user.is_authenticated %}#}
{#            <div class="user-nav">#}
{#                <div class="shop-link dropdown">#}
{#                    <button class="shop-icon-link dropbtn"><i class="fa-solid fa-heart"></i>Charity Mart</button>#}
{#                    <div class="dropdown-content">#}
{##}
{#                        <a class="donations-link" href="{% url 'donation_list' %}">#}
{#                            <i class="fa-solid fa-heart"></i>All donations</a>#}
{#                        <a class="donation-medications-link" href="{% url 'donation_support_for_research' %}">#}
{#                            <i class="fa-solid fa-heart"></i>Support for research</a>#}
{##}
{#                        <a class="donation-medications-link" href="{% url 'donation_psychological_support' %}">#}
{#                            <i class="fa-solid fa-heart"></i>Psychological support</a>#}
{##}
{#                        <a class="donation-medications-link" href="{% url 'donation_medications' %}">#}
{#                            <i class="fa-solid fa-heart"></i>Donation medications</a>#}
{#                        <a class="donations-medical-equipment-link" href="{% url 'donation_medical_equipment' %}">#}
{#                            <i class="fa-solid fa-heart"></i>Donation medical equipment</a>#}
{##}
{#                        <a class="donation-medications-link" href="{% url 'donation_another_type' %}">#}
{#                            <i class="fa-solid fa-heart"></i>Аnother type</a>#}
{##}
{##}
{#                    </div>#}
{#                </div>#}
{#                <div class="cart-link">#}
{#                    <a class="cart-icon-link" href="{% url 'cart_list' %}">#}
{#                        <i class="fa-solid fa-cart-shopping"></i>Charity Cart#}
{#                    </a>#}
{#                </div>#}
{#                #}
{##}
{#                <div class="user-dropdown dropdown">#}
{#                    <button class="username dropbtn"><i#}
{#                        class="fa-solid fa-user"></i>{{ user.username }} <i#}
{#                            class="fa fa-caret-down"></i></button>#}
{#                    <div class="dropdown-content">#}
{#                        <a class="profile-details-link" href="{% url 'user_details' pk=request.user.pk %}"><i#}
{#                                class="fa-solid fa-user"></i>Profile#}
{#                            details</a>#}
{#                        <a class="profile-edit-link" href="{% url 'user_edit' pk=request.user.pk %}"><i#}
{#                                class="fa-solid fa-user"></i>Profile#}
{#                            edit</a>#}
{#                        <a class="logout-link" href="{% url 'user_logout' %}"><i#}
{#                                class="fa-solid fa-arrow-right-from-bracket"></i>Log#}
{#                            out</a>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
{#        {% else %}#}
{#            <div class="signin-link">#}
{#                <a class="signin-button" href="{% url 'user_login' %}">Sign in</a>#}
{#            </div>#}
{#        {% endif %}#}
{##}
{#    </nav>#}
{#    {% if request.user.is_authenticated %}#}
{#        <nav class="user-nav-links">#}
{#            <div class="main-links">#}
{#                <a class="projects-link" href="">Campaigns</a>#}
{#                <a class="initiatives-link" href="">Initiatives</a>#}
{#                <a class="events-link" href="">Events</a>#}
{#                <a class="charitable-treks-link" href="">Charitable treks</a>#}
{#                <a class="benefactors-link" href="">Benefactors</a>#}
{#            </div>#}
{#            <div class="help-dropdown dropdown">#}
{#                <button class="cfamily-help dropbtn">CFamily HELP</button>#}
{#                <div class="dropdown-content">#}
{#                    <p class="email">c********@gmail.com</p>#}
{#                    <p class="phone">0*********</p>#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{#        </nav>#}
{#    {% endif %}#}
{##}
{#    {% if request.user.is_authenticated %}#}
{#        <nav class="user-nav-links">#}
{#            <div class="main-links">#}
{#                <a class="projects-link" href="{% url 'campaign_list' %}">Campaigns</a>#}
{#                <a class="initiatives-link" href="{% url 'initiative_list' %}">Initiatives</a>#}
{#                <a class="events-link" href="{% url 'event_list' %}">Events</a>#}
{#                <a class="charitable-treks-link" href="{% url 'charitable_trek_list' %}">Charitable treks</a>#}
{#                <a class="benefactors-link" href="{% url 'benefactor_list' %}">Benefactors</a>#}
{#            </div>#}
{#            <div class="help-dropdown dropdown">#}
{#                <button class="cfamily-help dropbtn">CFamily HELP</button>#}
{#                <div class="dropdown-content">#}
{#                    <p class="email">c********@gmail.com</p>#}
{#                    <p class="phone">0*********</p>#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{#        </nav>#}
{#    {% endif %}#}
{##}
{##}
{##}
{#        {% if request.user.is_authenticated and request.user.is_superuser or request.user.is_authenticated and request.user.is_staff %}#}
{#        <nav class="admin-nav">#}
{#            <a class="create-donation-link" href="{% url 'donation_create' %}">New donation</a>#}
{#            <a class="create-projects-link" href="{% url 'campaign_create' %}">New campaign</a>#}
{#            <a class="create-initiatives-link" href="{% url 'initiative_create' %}">New initiatives</a>#}
{#            <a class="create-events-link" href="{% url 'event_create' %}">New event</a>#}
{##}
{##}
{#            <a class="create-charitable-treks-link" href="{% url 'charitable_trek_create' %}">New charitable treks</a>#}
{#            <a class="create-benefactors-link" href="{% url 'benefactor_create' %}">New our benefactors</a>#}
{##}
{##}
{#        </nav>#}
{#    {% endif %}#}
{##}
{#    #}
{##}
{#</header>#}

{% block content %}
{% endblock %}

<footer class="footer">
    <p class="footer-text">Copyright Association 'CFamily' Bulgaria</p>
    <p class="powered-by-text">Powered by Django, designed and developed by LORINDI</p>
</footer>

</body>

</html>