{% extends 'users/user-details-page.html' %}
{% block profile_details_content %}

<main class="main-users-content">
    <div class="container-user-edit-form">
        <h1>Edit profile</h1>
   
        
            <form method="post" action="{% url 'user_edit' pk=object.pk %}" enctype="multipart/form-data" class="user-edit-form">
                {% csrf_token %}
                {{ form.as_div }}

                <button type="submit" class="edit-button">Edit</button>
            </form>
            
    </div>
</main>

{% endblock %}