{% extends 'users/user-details-page.html' %}
{% block profile_details_content %}
    <div class="user-details-content-campaigns">

        <ul role="list" class="user-details-list-campaigns">
            {% for registration in user_campaigns %}
                <li class="user-details-campaign-element">
                    <img class="user-details-img" src="{{ registration.campaign.image.url }}"
                         alt="{{ campaign.title }}">
                    <article>
                        <p class="user-details-title">{{ registration.campaign.title }}</p>
                        <a class="user-details-button" href="{% url 'campaign_detail' registration.campaign.pk %}">SEE
                            MORE</a>
                    </article>


                </li>
            {% empty %}
                <li>No registered campaigns.</li>
            {% endfor %}
        </ul>

        <div class="pagination">
            <span class="step-links">
                {% if user_campaigns.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ user_campaigns.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current-page">
                    Page {{ user_campaigns.number }} of {{ user_campaigns.paginator.num_pages }}.
                </span>

                {% if user_campaigns.has_next %}
                    <a href="?page={{ user_campaigns.next_page_number }}">next</a>
                    <a href="?page={{ user_campaigns.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>


    </div>

{% endblock %}