{% extends 'base/index.html' %}

{% block content %}
    <main>
        <section class="container-benefactor-create-form">
            <h1 class="benefactor-create-form-title" >Edit Benefactor: {{ benefactor.name }}</h1>
            <form class="benefactor-create-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="benefactor-create-form-button" type="submit">Save Changes</button>
            </form>
        </section>
    </main>
{% endblock %}
