{% extends 'base/index.html' %}
{% block content %}
{% load static %}


    <main class="main-users-passwords-content">
        <section class="container-user-change-password">
            <h2 class="user-change-passwor-title">Change Password</h2>
            <form class="user-change-passwor-form" method="post">
                
                {{ form.as_div }}
                {% csrf_token %}
                <button class="user-change-passwor-button">Change Password</button>
            </form>
        </section>

    </main>

{% endblock %}