{% extends 'base/index.html' %}
{% block content %}
{% load static %}

    <main class="main-users-passwords-content">
        <section class="container-new-pass">
            <div class="new-pass-content">
                <h1 class="new-pass-content-title">Enter new password</h1>
                <p class="new-pass-content-instructions">Please enter your new password twice, so we can verify you
                    typed it in correctly.</p>
            </div>
            <form method="post" class="new-pass-form">
                {{ form.as_div }}
                {% csrf_token %}
                <button class="new-pass-form-button">Change my password</button>
            </form>
        </section>
    </main>
{% endblock %}