# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
logs/**/*.log

# Dependency directories
jspm_packages/
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# dotenv environment variable files
.env
.env.test
.env.production

# Build directory
dist/
build/

# IDEs and editors
.idea/
.vscode/
*.swp

# Operating system files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# TypeScript cache
*.tsbuildinfo

# Bower dependency directory
bower_components/

# Optional cache directory for Babel
.cache/
