{% extends 'base/index.html' %}
{% block content %}
    <main class="main-shopping-cart">
        <section class="container-cart-details">
       
            <ul class="cart-items-list" role="list">
                {% for cart_item in cart_items %}
                    <li class="cart-item">
                        <img class="cart-item-image" src="{{ cart_item.donation.image.url }}"
                             alt="{{ cart_item.donation.title }}">
                        <p>{{ cart_item.quantity }}</p> <p><i class="fa-solid fa-xmark"></i></p> <p>{{ cart_item.donation.title }}</p>
                        <a class="cart-edit-link" href="{% url 'cart_update' cart_item.pk %}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="cart-delete-link" href="{% url 'cart_delete' cart_item.pk %}"><i class="fa-solid fa-xmark"></i></a>
                    </li>
                {% endfor %}
            </ul>
            <div>
                <a class="browse-donations-link" href="{% url 'donation_list' %}">Browse Donations</a>
            <a class="continue-payment-link" href="{% url 'payment' %}">Continue to Payment</a>
            </div>

        </section>
    </main>
{% endblock %}

