{% extends 'base/index.html' %}

{% block content %}
    <main>
        <section class="container-charitable-trek-create-form">
            <h2 class="charitable-trek-create-form-title">Create Charitable Trek</h2>
            <form class="charitable-trek-create-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_div }}
                <button class="charitable-trek-create-form-button" type="submit">Create</button>
               
            </form>
            
            
        </section>

    </main>
{% endblock %}
