.slider {
  width: 100%;
  height: 350px;
  display: flex;
  gap: 20px;

  .fullSlider {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .arrow {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50px;
        background-color: #fafafa;
      }
    }
    .imgContainer {
      flex: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 90%;
        object-fit: cover;
      }
    }
    .close {
      color: white;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 36px;
      padding: 15px;
      cursor: pointer;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
  }
  .bigImage {
    flex: 3;
  }
  .smallImages {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    img {
      height: 100px;
    }
  }
}
