@import "../../responsive.scss";
.listPage {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);

  .listContainer {
    flex: 3;
    height: 100%;
    padding-top: 0px;

    .wrapper {
      height: 100%;
      padding: 50px 30px 0px 10px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: scroll;
      padding-bottom: 50px;

      @include sm {
        padding: 20px;
      }
      @include md {
        padding: 20px;
      }

      /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
      &::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for Firefox */
      scrollbar-width: none;

      /* Hide scrollbar for Internet Explorer, Edge */
      -ms-overflow-style: none;
    }
  }
  .mapContainer {
    flex: 2;
    height: 100%;
    background-color: #fcf5f3;
    padding-top: 50px;
    border-radius: 0 0 10px 10px;

    @include md {
      display: none;
    }
    @include sm {
      display: none;
    }
  }
}
