@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* ------------------------------main------------------------------ */
/* --------------------------------------------------------INFO----------------------------------------------------------------- */
.containerInformationSection {
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}

.contentInformationSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 150px;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    /* padding-top: 90px; */
    /* padding-bottom: 20px; */


}

.informationImg {
    width: 425px;
    height: 425px;
    background-position: center;
    object-fit: cover;
    background-size: contain;
    margin-left: 50px;
    /* rotate: 115deg; */

}

.contentInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.infoTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

.infoDescription {

    width: 550px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-indent: 1em;
    text-align: justify;
    line-height: 32px;

}

/* -----------------------------------------------------Latest-Sites-------------------------------------------------------------------- */
.elseImgLatestSites {
    background-position: center;
    object-fit: cover;
    background-size: contain;
    /* position: absolute; */
    width: 800px;
    bottom: 0;
    /* margin-bottom: 100px; */
}


.sitesInfo {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 125px;
    /* min-height: 500px; */


}

.createSiteTitle {
    color: rgba(173, 216, 230, 0.625);
    font-size: 47px;
    font-weight: 400;
    padding-bottom: 20px;
    letter-spacing: 2px;
}

.createSiteDescriptionFirst {
    color: rgba(255, 255, 255, 0.528);
    font-size: 22px;
    width: 800px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 32px;
    padding-bottom: 20px;

}

.createSiteDescriptionSecond {
    color: rgba(255, 255, 255, 0.528);
    font-size: 22px;
    width: 1000px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 32px;
    padding-top: 10px;
    color: rgba(173, 216, 230, 0.78);
    padding-bottom: 20px;

}

.linkLatestSites {
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    margin: 20px;
    border: 3px solid #1b2d3f;
    background-color: rgba(173, 216, 230, 0.744);
    color: black;

}

.linkLatestSites:hover {
    background-color: #1b2d3f;
    color: lightblue;
    border: 3px solid rgba(173, 216, 230, 0.495);
    font-weight: 600;
    transition: 0.5s;

}

.containerLatestSites {
    min-height: 75vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.latestSites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 100px;
}

.currentLatestSites {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    gap: 100px;
    position: relative;
    padding-bottom: 100px;
}

/* -----------------------------------------------------TEAM-------------------------------------------------------------------- */


.teamSection {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    /* background-color: #a3d368e5; */
    min-height: 75vh;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    gap: 100px;
    padding-top: 150px;


}

.contentTeam {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    gap: 70px;
    padding-left: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
}

.teamTitle {
    color: rgba(255, 255, 255, 0.746);
    font-size: 60px;
    font-weight: 200;
}

.teamDescription {
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 400;
    width: 500px;
    color: rgba(255, 255, 255, 0.508);

}

.teamLink {
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: 0.5s;

}

.teamSection>img {
    width: 500px;
    height: 500px;
    background-position: center;
    object-fit: cover;
    background-size: contain;
    padding-top: 50px;

}

/* --------------------------------------------------------CONTACTS------------------------------------------------------------------- */

.contactsInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    flex-wrap: wrap;
    height: 95vh;

}

.contentContacts {
    display: flex;
    flex-direction: column;
    width: 500px;

}

.contactsList {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    gap: 50px;
    margin: 0;
    height: 463px;
    padding-top: 100px;
}

.contact {
    width: 250px;
}

.contact>a {
    display: flex;
    flex-direction: row;
    /* width: 500px; */
    align-items: center;
    gap: 20px;
}

.contact>a>img {
    width: 30px;
    filter: grayscale(100%);

}

.contact>a>p {
    font-size: 25px;
    /* color: black; */
}



.contactsImg:hover {
    box-shadow: 0px 0px 100px 1px rgba(173, 216, 230, 0.225);
    transition: 0.5s;
}

/* -----------------------------------DARK-COLORS------------------------------------ */

.dark.informationSection {
    background-color: #1b2d3f;
}

.dark.infoTitle {
    color: rgba(255, 255, 255, 0.679);

}

.dark.infoDescription {
    color: rgba(255, 255, 255, 0.486);

}

.dark.teamSection {
    background-color: #1b2d3f;

}

.dark.teamTitle {
    background-color: #1b2d3f;
    color: rgba(255, 255, 255, 0.737);

}

.dark.teamLink {
    color: black;
    border: 3px solid #1b2d3f;

    background-color: rgba(173, 216, 230, 0.744);

}

.dark.teamLink:hover {
    color: lightblue;
    border: 3px solid lightblue;
    background-color: #1b2d3f;

}

.dark.teamLink:active {
    border: 3px solid lightgreen;
    background-color: #1b2d3f;
    color: lightgreen;


}

.dark.contactsInfo {
    background-color: #1b2d3f;

}

.dark.contact>a>p {
    color: rgba(255, 255, 255, 0.531);

}

.homePageLinks {
    position: fixed;
    left: 50px;
    top: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;

}

.homePageLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(173, 216, 230, 0.625);
    letter-spacing: 2px;
    font-size: 14px;
    border: 3px solid #142331;
    background-color: #1b2d3f;
    padding: 5px 50px;
    border-radius: 5px;
    width: 110px;
    text-transform: uppercase;
    font-weight: 500;
}

.homePageLink:hover {
    color: lightblue;
}

.homePageLink:active {
    color: lightgreen;
}

/* -------------------------------------------------------RESPONSIVE-320-------------------------------------------------------------------- */
@media(width <=320px) {
    * {
        overflow-x: hidden;
    }

    .homePageLinks {
        display: none;
    }

    /* ------Latest-Sites--------- */

    .elseImgLatestSites {
        width: 250px;
    }


    .sitesInfo {
        padding-top: 10px;
    }

    .createSiteTitle {
        display: flex;
        justify-content: center;
        font-size: 17px;
        width: 320px;
        padding-bottom: 10;

    }

    .createSiteDescriptionFirst {
        font-size: 14px;
        width: 270px;
        padding: 0;

    }

    .createSiteDescriptionSecond {
        font-size: 14px;
        width: 320px;
        padding: 0;

    }

    .linkLatestSites {
        font-size: 12px;
    }

    .containerLatestSites {
        min-height: 50vh;
        width: 320px;
    }

    .latestSites {
        padding-top: 10px;
    }

    .currentLatestSites {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 25px;
        padding: 0;
    }

    /* ----------Info------------ */
    .contentInformationSection {
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
        height: 620px;
        gap: 50px;
    }

    .informationImg {
        width: 200px;
        height: 200px;
        transform: rotate(90deg);
        margin: 0;
    }

    .infoTitle {
        width: 200px;
        font-size: 16px;
        margin: 20px 0px;
        text-align: center;
    }

    .contentInfo {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        align-items: center;
    }

    .infoDescription {
        height: 280px;
        width: 250px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 20px;
        text-indent: 2em;
    }

    /* ----------Team------------- */
    .teamSection {
        padding: 0px;
        min-height: 150px;
    }

    .contentTeam {
        align-items: center;
        min-height: 20vh;
        gap: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
    }

    .teamTitle {
        font-size: 20px;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }

    .teamDescription {
        font-size: 12px;
        width: 250px;
        margin-bottom: 10px;
        text-align: center;
    }

    .teamLink {
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 600;
    }

    .teamSection>img {
        display: none;


    }

    .contactsInfo {
        height: 250px;

    }

    .contactsImg {
        display: none;

    }

    .contentContacts {

        padding: 10px;
        width: 200px;

    }

    .contactsList {
        width: 300px;
        gap: 20px;
    }

    .contact>a {
        display: flex;
        flex-direction: row;
        width: 300px;
        align-items: center;
        gap: 20px;
    }

    .contact>a>img {
        width: 20px;
        filter: grayscale(100%);
    }

    .contact>a>p {
        font-size: 15px;
        /* color: black; */
    }
}

/* -------------------------------------------------------RESPONSIVE-600-------------------------------------------------------------------- */
@media (min-width: 321px) and (max-width: 600px) {
    * {
        overflow-x: hidden;
    }

    .homePageLinks {
        display: none;

    }

    /* ----Latest-Sites------- */


    .elseImgLatestSites {
        width: 90%;

    }


    .sitesInfo {
        padding-top: 10px;
        display: flex;
        width: 90%;


    }

    .createSiteTitle {
        display: flex;
        justify-content: center;
        font-size: 25px;
        width: 90%;
        padding-bottom: 10;
        margin-top: 100px;
        font-weight: 400;
        text-align: center;

    }

    .createSiteDescriptionFirst {
        font-size: 16px;
        width: 90%;
        padding: 0;
        font-weight: 400;
    }

    .createSiteDescriptionSecond {
        font-size: 15px;
        width: 90%;
        padding: 0;
        font-weight: 400;
    }

    .linkLatestSites {
        font-size: 12px;
    }

    .containerLatestSites {
        min-height: 50vh;
        width: 90%;
        display: flex;
        width: 100%;
    }

    .latestSites {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;


    }

    .currentLatestSites {
        flex-wrap: wrap;
        gap: 50px;
        padding: 0;
        width: 100%;
        padding-top: 30px;
    }

    /* --------Info------------ */
    .contentInformationSection {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        min-height: 900px;
        gap: 30px;
        width: 90%;
    }

    .informationImg {
        /* rotate: 90deg; */
        margin: 0;
        max-width: 310px;
        max-height: 310px;
    }

    .infoTitle {
        font-size: 25px;
        margin: 30px 0px 30px;
        width: 80%;
        min-height: 80px;
    }

    .contentInfo {
        margin-bottom: 0px;
        align-items: center;
        min-height: 420px;
        text-align: center;
    }

    .infoDescription {
        height: 90%;
        width: 85%;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 25px;
        text-indent: 3em;
        text-align: justify;
    }

    /* ---------Team--------- */
    .teamSection {
        padding: 0px;
        min-height: 150px;
    }

    .contentTeam {
        align-items: center;
        min-height: 20vh;
        gap: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
    }

    .teamTitle {
        font-size: 25px;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }

    .teamDescription {
        font-size: 16px;
        width: 350px;
        margin-bottom: 10px;
        text-align: center;
    }

    .teamLink {
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 600;
    }

    .teamSection>img {
        display: none;
    }

    .contactsInfo {
        height: 250px;
    }

    .contactsImg {
        display: none;
    }

    .contentContacts {
        /* height: 400px; */
        padding: 0;
    }

    .contactsList {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0px;
        height: 200px;
    }

    .contact>a {
        flex-direction: row;
        width: 170px;
        margin-left: 20px;
        gap: 20px;
    }

    .contact>a>img {
        width: 30px;
    }

    .contact>a>p {
        font-size: 15px;
    }
}

/* ---------------------------------------------800-------------------------------- */
@media screen and (min-width: 601px) and (max-width: 800px) {

    * {
        overflow-x: hidden;
    }

    .homePageLinks {
        display: none;

    }

    /* ----Latest-Sites------- */


    .elseImgLatestSites {
        width: 70%;
    }

    .sitesInfo {
        padding-top: 20px;
    }

    .createSiteTitle {
        display: flex;
        justify-content: center;
        font-size: 32px;
        width: 100%;
        padding-bottom: 10;
        margin-top: 100px;
        font-weight: 400;
        text-align: center;
    }

    .createSiteDescriptionFirst {
        font-size: 18px;
        width: 350px;
        padding: 0;
        padding-bottom: 10px;
        font-weight: 400;
    }

    .createSiteDescriptionSecond {
        font-size: 16px;
        width: 450px;
        padding: 0;
        padding-bottom: 10px;
        font-weight: 400;
    }

    .linkLatestSites {
        font-size: 16px;

    }

    .containerLatestSites {
        min-height: 50vh;
        width: 100%;
        display: flex;
        width: 100%;
    }

    .latestSites {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;


    }

    .currentLatestSites {
        flex-wrap: wrap;
        gap: 10px;
        padding: 0;
        width: 100%;
        padding-top: 30px;
    }

    /* --------Info------------ */
    .contentInformationSection {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        min-height: 1000px;
        gap: 50px;
        justify-content: space-evenly;
    }

    .informationImg {
        width: 400px;
        height: 400px;
        margin: 0;


    }

    .infoTitle {
        font-size: 25px;
        margin: 60px 0px 30px;
    }

    .contentInfo {
        margin-bottom: 0px;
        align-items: center;
        height: 550px;
        width: 90%;
        padding-top: 50px;

    }

    .infoDescription {
        min-height: 350px;
        width: 70%;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 30px;
        text-indent: 3em;
        text-align: justify;
    }

    /* ---------Team--------- */
    .teamSection {
        padding: 0px;
        min-height: 150px;
    }

    .contentTeam {
        align-items: center;
        min-height: 20vh;
        gap: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
        padding-top: 100px;
    }

    .teamTitle {
        font-size: 40px;
        margin-bottom: 20px;
        letter-spacing: 2px;
    }

    .teamDescription {
        font-size: 18px;
        width: 350px;
        margin-bottom: 20px;
        text-align: center;
    }

    .teamLink {
        padding: 5px 10px;
        font-size: 18px;
        font-weight: 600;
    }

    .teamSection>img {
        width: 460px;
        height: 460px;
        padding: 0;
    }

    .contactsInfo {
        height: 250px;
    }

    .contactsImg {
        display: none;
    }

    .contactsList {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .contact>a {
        flex-direction: row;
        width: 170px;
        margin-left: 20px;
    }

    .contact>a>img {
        width: 40px;
    }

    .contact>a>p {
        font-size: 16px;
    }
}

/* ------------------------------1024---------------------------------------- */
@media only screen and (min-width: 800px) and (max-width: 1025px) {
    * {
        overflow-x: hidden;
    }

    .homePageLinks {
        left: 10px;
        width: 95px
    }

    .homePageLink {
        font-size: 12px;
        width: 95px;
        padding: 0;

    }

    /* ----Latest-Sites------- */


    .elseImgLatestSites {
        width: 50%;
    }

    .sitesInfo {
        padding-top: 20px;
    }

    .createSiteTitle {
        display: flex;
        justify-content: center;
        font-size: 32px;
        width: 100%;
        padding-bottom: 10;
        margin-top: 100px;
        font-weight: 400;
        text-align: center;
    }

    .createSiteDescriptionFirst {
        font-size: 18px;
        width: 350px;
        padding: 0;
        padding-bottom: 10px;
        font-weight: 400;
    }

    .createSiteDescriptionSecond {
        font-size: 16px;
        width: 450px;
        padding: 0;
        padding-bottom: 10px;
        font-weight: 400;
    }

    .linkLatestSites {
        font-size: 16px;

    }

    .containerLatestSites {
        min-height: 50vh;
        width: 100%;
        display: flex;
        width: 100%;
        padding-top: 50px;
    }

    .latestSites {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;


    }

    .currentLatestSites {
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        padding: 130px 0px 100px 0px;
    }

    /* --------Info------------ */

    .contentInformationSection {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        height: 900px;
        gap: 0px;
        justify-content: space-evenly;
        display: flex;
        padding-bottom: 50px;
    }

    .informationImg {
        width: 400px;
        height: 400px;
        margin: 0;
        margin-top: 50px;


    }

    .infoTitle {
        font-size: 25px;
        margin: 60px 0px 30px;
    }

    .contentInfo {
        margin-bottom: 0px;
        align-items: center;
        width: 90%;
        padding: 0px;

    }

    .infoDescription {
        min-height: 300px;
        width: 70%;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 30px;
        text-indent: 3em;
        text-align: justify;
    }

    /* ---------Team--------- */
    .teamSection {
        padding: 0px;
        min-height: 150px;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        align-items: center;
    }

    .contentTeam {
        align-items: center;
        min-height: 20vh;
        gap: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
        padding-top: 100px;
    }

    .teamTitle {
        font-size: 40px;
        margin-bottom: 20px;
        letter-spacing: 2px;

    }

    .teamDescription {
        font-size: 18px;
        width: 350px;
        margin-bottom: 20px;
        text-align: center;
    }

    .teamLink {
        padding: 5px 10px;
        font-size: 18px;
        font-weight: 600;
    }

    .teamSection>img {
        width: 460px;
        height: 460px;
        padding: 0;
    }

    .contactsInfo {
        height: 350px;
    }

    .contactsImg {
        display: none;
    }

    .contactsList {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0;

    }

    .contact>a {
        flex-direction: row;
        width: 170px;
        margin-left: 20px;
    }

    .contact>a>img {
        width: 40px;
    }

    .contact>a>p {
        font-size: 16px;
    }
}