@import "../../app.scss";

.contact {
  min-height: 100vh;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

  @include mobile {
    flex-direction: column;
    padding: 20px 10px;
    gap: 20px;
  }

  @include tablet {
    flex-direction: column;
    padding: 30px 20px;
    gap: 30px;
  }

  @include laptop {
    padding: 40px;
    gap: 40px;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;


    @include mobile {
      gap: 15px;
      text-align: center;
      width: 100%;
    }

    @include tablet {
      gap: 25px;
      text-align: center;
      width: 100%;
    }



    .item {
      @include mobile {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      @include tablet {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      h2 {
        margin-bottom: 5px;
        color: var(--contact-item-title);
        
        @include mobile {
          font-size: 18px;
        }
        
        @include tablet {
          font-size: 22px;
        }
      }
    }

    h1 {
      font-size: 100px;
      line-height: 88px;
      color: var(--contact-title);
      
      @include mobile {
        font-size: 36px;
        line-height: 40px;
        margin-top: 50px;
      }
      
      @include tablet {
        font-size: 60px;
        line-height: 65px;
      }
      
      @include laptop {
        font-size: 80px;
        line-height: 75px;
      }
    }
    
    span {
      font-weight: 400;
    }
  }
  .formContainer {
    flex: 1;
    position: relative;

    .phoneSvg {
      position: absolute;
      stroke: var(--contact-phone-svg);

      z-index: -1;
      height: 500px;
      width: 650px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); 
    
      @include mobile {
        height: 250px;
        width: 250px;
        transform: translate(-50%, -30%);
      }
    
      @include tablet {
        height: 350px;
        width: 350px;
        transform: translate(-50%, -40%);
      }
    
      @include laptop {
        height: 450px;
        width: 550px;
        transform: translate(-50%, -45%);
      }
    
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
