.contact {
  height: 100vh;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h1 {
        font-size: 100px;
        list-style: 88px;
    }
    span {
        font-weight: 400;
    }
  }
  .formContainer {
    flex: 1;
  }
}
