@import "../../app.scss";

.contact {
  height: 100vh;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

  @include mobile {
    flex-direction: column;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .item {
      @include mobile {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }

    h1 {
      font-size: 100px;
      list-style: 88px;
      @include mobile {
        font-size: 30px;
      }
    }
    span {
      font-weight: 400;
    }
  }
  .formContainer {
    flex: 1;
    position: relative;

    .phoneSvg {
      position: absolute;
      margin: auto;
      stroke: #8400ffe1;
      z-index: -1;
      height: 500px;
      width: 650px;

      @include mobile {
        height: 300px;
        width: 300px;
      }

      svg {
        height: 500px;
        width: 500px;

        @include mobile {
          height: 250px;
          width: 250px;
        }
      }
    }
  }
}
