{% extends 'base/index.html' %}
{% block content %}
{% load static %}

    <main class="main-users-passwords-content">
        <section class="container-password-reset-send">
            <h1 class="password-reset-send-title">Password reset sent</h1>
            <div class="password-reset-send-content">
                <p>We’ve emailed you instructions for setting your password, if an account exists with the email you
                    entered. You should receive them shortly.</p>
                <br>
                <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and
                    check your spam folder.</p>
            </div>
        </section>
    </main>
{% endblock %}