{% extends 'base/base.html' %}
{% load static %}
{% block content %}
{#    <link rel="stylesheet" href="{% static 'css/users/pass_reset_new_pass.css' %}">#}
    <section class="new-pass">
        <div class="new-pass-content">
            <h1>Enter new password</h1>
            <p>Please enter your new password twice, so we can verify you typed it in correctly.</p>
        </div>
        <form method="post">
            {{ form.as_div }}
            {% csrf_token %}
            <button>Change my password</button>
        </form>
    </section>
{% endblock %}