{% extends 'base/base.html' %}
{% load static %}
{% block content %}
{#    <link rel="stylesheet" href="{% static 'css/users/pass_reset_send.css' %}">#}
    <section class="password-reset-send">
        <h2>Password reset sent</h2>
        <div class="content">
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
        </div>
    </section>
{% endblock %}