{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <main class="main-users-passwords-content">
        <section class="container-password-reset">
            <form class="password-reset-form" method="post" action="{% url 'reset_password' %}">
                <h1 class="password-reset-title">Password reset</h1>
                <div class="password-reset-instructions">
                    <p>Forgotten your password?</p>
                    <p>Enter your email address below, and we’ll email instructions for setting a new one.</p>
                </div>
                {{ form.as_div }}
                {% csrf_token %}
                <button class="password-reset-button">Send</button>
            </form>
        </section>
    </main>
{% endblock %}