.cover {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.137);
  width: 100%;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-image: url("../../../public/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.7;
  }

  .cover-title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.884);
    padding: 20px;
    border-radius: 10px;
    padding: 30px;
    width: 30%;
    height: 50%;
    font-size: 40px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 20px 1px rgba(119, 136, 153, 0.719);

    .cover-title-text {
    }
    .about-recipe-link {
      font-size: 22px;
      text-transform: uppercase;
      padding: 10px 35px;
      background-color: orange;
      color: white;
      letter-spacing: 1.5px;
      border-radius: 5px;
    }
  }
}
