{% extends 'base/index.html' %}
{% block content %}
{% load static %}


<main>
    <section>
        <img src="{% static 'images/brian-erickson-CBHxASbfH4s-unsplash.jpg' %}" alt="">
        <div>
            <h1>Bring Happy Smiles!</h1>
            <p>Visit our donation store and help CFamily overcome challenges</p>
            <a href="">SUPPORT US</a>
        </div>
    </section>
    <section>
        <p>CFamily is a unique community where parents and patients affected by cystic fibrosis find support and
            solidarity.</p>
        <p>Members of CFamily interact to provide practical assistance and support in their daily lives, creating a
            strong bond and building a reliable and understanding collective.
        </p>
        <p>They witness the significance of shared experience and emotional support, which have a profound impact on the
            quality of life and the fight against cystic fibrosis.
        </p>
        <p>They are fighting this debilitating condition but require donations to afford expensive medications and
            equipment to maintain their health.
        </p>
        <p>The donations from people will greatly assist them in their battle</p>

    </section>
    <section>
        <h1>CYSTIC FIBROSIS</h1>
        <div>

            <div>
                <h2>WHAT</h2>
                <p>AN AUTOSOMAL RECESSIVE GENETIC DISORDER THAT INVOLVES ABNORMAL TRANSPORT OF CHLORIDE AND SODIUM
                    ACROSS THE CELL MEMBRANE CAUSING A THICK MUCUS</p>

            </div>
            <div>
                <h2>AFFECTS</h2>
                <div>
                    <div>
                        <img src="" alt="">
                        <h3>LUNGS</h3>
                    </div>
                    <div>
                        <img src="" alt="">
                        <h3>PANCREAS</h3>
                    </div>
                    <div>
                        <img src="" alt="">
                        <h3>LIVER</h3>
                    </div>
                    <div>
                        <img src="" alt="">
                        <h3>INTESTINE</h3>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <h2>SYMPTOMS</h2>
                <ul role="list">
                    <li>DIFFICULTY BREATHING</li>
                    <li>PERSISTENT COUGH</li>
                    <li>POOR GROWTH</li>
                    <li>LUNG AND SINUS</li>
                    <li>INFERTILITY</li>
                    <li>BOWEL ISSUES</li>
                    <li>DIABETES</li>
                </ul>
            </div>
            <div>
                <h2>CAUSED BY</h2>
                <p>MUTATIONS IN THE GENE ENCODING FOR THE CFTR PROTEIN</p>
            </div>
        </div>
        <div>
            <div>
                <h2>DID YOU KNOW?</h2>
                <ul role="list">
                    <li>DIFFERENT MUTATIONS IN THE CTFR GENE CAN CAUSE DIFFERENT SYMPTOMS</li>
                    <li>THANKS TO GENETIC SCREENING AT BIRTH, MOST CHILDREN ARE DIAGNOSED BEFORE THE AGE OF TWO</li>
                    <li>ADVANCED WITH CF WILL GO ON TO LIVE FULFILLING LIVES, INTO THEIR LATE 305 AND BEYOND</li>
              
                </ul>
            </div>
            <div>
                <h2>WHAT is CFTR ?</h2>
                <p>Regulates sweat, digestive fluids, and mucus Controls the movement of chloride and sodium through cell membranes.</p>
            </div>
        </div>




    </section>
    <section>

    </section>

</main>


{% endblock %}