<div class="container-recipe">
    <div class="recipe">
        <div>
            <div class="recipe-header">
                <h1 class="recipe-title">Пиле със зеленчуци</h1>
                <img src="/assets/brooke-lark-nTZOILVZuOg-unsplash.jpg" alt="Изображение на ястие" class="recipe-image" />
                <p class="recipe-description">Прекрасно и здравословно ястие с пиле и зеленчуци.</p>
            </div>
    
            <div class="ingredient-list">
                <h2>Съставки:</h2>
                <ul role="list">
                    <li class="ingredient">500 г пилешко филе</li>
                    <li class="ingredient">2 моркова</li>
                    <li class="ingredient">1 глава лук</li>
                    <li class="ingredient">1 червена чушка</li>
                    <li class="ingredient">100 г зелен фасул</li>
                    <li class="ingredient">Сол и черен пипер на вкус</li>
                </ul>
            </div>
        </div>

        <div class="instruction-list">
            <h2>Инструкции:</h2>
            <ol>
                <li class="instruction">Нарежете пилешкото филе и зеленчуците на ситно.</li>
                <li class="instruction">Загрейте малко олио в тиган и задушете лука.</li>
                <li class="instruction">Добавете нарязаните зеленчуци и пилешкото филе и гответе за около 10 минути.
                </li>
                <li class="instruction">Подправете със сол и черен пипер по вкус.</li>
                <li class="instruction">Сервирайте топло.</li>
            </ol>
        </div>
    </div>

</div>