<div class="container-recipe">
    <div class="recipe">
        <div>
            <div class="recipe-header">
                <h1 class="recipe-title">Chicken with Vegetables</h1>
                <img src="/assets/brooke-lark-nTZOILVZuOg-unsplash.jpg" alt="Image of dish" class="recipe-image" />
                <p class="recipe-description">A delightful and healthy dish with chicken and vegetables.</p>
            </div>
    
            <div class="ingredient-list">
                <h2>Ingredients:</h2>
                <ul role="list">
                    <li class="ingredient">500g chicken breast</li>
                    <li class="ingredient">2 carrots</li>
                    <li class="ingredient">1 onion</li>
                    <li class="ingredient">1 red bell pepper</li>
                    <li class="ingredient">100g green beans</li>
                    <li class="ingredient">Salt and black pepper to taste</li>
                </ul>
            </div>
        </div>

        <div class="instruction-list">
            <h2>Instructions:</h2>
            <ol>
                <li class="instruction">Dice the chicken breast and vegetables finely.</li>
                <li class="instruction">Heat a little oil in a pan and sauté the onion.</li>
                <li class="instruction">Add the diced vegetables and chicken breast, and cook for about 10 minutes. aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
                <li class="instruction">Season with salt and black pepper to taste.</li>
                <li class="instruction">Serve hot.</li>
            </ol>
        </div>
    </div>
</div>