.container-recipe {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.recipe {
    max-width: 900px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 80px 0px 80px 0px;
    min-height: 100px;
}

.recipe-title {
    color: #333;
    text-align: center;
    overflow-wrap: anywhere;
}

.recipe-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recipe-description {
    color: #666;
    text-align: center;
    overflow-wrap: anywhere;
    height: 100%;
    font-size: 16px;

}

.ingredient-list {
    margin-top: 20px;
    overflow-wrap: anywhere;

}

.ingredient-list h2,
.instruction-list h2 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    overflow-wrap: anywhere;

}

.ingredient-list ul,
.instruction-list ol {
    margin-top: 10px;
    padding-left: 20px;
}

.ingredient-list li,
.instruction-list li {
    color: #666;
    margin-bottom: 5px;
    overflow-wrap: anywhere;
    font-size: 16px;

}