@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.containerItSpecialistCreateForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
}

h1 {
    margin-bottom: 70px;
    color: lightblue;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.createItSpecialistForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 700px;
    width: 1100px;
    position: relative;
    border-radius: 5px;
}

.createItSpecialistForm>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    align-items: center;
    /* height: 100px; */

}

.createItSpecialistForm>div:nth-child(5) {
    margin-bottom: 20px;

}

.createItSpecialistLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: lightgreen;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    margin-top: 20px;
    font-weight: 500;

}

.createItSpecialistInput {
    padding: 10px;
    width: 800px;
    border-radius: 5px;
    background-color: #1B2D3F;
    border: 2px solid rgba(173, 216, 230, 0.498);
    color: rgba(173, 216, 230, 0.807);
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
}

.createItSpecialistTextarea {
    width: 800px;
    height: 300px;
    border-radius: 5px;
    background-color: #1B2D3F;
    border: 2px solid rgba(173, 216, 230, 0.498);
    color: rgba(173, 216, 230, 0.807);
    letter-spacing: 1.5px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    /* margin-bottom: 10px; */

}

.createItSpecialistButton {
    display: block;
    width: 800px;
    height: 41px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    border: 3px solid rgba(173, 216, 230, 0.891);
    background-color: rgba(173, 216, 230, 0.862);
    border-radius: 5px;
    margin: 20px 0px 25px 0px;


}

.createItSpecialistInput:hover,
.createItSpecialistTextarea:hover {
    box-shadow: 0px 0px 10px 1px rgba(173, 216, 230, 0.474);

}

.createItSpecialistInput:focus,
.createItSpecialistTextarea:focus {
    box-shadow: 0px 0px 15px 1px rgba(173, 216, 230, 0.767);

}

.createItSpecialistButton:hover {
    border: 3px solid lightblue;
    background-color: #1B2D3F;
    color: lightblue;
    transition: 0.5s;


}

.createItSpecialistButton:active {
    border: 3px solid lightgreen;
    background-color: #1B2D3F;
    color: lightgreen;


}