@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.header {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: #1B2D3F;
    height: 50px;
}

.navigation {
    display: flex;
    width: 100%;
    z-index: 1;
    background-color: #1B2D3F;

}

.navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    /* position: fixed; */
    background-color: #1B2D3F;

}

.link {
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: 500;
}

.elImg {
    width: 200px;
}

.navBarElements {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;

}

.linkButton,
.dropdownEmail {
    background-color: #1B2D3F;
    border: none;
    color: lightblue;
}

.linkButton:active,
.dropdownEmail:active {
    color: lightgreen;
}

.dropdownEmail {
    padding-bottom: 10px;
}

/* -----------------------------------light------------------------------------ */

.dark.navigation {
    background-color: #1B2D3F;
}

.dark.link {
    color: black;

}

.navBarEl {
    position: relative;

}

.dropdownContent {
    position: absolute;
    display: none;
    padding: 5px;
    background-color: #1B2D3F;


}

.dropdownContent>a {
    font-size: 16px;
    text-transform: lowercase;
    color: lightblue;


}

.dropdownContent>a:hover {
    color: lightgreen;




}

.navBarEl:hover .dropdownContent {
    display: block;

}

@media(width <=320px) {
    * {
        overflow-x: hidden;
    }

    .header {
        width: 100%;
        min-height: 200px;
    }

    .navBarElButton {
        min-height: 100px;
        width: 150px;
        text-align: center;
    }

    .dropdownContent {
        width: 100%;

    }

    .navBar {
        display: flex;
        flex-direction: column;
        min-height: 200px;
        padding-left: 0px;
        padding-right: 0px;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    .navBarElements {
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: center;
    }

    .link {
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 400;
    }
}