.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  .loader {
    width: 60px;
    aspect-ratio: 1;
    display: grid;
  
  
    &:before,
    &:after {
      content: "";
      grid-area: 1/1;
      color: #25b09b;
      animation: l19 1.5s infinite linear;
    }
  
    &:before {
      margin: 5px 20px;
      background: currentColor;
    }
  
    &:after {
      border: solid;
      border-width: 5px 20px;
      --s: 0;
    }
  }
}

@keyframes l19 {
  0%      {transform: perspective(100px) rotate3d(1,var(--s,1),0,0)     } 
  25%     {transform: perspective(100px) rotate3d(1,var(--s,1),0,90deg) }
  25.01%  {transform: perspective(100px) rotate3d(1,var(--s,1),0,90deg) } 
  40%,60% {transform: perspective(100px) rotate3d(1,var(--s,1),0,180deg)} 
  75%     {transform: perspective(100px) rotate3d(1,var(--s,1),0,270deg)}
  75.01%  {transform: perspective(100px) rotate3d(1,var(--s,1),0,270deg)} 
  90%,100%{transform: perspective(100px) rotate3d(1,var(--s,1),0,360deg)}
}
