<div class="profile-main-container">
    <div class="profile-container">
        <h1>User Profile</h1>
        <div class="profile-details">
            <ul>
                <li>
                    <label for="username">Username:</label>
                    <span id="username">JohnDoe123</span>
                </li>
                <li>
                    <label for="fullname">Full Name:</label>
                    <span id="fullname">John Doe</span>
                </li>
                <li>
                    <label for="email">Email:</label>
                    <span id="email">johndoe@example.com</span>
                </li>
                <li>
                    <label for="birthdate">Date of Birth:</label>
                    <span id="birthdate">January 1, 1990</span>
                </li>
                <li>
                    <label for="location">Location:</label>
                    <span id="location">New York, USA</span>
                </li>
            </ul>
        </div>
    </div>
    
</div>