@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.header {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;

}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    /* background-color: white; */
    width: 100%;
    z-index: 1;

}

.navBar {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.link {
    /* color: black; */
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1.5px;
    font-weight: 500;
}

/* -----------------------------------light------------------------------------ */

.dark.navigation {
    background-color: #1B2D3F;
}

.dark.link {
    color: black;

}