.container-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    margin: 50px 0px;
}

/* .container-contacts:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-image: url("/assets/brooke-lark-nTZOILVZuOg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.4;


} */
.content-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 20px 1px rgba(119, 136, 153, 0.719); */
    gap: 200px;


}

.contact-info-title {
    text-align: center;
}
.content-contacts-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;
    height: 200px;

}

.contact-info>p {
    margin: 10px 0;
    text-align: center;
}

.content-contacts-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
    ;
    max-height: 600px;
    min-width: 250px;
    min-height: 400px;
}

.content-contacts-form>label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 20px;
}

.content-contacts-form>input[type="text"],
.content-contacts-form>input[type="email"],
.content-contacts-form>textarea {

    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.content-contacts-form>textarea {
    height: 100px;
}

.content-contacts-form>input[type="submit"] {
    width: 100%;
    background-color: orange;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;

}

.content-contacts-form>input[type="submit"]:hover {
    background-color: #FF5D5D;
}