.services {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    p {
      font-weight: 300;
      font-size: 20px;
      color: rgb(0, 0, 0);
      text-align: right;
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #7b7b7b;

    .title {
      display: flex;
      align-items: center;
      gap: 20px;
      color: #7b7b7b;

      img {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;
      }
      h1 {
        font-size: 96px;
        font-weight: 100;
      }
      button {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        background-color: plum;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1366px;
    margin: auto;
    margin-bottom: 30px;
    gap: 30px;

    .box {
      padding: 50px;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: gray;
      border-radius: 50px;

      button {
        padding: 10px;
        background-color: #99c2f5;
        border: none;
        cursor: pointer;
        border-radius: 50px;
      }
    }
  }
}
