@import "../../responsive.scss";
.profilePage {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);

  @include md {
    flex-direction: column;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .details {
    flex: 3;
    overflow-y: scroll;
    padding-top: 50px;

    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding: 0px 50px 0px 10px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      @include md {
        padding: 10px;
      }
      @include sm {
        padding: 10px;
      }

      .title {
        align-items: center;
        display: flex;
        justify-content: space-between;
        color: #2d9cdb;

        h1 {
          font-weight: 300;
        }
        button {
          padding: 12px 24px;
          background-color: #fece51;
          cursor: pointer;
          border-radius: 5px;
          border: none;
          letter-spacing: 0.5px;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        button {
          width: 100px;
          background-color: teal;
          border: none;
          color: white;
          padding: 15px;
          border-radius: 5px;
          cursor: pointer;
        }

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }
  .chatContainer {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;
    padding-top: 50px;
    border-radius: 0 0 10px 10px;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding: 0px 20px;
      height: 100%;
    }
  }
}
