.containerDashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  width: 100%;

  .contentDashboardList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;

    .dashboardContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: white;
      backdrop-filter: blur(10px);
      border-radius: 5px;
      overflow: hidden;
      width: 200px;
      box-shadow: 0px 0px 20px 1px rgba(119, 136, 153, 0.719);
      position: relative;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-5px);

        .dashboardImg {
          transform: scale(1.1);
        }
      }

      .dashboardImg {
        width: 180px;
        height: 160px;
        margin: 10px;
        background-position: center;
        object-fit: cover;
        background-size: contain;
        transition: transform 0.3s ease;
      }

      .dashboardInformation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;

        .dashboardInformationDescription {
          overflow-wrap: anywhere;
          font-size: 14px;
          height: 40px;
          overflow: hidden;
          padding: 0 10px;
          letter-spacing: 0.5px;
        }
      }
      .dashboardButton {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: orange;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        margin-bottom: 5px;
        width: 90%;
        padding: 3px;

        &:hover {
          background-color: #ff5d5d;
        }
      }
    }
  }
}
