.navbar {
  height: 100px;

  .wrapper {
    max-width: 1336px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;

    span {
      font-weight: bolder;
    }

    .social {
      display: flex;
      gap: 30px;

      a {
        color: rgba(0, 0, 0, 0.519);
        font-size: 25px;
        transition: color 0.3s;

        &:hover {
          color: rgba(128, 0, 128, 0.502);
        }

        .fa-icon {
          margin-right: 5px;
        }
      }
    }
  }
}
