{% extends 'base/base-donations-home-page.html' %}
{% block donation_content %}


        <section class="medical-equipment-section">
  

            {% for equipment in medical_equipment %}
                <div class="medical-equipment">
                    <h1>{{ equipment.name }}</h1>
                    <img src="{{ medication.image.url }}" alt="{{ medication.name }}">
                    <p>{{ equipment.date_modified }}</p>
                    <p>{{ equipment.description }}</p>
                    <p>{{ equipment.donation_price }}lv.</p>
                    
                    <button>ADD TO CARD</button>
    
                </div>
    
    
    
            {% empty %}
                <div class="empty">
                    <p>No medical equipment available.</p>
                </div>
    
            {% endfor %}
    
        </section>



{% endblock %}