{% extends 'base/base-donations-home-page.html' %}
{% load static %}
{% block donation_content %}



<section class="medications-section">


    {% for medication in medications %}
    <div class="medications">
        <h1 class="medications-title">{{ medication.name }}</h1>
        <div>
            <img src="{{ medication.image.url }}" alt="{{ medication.name }}">
            <!-- <p class="medications-date-modified">{{ medication.date_modified }}</p> -->
            <p class="medications-description">{{ medication.description }}</p>
        </div>
        <p class="medications-donation-price">{{ medication.donation_price }}<span>lv</span></p>

        <button>ADD TO CARD</button>

    </div>



    {% empty %}
    <div class="empty">
        <p>No medications available.</p>
    </div>

    {% endfor %}

</section>




{% endblock %}