{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<main>
   <section class="container-nav-medications-medical-equipment">
      <ul role='list' class="container-nav">
         <li><a href="{% url 'donations medications' %}" id="medications-link">Medications</a></li>
         <li><a href="{% url 'donations medical equipment' %}" id="medical-equipment-link">Medical Equipment</a></li>
   
   
      </ul>
   </section>
</main>

{% block donation_content %}
{% endblock %}





{% endblock %}