{% extends 'base/base-donations-home-page.html' %}
{% block donation_content %}


    <section class="medical-equipment-section">


        {% for equipment in medical_equipment %}
            <div class="medical-equipment">
                <h1 class="medical-equipment-title">{{ equipment.name }}</h1>
                <div>
                    <img src="{{ equipment.image.url }}" alt="{{ equipment.name }}">
                    <!-- <p class="medical-equipment-date-modified">{{ equipment.date_modified }}</p> -->
                    <p class="medical-equipment-description">{{ equipment.description }}</p>
                </div>
                <p class="medical-equipment-donation-price">{{ equipment.donation_price }}<span>lv</span></p>

                <form method="post" action="{% url 'add_to_cart' equipment.pk %}">
                    {% csrf_token %}
                    <input type="number" name="quantity" value="1" min="1">
                    <button type="submit">Add to Cart</button>
                </form>

            </div>



        {% empty %}
            <div class="empty">
                <p>No medical equipment available.</p>
            </div>

        {% endfor %}

    </section>



{% endblock %}