@import "../../app.scss";
// @include mobile {
// }
.parallax {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  overflow: hidden;
 

  h1 {
    font-size: 80px;
    margin-bottom: 50px;
    font-weight: 500;
    color: #7B7B7B;
    z-index: 4;

    @include mobile {
      text-align: center;
      font-size: 45px;
      width: 90%;
      margin-bottom: 350px;
    }
  }

  .mountains {
    background-image: url("./pngwing.com\ \(7\).png");
    background-size: cover;
    background-position: top;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.9;
    z-index: 3;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }

  .firstPlanet {
    background-image: url("./pngwing.com\ \(6\).png");
    background-position: center;
    object-fit: cover;
    background-size: contain;
    background-repeat: no-repeat;
    height: 20%;
    width: 10%;
    position: absolute;
    left: 400px;
    top: 150px;
    opacity: 1;
    z-index: 2;

    @include mobile {
      height: 12%;
      width: 12%;
      left: 30%;
      top: 50%;
      transform: translate(-50%, -50%);
    
    }
  }
  .secondPlanet {
    background-image: url("./pngwing.com\ \(5\).png");
    background-position: center;
    object-fit: cover;
    background-size: contain;
    background-repeat: no-repeat;
    height: 16.7%;
    width: 8%;
    position: absolute;
    right: 400px;
    top: 150px;
    opacity: 1;
    z-index: 2;

    @include mobile {
      height: 12%;
      width: 12%;
      left: 60%;
      top: 50%;
      transform: translate(-50%, -50%);
    
    }
  }
  .stars {
    background-image: url("./stars.png");
    background-size: cover;
    background-position: bottom;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.6;
    z-index: 1;
  }
}
