@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* -------------------------------------------------BUTTON------------------------------------------------------------ */

.button {
    height: 45px;
    width: 170px;
    border: none;
    outline: none;
    background: #1b2d3f;
    color: aliceblue;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    position: relative;
    z-index: 0;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 35px;
}

.button:before {

    position: absolute;
    content: '';
    top: 30px;
    left: -4px;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    border-radius: 10px;
    background: linear-gradient(45deg, #4cb8c4, #00dfc4, #4cd1b8, #72d572, #4cd1b8);
    background-size: 400%;
    z-index: -1;
    opacity: 0.7;
    filter: blur(7px);
    transition: opacity .3s ease-in-out;
    animation: anima 20s linear infinite;
}
.button:hover:before {
    opacity: 0.8;
    filter: blur(12px);
}
.button:hover:active:before {
    filter: blur(15px);
    opacity: 1;
}

.button:hover:active {
    background: none;
    color: #1B2D3F;
    font-weight: 600;
   
}

@keyframes anima {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }

}

/* ----------------------------------------------------AnimationForm-------------------------------------------------------------- */
body {

    background-color: #1B2D3F;


}

.block {
    position: relative;
    border-radius: 12px;
    width: 470px;
    height: 660px;
    background: #1b2d3f;

}

.glow::before,
.glow::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #4cb8c4, #00dfc4, #4cd1b8, #4cd1b8, #72d572, lightgreen );
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    opacity: 0.5;
    filter: blur(10px);
    border-radius: 14px;
    animation: animate 50s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 400% 0;
    }
}

.glow::after {
    filter: blur(30px);
    opacity: 0.3;
}
/* --------------------------------------------------AnimateInput------------------------------------------------------------------ */
/* -----------Form-animate--------------*/
.forms {
    width: 320px;
    margin-bottom: 20px;
    background-color: black;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    z-index: 0;
}


.formsInput {
    width: 320px;
    color: #00dfc593;
    background: rgb(255, 255, 255);
    background-color: white;
    outline: none;
    border: 1px solid white;
    padding: 8px;
    font-size: 16.5px;
    border-radius: 10px;
    z-index: 1;
 
}

/* .formsInput::placeholder {
    padding-left: 50px;

} */

.forms:before {
    position: absolute;
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: calc(100% + 0px);
    width: calc(100% + 0px);
    border-radius: 10px;
    background: linear-gradient(45deg, #B2E87F, #99DF7E, #7FD97D, #80D797, #80D5AB, #7FD4BE, #7FD3D5, #7FD1EA, #80D1FF, #83C7F6, #86C0F1, #88B7E7, #8AB0DE, #8EA8D7, #8FA0D1, #A19BCF, #A19BCF, #8FA0D1, #8EA8D7, #8AB0DE, #88B7E7, #86C0F1, #83C7F6, #80D1FF, #7FD1EA, #7FD3D5, #7FD4BE, #80D5AB, #80D797, #7FD97D, #99DF7E, #B2E87F);
    z-index: 1;
    opacity: 0.8;
    background-size: 400%;
    filter: blur(5px);
    transition: opacity .3s ease-in-out;
    animation: ani 20s linear infinite;

}

.forms:hover:before {
    opacity: 1;
    filter: blur(5px);
}

.forms:focus-within:before {
    opacity: 1;
    filter: blur(9px);
}

@keyframes ani {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 400% 0;
    }
}

/* -----------Form-animate--------------*/
/* -----------Form-text-animate--------------*/

.inputBox {
    position: relative;
}

.inputBox input {
    background: #1b2d3f;
    outline: none;
    padding-left: 20px;
    

}

.inputBox span {
    position: absolute;
    left: 20px;
    top: 9.5px;
    pointer-events: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.25);
    z-index: 1;
    transition: 0.5s;
    
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: lightblue;

    top: 2.5px;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.7rem;
    background-color: #1d2b3a;
    padding: 0px 5px;
    border-radius: 3px;
    /* border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4; */
    letter-spacing: 0.2em;
    z-index: 1;
    font-weight: 500;
}

/* -----------Form-text-animate--------------*/
/* -------------------------------------------------styleForm-------------------------------------------------------------------- */

/*  */
/* font-family: 'Caveat', cursive; */
/* font-family: 'Courgette', cursive; */


/* ------------main --------------*/
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    font-family: 'Montserrat', sans-serif;

}


.authenticationPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 600px; */
    min-width: 310px;
    max-width: 450px;

}

.authenticationPageHeader {
    display: flex;
    flex-direction: row;
}

.registerPageFormAuthentication {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* min-width: 310px;
    max-width: 450px;
    height: 600px; */



}

.registerPageFormSubtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 35px;
}

.registerPageFormSubtitle>h3 {
    color: rgba(142, 236, 142, 0.6);
}



.externalLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* .registerPageForm-contentAdditionalConditions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

} */
/* -----------Header nav--------------*/
.registerPageFormAuthenticationHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5px;
    

}

.registerPageFormAuthenticationHeaderLogin span a,
.registerPageFormAuthenticationHeaderRegister span a {
    text-decoration: none;
    color: #ADB3B5;
    font-size: 25px;
    letter-spacing: 1.5px;


}

.registerPageFormAuthenticationHeaderLogin,
.registerPageFormAuthenticationHeaderRegister {

    border-bottom: 2px solid rgba(142, 236, 142, 0.6);

    padding-bottom: 15px;

}

.registerPageFormAuthenticationHeaderLogin:hover,
.registerPageFormAuthenticationHeaderRegister:hover {
    border-bottom: 2px solid rgba(142, 236, 142, 1);



}

/* -----------Form--------------*/

.registerPageFormContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.sectionUsernameEmailPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    justify-content: space-evenly;
    /* margin-bottom: 5px; */
    gap: 5px;
    margin-top: 30px;
}

/* -----------Form--------------*/
/* -----------Form header h3 p--------------*/
.registerPageFormSubtitle {
    margin-bottom: 15px;
    z-index: 1;

}

.registerPageFormSubtitle h3 {
    
    letter-spacing: 1.5px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;

}

.registerPageFormSubtitle p {
    
    font-size: 14px;
    letter-spacing: 1px;
    color: #909597;


}

/* -----------Header h1 p--------------*/

/* -----------Form-term-------------*/
.registerPageFormContentAdditionalConditions {
    margin-bottom: 35px;
    width: 320px;
    font-size: 14px;
    letter-spacing: 0.5px;

}

.registerPageFormContentAdditionalConditions span a {
    text-decoration: none;
    color: #508a85;
}

/* -----------AlreadyRegistered-------------*/
.registerPageFormAlreadyRegistered {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 35px;
    justify-content: center;
    gap: 10px;

}

.registerPageFormAlreadyRegistered span {
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 13px;
    color: lightblue;


}

.registerPageFormAlreadyRegistered span a {
    text-decoration: none;
    letter-spacing: 0.5px;
    color: lightgreen;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: 1px solid #508a85;

}

/* ==========externalLogin-google ==========*/
.externalLogin a {
    display: flex;
    text-decoration: none;
    letter-spacing: 0.5px;
    color: #508a85;
    font-size: 14px;
    /* border: 1px solid; */
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #416677;
    align-items: center;


}

.externalLogin a img {

    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.externalLogin a:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 10px 5px #445c77;
}

.externalLogin a:active {
    transition: 0.5s;
    box-shadow: 0px 0px 9px 7px #44776c;
}

.registerError {
    color: rgba(0, 255, 255, 0.799);
    position: absolute;
    font-size: 11px;
    left: 55px;
    bottom: 180px;
    width: 350px;
    text-align: center;
}