/* -----------------------------------Sign-In-Sign-Up---------------------------------------- */
.containerSignInSignUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

.contentSignInSignUp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 700px;
    height: 480px;
    /* background-color: green; */
    border-radius: 50px;
    overflow: hidden;
    border: 3px solid #70b11c8e;
    /* box-shadow: 0px 0px 10px 1px ; */

}

.signInContainer {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 480px;
    transition: transform 1.5s;
    /* Increase the duration */
    z-index: 0;
}

.signUpContainer {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 480px;
    background-color: rgba(255, 255, 255, 0.789);
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.authenticationDescriptionSignUp {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 480px;
    animation: slideUp 1.5s ease;


}

.authenticationDescriptionSignIn {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 480px;
    animation: slideIn 1.5s ease;
}

.authenticationCoverContentImg {
    /* background-color: rgba(0, 0, 0, 0.742); */
    background: linear-gradient(25deg, #70b11ca1, rgba(0, 67, 0, 0.483), rgba(255, 255, 0, 0.637));
}

.authenticationCoverImg {
    z-index: 1;
    background-position: center;
    object-fit: cover;
    background-size: contain;
    opacity: 0.3;
    filter: blur(1px);
}

.authenticationCoverInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    color: white;
    padding: 10px;
}

.authenticationCoverTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 500;
    margin: 10px;
    text-shadow: 0px 0px 3px black;
    letter-spacing: 1.5px;


}

.authenticationCoverDescription {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-shadow: 0px 0px 3px black;
    margin: 10px;


}

.signUpButtonNavigator,
.signInButtonNavigator {
    margin: 15px;
    border: none;
    padding: 10px 25px;
    /* width: 125px; */
    border-radius: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: orange;
    font-weight: 600;
    color: white;
    box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.603);
    font-size: 14px;
    text-shadow: 0px 0px 3px rgb(0, 85, 0);


}

.signUpButtonNavigator:hover,
.signInButtonNavigator:hover {
    transition: 1s;
    background-color: #70B11C;
    box-shadow: 0px 1px 1px 1px gray;
}

.signUpButtonNavigator:focus,
.signInButtonNavigator:focus {
    cursor: pointer;
    transition: 1s;
    border-bottom: 3px solid #70B11C;

}

.signUpButtonNavigator:active,
.signInButtonNavigator:active {
    cursor: pointer;
    transition: 1s;
    border-bottom: 3px solid #70B11C;

}