/* -------------------------------------border-radius------------------------------------------- */
.border-radius-3px {
    border-radius: 3px;
}

.border-radius-5px {
    border-radius: 5px;
}
.edge{
    border-radius: 0;
}
.circle {
    border-radius: 100%;
}

/* -------------------------------------text-color------------------------------------------- */
.white {
    color: white;
}

.black {
    color: black;
}

.gray {
    color: gray;
}

.lightgray {
    color: lightgray;
}
/* ---------------------------------------flex------------------------------------------------ */
/* ------------------------------------flex-row-wrap------------------------------------------ */
.flex-row-center-center-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.flex-row-center-evenly-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}
.flex-row-center-around-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}
.flex-row-center-between-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.flex-row-center-start-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

}
.flex-row-center-end-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

}
/* ------------------------------------flex-row------------------------------------------ */
.flex-row-center-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.flex-row-center-evenly {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}
.flex-row-center-around {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.flex-row-center-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.flex-row-center-start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}
.flex-row-center-end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

}
/* ------------------------------------flex-col------------------------------------------ */
.flex-col-center-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.flex-col-center-evenly {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.flex-col-center-around {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}
.flex-col-center-between {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.flex-col-center-start {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

}
.flex-col-center-end {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

}