{% extends 'base/index.html' %}
{% block content %}

    <main class="main-cards-content">
        <section class="container-cards">
            <ul class="cards-lists" role="list">
                {% for event in events %}
                    <li class="card-list-element">
                        <img class="card-list-element-img" src="{{ event.cover_image.url }}" alt="{{ event.title }}">
                        <h1 class="card-list-element-title">{{ event.title }}</h1>
                        <a href="{% url 'event_detail' event.pk %}">SEE MORE</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}"><i class="fa-solid fa-caret-left"></i></a>
                {% else %}
                    <a><i class="fa-solid fa-caret-left"></i></a>
                {% endif %}

                {{ page_obj.number }} / {{ paginator.num_pages }}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&search={{ search }}"><i class="fa-solid fa-caret-right"></i></a>
                {% else %}
                    <a><i class="fa-solid fa-caret-right"></i></a>
                {% endif %}
            </div>
        </section>
    </main>

{% endblock %}
