{% extends 'base/index.html' %}
{% block content %}

    <main class="main-cards-content">
        <section class="container-cards">
            <ul class="cards-lists" role="list">
                {% for event in events %}
                    <li class="card-list-element">
                        <img class="card-list-element-img" src="{{ event.cover_image.url }}" alt="{{ event.title }}">
                        <h1 class="card-list-element-title">{{ event.title }}</h1>
                        <a href="{% url 'event_detail' event.pk %}">SEE MORE</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>

{% endblock %}
