.containerWeather {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  transition: 1s;

}

.formWeather {
  /* margin-top: 50px; */
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.formWeather button {
  border: none;
  padding: 0px 18px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 3px solid #1b2d3f;
  background-color: rgba(173, 216, 230, 0.744);
  color: black;

}

.formWeather button:hover {
  cursor: pointer;
  background-color: #1b2d3f;
  color: lightblue;
  border: 3px solid rgba(173, 216, 230, 0.495);
  font-weight: 600;
  transition: 0.5s;
}
.formWeather button:active {
  cursor: pointer;
  background-color: #1b2d3f;
  color: lightgreen;
  border: 3px solid rgba(144, 238, 144, 0.834);
  font-weight: 600;
  transition: 0.5s;
}
.formWeather input {
  padding: 10px;
  border-radius: 5px;
  background-color: #1b2d3f;
  border: 2px solid rgba(173, 216, 230, 0.475);
  color: lightblue;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.weatherInfo {
  display: flex;
  text-align: center;
  flex-direction: row;
  /* width: 790px; */
  justify-content: space-between;
  align-items: flex-start;
  /* padding-right: 60px; */
}

.mapContainer {
  display: flex;
  position: relative;
  width: 400px;
  height: 250px;
}

.contentDataWeather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  flex-wrap: wrap;
  height: 250px;


}

.contentDataWeather p {
  color: rgb(217, 210, 210);
  font-size: 16px;
}

.contentDataWeather h2 {
  color: rgb(188, 188, 188);
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: 500;
}

.contentDataWeather span {
  color: lightblue;
  font-size: 18px;

}

.marker {
  width: 30px;
  height: 42px;
  background-image: url('https://static-00.iconduck.com/assets.00/map-marker-icon-1366x2048-7u371uwd.png');
  background-size: cover;
  z-index: 1;
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contentIframe {
  width: 400px;
  height: 250px;
  border: 1px solid rgb(169, 168, 168);
  border-radius: 5px;


}

.containerImageDefault {
  min-width: 700px;
  padding-right: 300px;

}

.imageDefault {
  display: flex;
  width: 400px;
  height: 255px;
  border-radius: 6px;
  padding-top: 30px;
  opacity: 0.7;

}


@media only screen and (max-width: 1194px) {
  .containerWeather {
    width: 320px;
    flex-direction: column;
    min-height: 550px;
    align-items: center;

  }

  .formWeather {
    flex-direction: column;
    width: 95%;
    height: 100px;

  }

  .weatherInfo {
    width: 100%;
    align-self: center;
    flex-direction: column;

  }

  .contentDataWeather {
    justify-content: center;
    align-items: center;
  }

  .containerImageDefault {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-width: 100%;


  }

  .imageDefault {
    display: flex;
    width: 95%;
    height: 255px;
    border-radius: 6px;
    padding-top: 30px;
    opacity: 0.7;
  }

  .formWeather button {
    padding: 5px;
  }

  .contentIframe {
    width: 320px;
    height: 250px;
    border: 1px solid rgb(169, 168, 168);
    border-radius: 5px;
  }

  .marker {
    top: 41%;
    left: 40%;
  }
}


