

/* ------------------------------main------------------------------ */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 94vh;
}

.information-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    /* background-color: #a3d368e5; */
    height: 101vh;
}

.information-img {
    width: 550px;
    height: 550px;
    border-radius: 100%;
    background-position: center;
    object-fit: cover;
    background-size: contain;
}

.content-info {
    display: flex;
    flex-direction: column;

}

.info-title {
    font-size: 65px;
    font-weight: 400;
}

.info-description {
    width: 600px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.team-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #a3d368e5; */
    height: 101vh;
}

.content-team {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    gap: 60px;
    padding-left: 50px;
}

.team-title {
    font-size: 63px;
    font-weight: 400;
    /* border-bottom: 5px solid white; */
}

.team-description {
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 500;
    width: 600px;

}

.team-link {
    padding: 10px 20px;
    /* color: black; */
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    /* background-color: white;
    border: 5px solid white; */
    letter-spacing: 1px;


}

/* .team-link:hover {
    border: 5px solid white;
    background-color: #a3d368;


} */

.contacts-info {
    display: flex;
    flex-direction: column;
    /* background-color: #63d3ff81; */
    height: 101vh;
    align-items: center;
    justify-content: center;
    width: 100%;


}

.content-contacts {
    display: flex;
    flex-direction: column;
    /* border: 5px dotted white; */
    padding: 50px;
    width: 1230px;

}

.contacts-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px 30px 30px 80px;
}

.contact>a {
    display: flex;
    flex-direction: row;
    width: 500px;
    align-items: center;
    gap: 50px;
}

.contact>a>img {
    width: 150px;
}

.contact>a>p {
    font-size: 25px;
    /* color: black; */
}



