

/* -----------------------------------Home-page------------------------------------ */

.light.information-section {
    background-color: #f6b02d66;


}

.light.team-section {
    background-color: #a3d368e5;
}

.light.team-title {
    border-bottom: 5px solid white;

}

.light.team-link {
    color: black;
    background-color: white;
    border: 5px solid white;

}

.light.team-link:hover {
    border: 5px solid white;
    background-color: #a3d368;
}

.light.contacts-info {
    background-color: #63d3ffbb;

}

.light.content-contacts {
    border: 5px dotted white;

}

.light.contact>a>p {
    color: black;

}




/* ----------------------------------login-register-form---------------------------------------- */
.light.button {
    background-color: rgb(255, 255, 255);
    color: black;

}

.light.button:before {
    opacity: 1;
}

.light.block {
    background: white;


}

.light.forms {
    /* background-color: black; */


}

.light.forms-input {
    color: black;
    background: rgb(255, 255, 255);

    background-color: white;
    border: 2px solid white;
}

.light.forms:before {
    /* background: none; */
    /* background-color: rgba(255, 255, 255, 0.753); */
}

.light.input-box input {
    background: none;

}

.light.input-box span {
    color: black;
}

.light.input-box input:valid~span,  .light.input-box input:focus~span{
    color: black;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;

}

.light.register-page-form-subtitle>h3 {
    color: rgba(0, 0, 0, 0.474);
}

.light.register-page-form-authentication-header-login span a, .light.register-page-form-authentication-header-register span a {
    color: #ADB3B5;
}

.light {}

.light {}

.light {}

.light {}

.light {}

/* -------------------------------footer-------------------------------- */
.light.footer {
    background-color: white;

}

.light.footer>p {
    color: black;

}