/* font-family: 'Barlow', sans-serif; */
/* font-family: 'Caveat', cursive; */
/* font-family: 'Courgette', cursive; */


/* ------------main --------------*/
.content {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.authentication-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    min-width: 310px;
    max-width: 450px;

}

.authentication-page-header {
    display: flex;
    flex-direction: row;
}

.register-page-form-authentication {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 310px;
    max-width: 450px;
    height: 600px;



}

.register-page-form-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.register-page-form-subtitle>h3 {
    /* color: rgba(142, 236, 142, 0.6); */
}



.external-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* .register-page-form-content-additional-conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

} */
/* ------------header nav--------------*/
.register-page-form-authentication-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;





}

.register-page-form-authentication-header-login span a,
.register-page-form-authentication-header-register span a {
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    /* color: #ADB3B5; */
    font-size: 25px;
    letter-spacing: 1.5px;


}

.register-page-form-authentication-header-login,
.register-page-form-authentication-header-register {

    border-bottom: 2px solid rgba(142, 236, 142, 0.6);

    padding-bottom: 15px;

}

.register-page-form-authentication-header-login:hover,
.register-page-form-authentication-header-register:hover {
    border-bottom: 2px solid rgba(142, 236, 142, 1);



}

/* ------------form--------------*/

.register-page-form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.section-username-email-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

/* ------------form--------------*/
/* ------------form header h3 p--------------*/
.register-page-form-subtitle {
    margin-bottom: 15px;
    z-index: 1;

}

.register-page-form-subtitle h3 {
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1.5px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;

}

.register-page-form-subtitle p {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #909597;


}

/* ------------header h1 p--------------*/

/* ------------form-term-------------*/
.register-page-form-content-additional-conditions {
    margin-bottom: 35px;
    width: 320px;
    font-size: 14px;
    letter-spacing: 0.5px;

}

.register-page-form-content-additional-conditions span a {
    text-decoration: none;
    color: #508a85;
}

/* ------------already-registered-------------*/
.register-page-form-already-registered {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 35px;
    justify-content: center;
    gap: 10px;

}

.register-page-form-already-registered span {
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 13px;


}

.register-page-form-already-registered span a {
    text-decoration: none;
    letter-spacing: 0.5px;
    color: #508a85;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: 1px solid #508a85;

}

/* ==========external-login-google ==========*/
.external-login a {
    display: flex;
    text-decoration: none;
    letter-spacing: 0.5px;
    color: #508a85;
    font-size: 14px;
    /* border: 1px solid; */
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #416677;
    align-items: center;


}

.external-login a img {

    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.external-login a:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 10px 5px #445c77;
}

.external-login a:active {
    transition: 0.5s;
    box-shadow: 0px 0px 9px 7px #44776c;
}