<div class="container-edit-recipe">
  <form class="edit-recipe-form" method="post" action="">
    <div>
      <label for="image" class="edit-recipe-label">
        Image
      </label>
      <input type="text" class="edit-recipe-input" name="image" placeholder="Upload image" />
    </div>
    <div>
      <label for="title" class="edit-recipe-label">
        Title
      </label>
      <input type="text" name="title" placeholder="Enter recipe title" class="edit-recipe-input" />
    </div>

    <div>
      <label for="description" class="edit-recipe-label">
        Description
      </label>
      <textarea name="description" rows="4" cols="50" placeholder="Enter recipe description"
        class="edit-recipe-textarea"></textarea>
    </div>

    <div>
      <label for="ingredients" class="edit-recipe-label">
        Ingredients
      </label>
      <textarea name="ingredients" rows="4" cols="50" placeholder="Enter recipe ingredients"
        class="edit-recipe-textarea"></textarea>
    </div>

    <button type="submit" class="edit-recipe-button">Edit</button>
  </form>
</div>