@import "../../responsive.scss";
.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  min-height: 50vh;
  padding: 0px 0px 20px 0px;

  

  .contentContactsLogoAddress {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;

    .center {
      flex: 1;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      .contacts {
        flex: 1;
        margin: 0;
        display: flex;
        flex-direction: column;
  
        li {
          display: flex;
          list-style: none;
          gap: 10px;
        }
      }
    }
    .contentLogoSocial {
      display: flex;
      flex-direction: column;
      flex: 1;

      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 80px;
          object-fit: cover;
        }
        span {
          font-weight: bold;
          font-size: 20px;
          display: flex;
          align-items: center;
          color: #2d9cdb;
        }
      }
      .contentSocial {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        width: 100%;

      }
    }
    .contentMenu {
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      .menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }

  .instagramImgs {
    display: grid;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;


    grid-template-areas: "img1 img2 img3 img4 img5 img6";

    img:nth-child(1) {
      grid-area: img1;
    }
    img:nth-child(2) {
      grid-area: img2;
    }
    img:nth-child(3) {
      grid-area: img3;
    }
    img:nth-child(4) {
      grid-area: img4;
    }
    img:nth-child(5) {
      grid-area: img5;
    }
    img:nth-child(6) {
      grid-area: img6;
    }

    img {
      width: 130%;
      height: 50%;
      object-fit: cover;
      border-radius: 5px;
      opacity: 0.7;

      @include md {
        width: 100%;

    }
    }
  }
  .allRightsReserved {
    letter-spacing: 1.5px;
    color: gray;
    margin-top: 20px;
  }
}
