html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
  color: gray;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

section {
  min-height: 100vh;
  scroll-snap-align: center;
  width: 100%;

}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1074px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1336px) {
    @content;
  }
}

:root {
  --text-color: #7b7b7b;
  --btn-border-radius: 9px;
  --btn-border-color: #9bc4f5;
  --btn-bg-color: transparent;
}
