/* -------------------------------cysticFibrosis-section------------------------------------------ */

.cysticFibrosisSection {

    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    width: 100%;

    position: relative;
}

.cysticFibrosisDropdownContent::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/pngwing.com.png');
    background-size: 45%;
    background-position: bottom;
    opacity: 0.3;
    background-repeat: no-repeat;
    /* filter: grayscale(); */
    z-index: -1;
    perspective: 800px;
    animation: rotate 5s linear forwards;
    transform-style: preserve-3d;
}
    @keyframes rotate {
        from {
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(360deg);
        }
    }

.cysticFibrosisTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 300;
    min-height: 150px;
    width: 100%;
    border: none;
    font-style: italic;

}

.cysticFibrosisDropdownContent {
    display: none;

}

.cysticFibrosisDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 120px; */
    min-height: 300px;
    width: 100%;
}

.cysticFibrosisWhat {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    margin-top: 10px;
}

.cysticFibrosisWhat div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cysticFibrosisDescription {
    font-size: 16.5px;
    font-weight: 400;


}

.cysticFibrosisAffects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 600px;
    margin-top: 10px;
    padding-left: 60px;
}

.cysticFibrosisSubtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 300;
}

.cysticFibrosisOrgans {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cysticFibrosisOrgan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

.cysticFibrosisOrganTitle {
    font-size: 18px;
    font-weight: 500;
}

.cysticFibrosisOrganLungsImage {
    width: 120px;
    height: 110px;
    border-radius: 100%;
    background-position: center;
    object-fit: cover;
    background-size: contain;
    filter: grayscale(50%);

}

.cysticFibrosisOrganPancreasImage {
    width: 118px;
    filter: grayscale(50%);

}

.cysticFibrosisOrganLiverImage {
    width: 120px;
    height: 110px;
    border-radius: 100%;
    background-position: center;
    object-fit: cover;
    background-size: contain;
    filter: grayscale(50%);



}

.cysticFibrosisOrganIntestineImage {
    width: 120px;
    height: 110px;
    border-radius: 100%;
    background-position: center;
    object-fit: cover;
    background-size: contain;
    filter: grayscale(50%);
}

.cysticFibrosisSymptoms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 250px;
}

.cysticFibrosisSymptomsInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    margin-top: 10px;
}

.cysticFibrosisCauseInfo {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

.cysticFibrosisCause {
    font-size: 18px;
}

.cysticFibrosisSymptomsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    justify-content: center;
    gap: 10px 20px;
    margin-top: 25px;


}

.cysticFibrosisSymptom {
    display: flex;
    border: 1px solid gray;
    padding: 5px 10px;

}

.cysticFibrosisFacts {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    min-height: 250px;
    align-items: center;
    justify-content: space-around;
    font-weight: 400;
    font-size: 16px;
}

.cysticFibrosisFactsInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    width: 550px;
    margin-top: 10px;
}

.cysticFibrosisCftrInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
}

.cysticFibrosisCftr {
    width: 550px;
    font-size: 16.5px;
}

/* -------------------------------cysticFibrosis-section------------------------------------------ */
